
/*------------------------------------*\
    #Animations
\*------------------------------------*/


/*------------------------------------*\
    #Fade In Animation
\*------------------------------------*/


.a-fadeIn {
    opacity: 0; 
    animation: fadeIn .4s ceaser($easeInOutQuint); 
    animation-fill-mode: forwards; 
}


@include keyframes(fadeIn) { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 

    }

}


@include keyframes(fadeOut) { 
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0; 

    }

}


// Sets all enter-in and fade-in classes start at zero to avoid FOUT
.a-fadeIn,
.fade-in {
    opacity: 0; 
}






/*------------------------------------*\
    #Animations with is-showing
\*------------------------------------*/


.a-showByFadeIn {

    opacity: 0; 
    @include  single-transition(all, .4s, ceaser($easeInOutQuint)); 

    &.is-showing {
        opacity: 1; 
    }
}


.a-showByFadeIn2 {
    
    opacity: 0; 
    @include  single-transition(all, 1.6s, ceaser($easeInOutQuint)); 

    &.is-showing {
        opacity: 1; 
        @include  single-transition(all, .8s, ceaser($easeInOutQuint)); 

    }

}

.a-showByPopIn {
    opacity: 0; 

    &.is-showing {
        opacity: 1 !important; 
        popIn: animation .4s ceaser($easeInOutQuint)  both;
       @include animation(popIn .4s ceaser($easeInOutQuint)  both);
    }

}


.a-showBySlideInLeft {
    
    opacity: 0; 
    @include transition(transform .6s ceaser($easeInOutQuint), opacity .3s ceaser($easeInOutQuint)); 
    @include transform(translate3d(50px, 0, 0)); 

    &.is-showing {
        opacity: 1; 
        @include transform(translate3d(0, 0, 0)); 
        @include transition(transform .6s ceaser($easeInOutQuint), opacity .3s ceaser($easeInOutQuint)); 
    }

}

.a-showBySlideInBottom {

    opacity: 0;
    @include transition(all, .8s, ease); 
    @include transform(translateY(50px)); 

    &.is-showing {

        opacity: 1; 
        @include transform(translateY(0)); 

    }

}


.showBySlideInBottomCntnr {

    .a-showBySlideInBottom:nth-child(odd) {

        @include transition-duration(.6s); 
    }

}

.a-showBySlideInBottom2 {

    opacity: 0;
    @include transform(translateY(50px)); 

    &.is-showing {

        opacity: 1; 
        @include transform(translateY(0)); 
        @include  single-transition(all, 1.2s, ease-in-out); 

    }

}


.a-showByBlur {

    opacity: 0;
    @include filter(blur(50px)); 

    &.is-showing {

        opacity: 1; 
        @include filter(blur(0)); 
        @include  single-transition(all, 1.6s, ease-in-out); 

    }

}



.a-growShrink  {
    @include animation(growShrink 1s  ceaser($easeInOutQuint) forwards); 
}

@include keyframes(growShrink) {

    
    0% {
        opacity: 1;  
        @include transform(scale(.1)); 

    }

    50% {
        opacity: 1;  
        @include transform(scale(1.2)); 

    } 
    

    98% {
        @include transform(scale(.1)); 

    }

    100% {
        opacity: 0; 
        @include transform(scale(.1)); 
        
    }


}






/*------------------------------------*\
    #Animations with is-hidden
\*------------------------------------*/

.a-hideByFadeOut {

    opacity: 1; 
    @include  single-transition(all, .6s, ceaser($easeInOutQuint)); 

    &.is-hidden {

        opacity: 0; 
        @include  single-transition(all, 1.6s, ceaser($easeInOutQuint)); 

    }
}





/*------------------------------------*\
    #Animations for buttons
\*------------------------------------*/


// @-webkit-keyframes downPush {

//     0% {
//         @include transform(scale(1));
//     }
//     50% {
//         @include transform(scale(.8)); 
//     }
//     100% {
//         @include transform(scale(1)); 
//     }
// }



// .ui-view-container {
//     position: relative;
// }



// $slide-speed: .6s; 


// @media #{$medium-up} {

//     [ui-view].main-view.ng-enter, [ui-view].main-view.ng-leave {
//         position: absolute;
//         left: 0;
//         right: 0;
//     }

//     [ui-view].main-view.ng-enter {
//         -webkit-animation: slideInRight $slide-speed ceaser($easeInOutQuart);
//         animation: slideInRight $slide-speed ceaser($easeInOutQuart);
//     }

//     [ui-view].main-view.ng-enter-active {}

//     [ui-view].main-view.ng-leave {
//         -webkit-animation: slideOutLeft $slide-speed ceaser($easeInOutQuart);
//         animation: slideOutLeft $slide-speed ceaser($easeInOutQuart);
//     }

//     /*[ui-view].main-view.ng-leave-active {}*/

//     [ui-view].main-view.ng-enter.back {
//         -webkit-animation: slideInLeft $slide-speed ceaser($easeInOutQuart);
//         animation: slideInLeft $slide-speed ceaser($easeInOutQuart);
//     }

//     [ui-view].main-view.ng-leave.back {
//         -webkit-animation: slideOutRight $slide-speed ceaser($easeInOutQuart);
//         animation: slideOutRight $slide-speed ceaser($easeInOutQuart);
//     }

// }


.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}    
}


.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }
