
/*------------------------------------*\
    #Animations
\*------------------------------------*/


/*------------------------------------*\
    #Preload Animation Timing
\*------------------------------------*/

//
// Makes animation timing at 0 so animations dont show at the beginning of page load
// we also use this class to avoid FOUT on any elements that animate into the screen from off canvas
body.preload * {
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}




//
// Fade in animations for steps in a ui-view with the name of form 
//
[ui-view="form"].ng-enter  {
  @include transition(all .4s ceaser($easeInOutCubic));
}

[ui-view="form"].ng-enter{ 
  opacity: 0; 
}

[ui-view="form"].ng-enter-active {
  opacity: 1; 
}




//
// Fade in animations for main sponsor view 
//
[ui-view="sponsor"].ng-enter {
  @include transition(all .4s ceaser($easeInOutCubic) .1s);
}

[ui-view="sponsor"].ng-enter { 
  opacity: 0; 
}

[ui-view="sponsor"].ng-enter-active,{
  opacity: 1; 
}


[ui-view="sponsor"].ng-hide {
  opacity: 0;
}

[ui-view="sponsor"].ng-hide-add,
[ui-view="sponsor"].ng-hide-remove {
  @include transition(all .4s ceaser($easeInOutCubic));
}




//
// Fade in animations for Login screen
//
.card--login-form.ng-enter {
  @include transition(all .4s ceaser($easeInOutCubic) .1s);
}

.card--login-form.ng-enter { 
  opacity: 0; 
}

.card--login-form.ng-enter-active,{
  opacity: 1; 
}


.card--login-form.ng-hide {
  opacity: 0;
  display: block!important;
  visibility: hidden;
}

.card--login-form.ng-hide-add,
.card--login-form.ng-hide-remove {
  @include transition(all .4s ceaser($easeInOutCubic));
}





.improveAnimation {
  -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}