
/*------------------------------------*\
    #Animations
\*------------------------------------*/


/*------------------------------------*\
    #Preload Animation Timing
\*------------------------------------*/

//
// Makes animation timing at 0 so animations dont show at the beginning of page load
// we also use this class to avoid FOUT on any elements that animate into the screen from off canvas
.preload * {
  
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
    
}