
/*------------------------------------*\
    #Icons 
\*------------------------------------*/

/*------------------------------------*\
    #Fon-face font-family  
\*------------------------------------*/


// @font-face {
//   font-family: 'siteicons';
//   src: url('../assets/fonts/siteicons.eot?54176433');
//   src: url('../assets/fonts/siteicons.eot?54176433#iefix') format('embedded-opentype'),
//        url('../assets/fonts/siteicons.woff2?54176433') format('woff2'),
//        url('../assets/fonts/siteicons.woff?54176433') format('woff'),
//        url('../assets/fonts/siteicons.ttf?54176433') format('truetype'),
//        url('../assets/fonts/siteicons.svg?54176433#siteicons') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }





/*------------------------------------*\
    #Master Icon Class  (Applies to all icons)
\*------------------------------------*/

// Main styles for all icons before and after text 
 [class^="icon--"]:before, [class*="icon--"]:before,
  [class^="icon--"]:after, [class*="icon--"]:after {
   
    @extend %iconStyles; 
}


[class^="icon--"] {

    text-decoration: none;
    
}


[class^="icon--"]:before, [class*="icon--"]:before {

    margin-right: .2em;

}

[class^="icon--"]:after, [class*="icon--"]:after {

    margin-left: .2em;

}


.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-up-open-big:before { content: '\e803'; } /* '' */
.icon-star-filled:before { content: '\e804'; } /* '' */
.icon-up-hand:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cw:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-asl:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-plus-1:before { content: '\e814'; } /* '' */
.icon-plus-2:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-minus-1:before { content: '\e817'; } /* '' */
.icon-minus-2:before { content: '\e818'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */

/*------------------------------------*\
    #Icon Sizes 
\*------------------------------------*/


.icon--mega {
    @extend %text-mega; 
}

.icon--kilo {
    @extend %text-kilo; 
}

.icon--large {
    @extend %h1;
}

.icon--medium {
    @extend %h2;
}

.icon--small {
    @extend %h4; 
}

.icon--micro {
    @extend %text-micro; 
}


.icon--noMargin:before,
.icon--noMargin:after {
    margin-right: 0; 
    margin-left: 0; 
}
