
/*------------------------------------*\
    #Icons 
\*------------------------------------*/


.icon--center {
  
  background-position: center;    /* 1 */
  text-align: center;             /* 2 */

  &:before {
      content: '';                /* 3 */
      display: inline-block;      /* 3 */
      vertical-align: middle;     /* 3 */
      height: 100%;               /* 4 */
  }

  > svg {
      vertical-align: middle;     /* 5 */
  }

}





/*------------------------------------*\
    #Icon badge  
\*------------------------------------*/


.icon--badge {
  height: rem-calc(48px);
  width: rem-calc(48px);
  border: 1px solid $grey--med;
  fill: $grey--med;  
  position: relative; 
  padding: rem-calc(7px);
  margin-bottom: rem-calc($base-magic-number); 
  @include border-radius(100%);

}