

/*------------------------------------*\
    #Link Styles 
\*------------------------------------*/


a {
  text-decoration: none; 

}


p {

  a {
    color: $tertiaryColor;
    position: relative; 
    @include transition(all .2s ceaser($easeInOutQuint)); 


  }

}

    
.no-touch {
  
  p {

    a {

      &:before {
        content: " "; 
        left: 0; 
        bottom: -2px; 
        width: 100%; 
        height: 2px; 
        background-color: $primaryColor; 
        position: absolute; 
        opacity: 0; 
        @include transform(translateY(3px)); 
        @include transition(all .2s ceaser($easeInOutQuint)); 

      }
    
      &:hover,
      &:focus {
        color: $primaryColor;
        
        &:after {
          opacity: 0; 
          @include transform(translateY(-4px)); 

        }

        &:before {
          opacity: 1; 
          @include transform(translateY(0)); 

        }

      }
    }
  
  }
  
}


a.styled-link {
  color: $tertiaryColor;
  position: relative; 
  @include transition(all .2s ceaser($easeInOutQuint)); 

}


.no-touch {

  a.styled-link {

    &:before {
      content: " "; 
      left: 0; 
      bottom: -2px; 
      width: 100%; 
      height: 2px; 
      background-color: $primaryColor; 
      position: absolute; 
      opacity: 0; 
      @include transform(translateY(3px)); 
      @include transition(all .2s ceaser($easeInOutQuint)); 

    }

    &:hover,
    &:focus {
      color: $primaryColor;
      
      &:after {
        opacity: 0; 
        @include transform(translateY(-4px)); 

      }

      &:before {
        opacity: 1; 
        @include transform(translateY(0)); 

      }

    }
  }

}



a.alt-link {
  color: #fff; 
  position: relative; 

  &:active {
    background-color: $secondaryColor; 
    color: #fff; 

  }

}


.no-touch {

  a.alt-link {

    &:after {
      content: " "; 
      right: 0; 
      left: 0; 
      bottom: -2px; 
      width: 100%; 
      height: 2px; 
      background-color: #fff; 
      position: absolute; 
      opacity: 1; 
      @include transition(all .2s ceaser($easeInOutQuint)); 

    }

    &:before {
      content: " "; 
      left: 0; 
      bottom: -2px; 
      width: 100%; 
      height: 2px; 
      background-color: $secondaryColor; 
      position: absolute; 
      opacity: 0; 
      @include transform(translateY(3px)); 
      @include transition(all .2s ceaser($easeInOutQuint)); 

    }


    &:hover, 
    &:focus {
      color: $secondaryColor; 

      &:after {
        opacity: 0; 
        @include transform(translateY(-4px)); 

      }

      &:before {
        opacity: 1; 
        @include transform(translateY(0)); 

      }

    }


  }

}




a.alt-link2 {
  color: $primaryColor;
  position: relative; 

  &:active {
    color: #fff; 

  }

}


.no-touch  {

  a.alt-link2 {

    &:after {
      content: " "; 
      right: 0; 
      left: 0; 
      bottom: -2px; 
      width: 100%; 
      height: 2px; 
      background-color: #fff; 
      position: absolute; 
      opacity: 0; 
      @include transition(all .2s ceaser($easeInOutQuint)); 

    }

    &:before {
      content: " "; 
      left: 0; 
      bottom: -2px; 
      width: 100%; 
      height: 2px; 
      background-color: #fff; 
      position: absolute; 
      opacity: 0; 
      @include transform(translateY(3px)); 
      @include transition(all .2s ceaser($easeInOutQuint)); 

    }


    &:hover, 
    &:focus {
      color: #fff; 

      &:after {
        opacity: 0; 
        @include transform(translateY(-4px)); 

      }

      &:before {
        opacity: 1; 
        @include transform(translateY(0)); 

      }

    }

    &:active {
      color: #fff; 

    }

  }

}
