
/*------------------------------------*\
    #Typograp#hy  (Extends variables/placeholders from typography module)
\*------------------------------------*/


/*------------------------------------*\
    #Reset
\*------------------------------------*/


body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td { 
  margin: 0;
  padding: 0;
}

li, 
ul {
  list-style: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
caption, th {
  @extend %text-left; 
}

q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}













/*------------------------------------*\
    #Base   (Extends from typography.scss module)
\*------------------------------------*/
/*  Base font sizes, margin-bottoms, and properties */

body, html {

  font-family: $primary-font-family; 
  line-height: $base-font-line-height; 
  color: $body-color; 
  
}


// 24px magic number, all line heights and margin bottoms will be multiples of this
// to maintain vertical and line  height rhythm 
// Reference: http://jsfiddle.net/csswizardry/8nYqN/

/* Common margin-bottom for vertical rhythm. */
ul,ol,dl,
fieldset,
p,
table,
pre {
    margin-bottom: rem-calc($base-magic-number);
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: rem-calc($level2);

}

hr {
  margin-bottom: rem-calc($level3); 
  
}






/*------------------------------------*\
    #Default Text Selection Color 
\*------------------------------------*/


::selection {
  background-color: #6ac6c5b3; 
  color: #fff; 
}

::-moz-selection {

    background-color: #6ac6c5b3; 
    color: #fff; 
}





/*------------------------------------*\
    #Font Color Classes 
\*------------------------------------*/


.txtc1 {
    color: $primaryColor; 
}

.txtc2 {
    color: $secondaryColor; 
}

.txtc3 {
    color: $tertiaryColor; 
}

.txtc4 {

    color: $accentColor; 
}

.txtc5 {
    color: $grey--med; 
}

.txtc--warning {

    color: $warningColor; 
}




/*------------------------------------*\
    #Font Family Classes 
\*------------------------------------*/


.ff2 {

    @extend %secondary-font-family; 
    
}





/*------------------------------------*\
    #Header Styles and Sizes 
\*------------------------------------*/

// For text that is massive, less occurring
.text-giga { 
    @extend %text-giga; 
}


.text-mega { 
    @extend %text-mega; 
}


.text-kilo { 
    @extend %text-kilo; 
}


// Default font family for all headers 
h1,h2,h3,h4,h5,h6 {
    font-family: $primary-font-family;
    @extend %fwn; 
}

h1, 
.h1 { 
	@extend %h1; 
}

h2, 
.h2 { 
	@extend %h2; 
}

h3, 
.h3 { 
	@extend %h3; 
}

h4, 
.h4 { 
	@extend %h4; 
}

h5, 
.h5 { 
	@extend %h5; 
}

h6, 
.h6 { 
	@extend %h6; 
}

.text-micro { 
	@extend %text-micro; 
}

.text-mini {
   @extend %text-mini; 
}





/*------------------------------------*\
    #HR Classes
\*------------------------------------*/

$hrHeight: rem-calc(2px); 
$hrHeightBig: rem-calc(3px); 

hr {
    border-style: none; 
    height: $hrHeight;
    margin-top: 0; 
}

.hr--primary {

   background-color: $primaryColor;

}

.hr--secondary {

   background-color: $secondaryColor; 
    margin-left: 0; 
}

.hr--tertiary {
   background-color: $tertiaryColor; 

}


.hr--quaternary {

   background-color: $quaternaryColor; 

}

.hr--quintenary {

   background-color: $quintenaryColor; 

}

.hr--faded {

  background-color: $grey--light;

}

.hr--accent {

  background-color: $accentColor; 
}

.hr--white {

  background-color: white; 
}

.hr--thick {

  height: $hrHeightBig; 

}


.hr--cut {
    width: rem-calc($level5);
    margin-left: 0;
    height: $hrHeight;
}

.hr--center {
    margin-right: auto; 
    margin-left: auto; 
}




/*------------------------------------*\
    #Guideline
\*------------------------------------*/


.guideLine,
.guideline {

  height: rem-calc($level7 + $level7); 
  width: $border-thickness1; 
  background-color: $secondaryColor; 
  position: relative; 
  left: 0; 
  right:0; 
  margin: auto; 
  margin-bottom: rem-calc($base-magic-number); 

}

.guideline--secondary {

  background-color: $primaryColor; 

}





/*------------------------------------*\
    #Letter Spacing (Extends typography module)
\*------------------------------------*/


.ltrs1 {
    
   @extend %ltrs1; 

}







/*------------------------------------*\
    #Line Heights (Variables and placeholders defined in _typography.scss module)
\*------------------------------------*/


.lh0 {

    @extend %lh0; 
}

.lh1 {
    @extend %lh1
}

.lh2 {

    @extend %lh2
}

.lh3 {

    @extend %lh3
}

.lh4 {

    @extend %lh4
}






/*------------------------------------*\
    #Paragraph styles 
\*------------------------------------*/


.p2 {

  @include type-setting(1); 
  @include line-height(-1); 

}

.p3 {

  @include type-setting(2); 
  @include line-height(0); 

}






/*------------------------------------*\
    #Superscripts (Extends _typography.scss module)
\*------------------------------------*/

.superscript {
  
  margin-top: rem-calc(-1 *   $level3); 
  @extend %position-absolute; 
  @extend %h4; 

}





/*------------------------------------*\
    #Text Weights + Syles (Extends _typography.scss module)
\*------------------------------------*/


.fwn         { @extend %fwn; }
.fwb, strong { @extend %fwb; }
.fwxb        { @extend %fwxb}
.uc          { @extend %uc;  }
.fsi         {font-style: italic;}






/*------------------------------------*\
    #Text Alignments  
\*------------------------------------*/


.text-center { @extend %text-center; }
.text-left   { @extend %text-left;   }
.text-right  { @extend %text-right;  }



.small-text-left {
    @media #{$medium-up} {
        text-align: left; 
    }
}



.small-text-right {

    @media #{$medium-up} {

        text-align: right; 
    }
}

.small-text-right {

    @media #{$medium-up} {

        text-align: center; 
    }
}



.medium-text-center {
    @media #{$medium-up} {
        text-align: center; 
    }
}




.medium-text-left {
    @media #{$medium-up} {
        text-align: left; 
    }
}



.medium-text-right {

    @media #{$medium-up} {

        text-align: right; 
    }
}


.large-text-right {

    @media #{$large-up} {

        text-align: right; 
    }
}

.large-text-center {

    @media #{$large-up} {

        text-align: center; 
    }
}


.large-text-left {
    @media #{$large-up} {

        text-align: left; 
    }
}


