
<section class="section--main">
  
  <!--Page Header--> 
  <div class="row small-collapse">

    <div class="small-12 large-11 columns">

      <div class="pageHeader">
            
          <div class="pageHeader-contentContainer  grid  grid--bottom">
          
            <div class="row  grid-cell">
          
              <div class="small-12 columns large-push-1 large-10">
                <div class="pageHeader-content">

                  <h1 class="pageHeader-headline  ff3">
                    Shop <br> Laces
                  </h1>

                </div>

              </div>

            </div>
      
          </div>
      
          <div class="pageHeader-bg">
            
            <picture>
                
              <source media="(min-width: 1024px)"
                      srcset="assets/images/heroSubpageHeaders--shoeColorfield.png">
            
              <source media="(min-width: 640px)"
                      srcset="assets/images/heroSubpageHeaders--shoeColorfield_medium.png">
            
              <img src="assets/images/heroSubpageHeaders--shoeColorfield_small.png"
                   class="pageHeader-bg-img"
                   alt="{{about.pageContent.headerBackground.fields.small.fields.description}}" 
                   >
            
            </picture>
      
          </div>
        
      </div>

    </div>

    <div class="show-for-large-up large-1 columns">
      
     <div class="noticeBanner"> 
  
        <div class="noticeBanner-headline">You Can't Not Notice Us</div>

      </div>

    </div>

  </div>
  <!--Page header Ends--> 
  

  <!--Solids Begin--> 
  <div class="section  mt7">
          
    <div class="row small-collapse">

      <div class="small-12  medium-11  large-10  medium-centered  columns">
        
        <div class="categoryHeader"> 

          <h2 class="categoryHeader-title">Solid Laces</h2>
          
          <div class="categoryHeader-icon">

              <img src="assets/images/whiskIcon--cat_teal.svg" 
                 alt="">

          </div>

        </div>

        <div class="row">
        
          <div class="small-12 columns">
              
            <ul class="grid  
                       grid--flexDirectionRow
                       grid--1of2
                       grid--flexWrap
                       med-grid--flexDirectionRow
                       large-grid--1of3
                       productThumbs">
              
              <li class="grid-cell"
                  ng-repeat="product in shop.products track by $index">
                  
                  <div class="productThumb" >
                              
                    <div class="productThumb-inner">
                          
                      <div class="productThumb-bg">
                          
                        <img ng-src="{{product.thumbnail}}" alt="">
                          
                      </div>
                        
                      <div class="productThumb-description text-center grid grid--center grid--justifySpaceBetween">
                          
                        <h3 class="productThumb-title">{{product.name}}</h3>
                        
                        <div>
                          {{product.price}}
                        </div>

                      </div>
                          
                    </div>
                              
                  </div>
                      
              </li>
                        
            </ul>
          
          </div>
          
        </div>

      </div>

    </div>

  </div>
  <!--Solids end--> 

  
  <!--Striped--> 
  <div class="section ">
          
    <div class="row small-collapse">

      <div class="small-12  medium-11  large-10  medium-centered  columns">
        
        <div class="categoryHeader"> 

          <h2 class="categoryHeader-title">Striped Laces</h2>
          
          <div class="categoryHeader-icon">

              <img src="assets/images/whiskIcon--cactus_red.svg" 
                 alt="">

          </div>

        </div>

        <div class="row">
        
          <div class="small-12 columns">
              
            <ul class="grid  
                       grid--flexDirectionRow
                       grid--1of2
                       grid--flexWrap
                       med-grid--flexDirectionRow
                       large-grid--1of3
                       productThumbs">
              
              <li class="grid-cell"
                  ng-repeat="product in shop.productsStriped track by $index">
                  
                  <div class="productThumb" >
                              
                    <div class="productThumb-inner">
                          
                      <div class="productThumb-bg">
                          
                        <img ng-src="{{product.thumbnail}}" alt="">
                          
                      </div>
                        
                      <div class="productThumb-description text-center grid grid--center grid--justifySpaceBetween">
                          
                        <h3 class="productThumb-title">{{product.name}}</h3>
                        
                        <div>
                          {{product.price}}
                        </div>

                      </div>
                          
                    </div>
                              
                  </div>
                      
              </li>
                        
            </ul>
        
          </div>
          
        </div>

      </div>

    </div>

  </div>
  <!--End Striped--> 

</section>
  
