
<div class="section" >

  <div class="row">

    <div class="small-12  medium-11  large-9 medium-centered columns ">
      
      <div class="floatingSection-bg">
      
        <div class="row  small-collapse medium-uncollapse">
        
          <div class="medium-5  large-6  columns  show-for-medium-up">
            
            <div class="floatingImages  floatingImages--left  floatingImages--offset">
              
              <div class="floatingImages-inner">

                <div class="row">

                  <div class="small-12   medium-12 columns"
                       data-stellar-offset-parent="true"
                       data-stellar-vertical-offset="170"
                       data-stellar-ratio="1.2">
                      
                        <img src="assets/images/spool_pallette.png" 
                              alt=""
                              width="350"
                              class="floatingImages-image"
                              style="width: 100%;">
                  
                  </div>

                </div>

              </div>

            </div>

          </div>
        
          <div class="small-12 columns medium-7  large-6">
            
            <div class="floatingSection  floatingSection--left">
                
              <div class="floatingSection-icon">
                
                <img src="assets/images/whiskIcon--dolphin.svg" 
                     ng-if="laceSlideshow.isCurrentSlideIndex(0)"
                     alt=""
                     width="350">    
        
        
                <img src="assets/images/whiskIcon--X_purple.svg" 
                     ng-if="laceSlideshow.isCurrentSlideIndex(1)"
                   alt=""
                   width="350">    
          
                <img src="assets/images/whiskIcon--iceCream_blue.svg" 
                ng-if="laceSlideshow.isCurrentSlideIndex(2)"
                   alt="">    
            
              </div>
                
              <div class="row
                          grid
                          grid--center
                          grid--flexDirectionColumn
                          med-grid--flexDirectionRow">
              
                <div class="small-12  medium-12  columns   hide-for-medium-up">
                  
                  <div>     
        
                    <img src="assets/images/wide_images_brand1.png" alt="">
              
                  </div>
        
                </div>
              
                <div class="small-12  large-11  large-pull-1  columns  text-left"
                >
        
                  <div class="floatingSection-copyContainer"
                       data-stellar-horizontal-offset="100"
                       data-stellar-vertical-offset="230"
                       data-stellar-offset-parent="true"
                       data-stellar-ratio="1.4" >
                  
                  <div class="floatingSection-copy">
                   
                     <h1 class="ff3 text-giga">
                       Our 
                       <br>
                       Laces
                     </h1>

                      <p>
                      Whiskers are colored shoelaces with metal aglets. And they could beat your basic laces up anyday. They come wrapped around a wooden spool because they'll try to take over your dresser otherwise.
                      </p>
                              
                      <div class="row small-collapse">

                        <div class="small-12 columns">

                        <a ui-sref="main.shopLaces({productType: 'laces'})" 
                             class="button--expanded  button button--primary button--micro">
                          Shop Laces
                          </a>
                        </div>

                      </div>

                    </div>
                  
                  </div>
        
                </div>
        
              </div>
        
            </div>
            
          </div>
        
        </div>

      </div>
      
    </div>
    
  </div>

</div>
