  <div class="section  section--lead">
        
        <div class="row">

          <div class="small-12 medium-12 large-10  medium-centered columns">

            <div class="floatingSection-bg">

              <div class="row  small-collapse  medium-uncollapse">
              
                <div class="small-12 columns medium-6 large-6 ">
                    
                  <div class="floatingSection  floatingSection--right   floatingSection--intro">
                    
                    <div class="floatingSection-icon"
                    data-stellar-offset-parent="true"
                             data-stellar-vertical-offset="100"
                             data-stellar-ratio="1.5"
                       ng-click="introSection.nextSlide()">
                      
                      <img src="assets/images/whiskIcon--rock.svg" 
                           ng-if="introSection.isCurrentSlideIndex(0)"
                           alt="">    

                      <img src="assets/images/whiskIcon--dolphin.svg" 
                           ng-if="introSection.isCurrentSlideIndex(1)"
                           alt=""
                           width="350">    
              
              
                      <img src="assets/images/whiskIcon--X_purple.svg" 
                           ng-if="introSection.isCurrentSlideIndex(2)"
                         alt=""
                         width="350">    
                
                      <img src="assets/images/whiskIcon--iceCream_blue.svg" 
                      ng-if="introSection.isCurrentSlideIndex(3)"
                         alt="">   

                    </div>
                  
                    <div class="row
                                grid
                                grid--center
                                grid--flexDirectionColumn
                                med-grid--flexDirectionRow">
                        
                      <div class="small-12 columns medium-12  large-10 large-push-1  text-left">
                        
                        <div class="floatingSection-copyContainer"
                             data-stellar-offset-parent="true"
                             data-stellar-vertical-offset="100"
                             data-stellar-ratio="1.3">
                    
                          <div class="floatingSection-copy">
              
                            <h1 class="ff3 text-kilo" style="white-space: nowrap;">Laced Up <br>& Ready To Go
                            </h1>
                                  
                            <p>
                               A toucan’s bill, a feathered cap, a foreign exchange student. Each have an accent that sets them apart. That’s why we created Whiskers-- badass shoelaces for your boring shoe holes.
                            </p>
              
                          </div>
              
                        </div>
                  
                      </div>
                  
                      <div class="small-12 columns medium-6  hide-for-medium-up">
                        
                        <div>     
              
                          <img src="assets/images/wideImage_realLife2.png" alt="">
                    
                        </div>
              
                      </div>
                    
                    </div>
                  
                  </div>
                    
                </div>
                
                <div class=" medium-6  large-6  columns  show-for-medium-up" 
                     data-stellar-vertical-offset="100"
                     data-stellar-offset-parent="true"
                     data-stellar-ratio="1.5">
              
                  <div class="floatingImages   floatingImages--right  floatingImages--offset  text-center">

                     <div class="floatingImages-inner">
                       
                      <div class="floatingSlideshow"> 

                        <div class="floatingSlideshow-imagesContainer">

                          <div class="floatingSlideshow-image">
                            <img src="assets/images/parlax_floating_shoe_black.png" alt="" class="floatingImages-image  "
                            ng-if="introSection.isCurrentSlideIndex(0)">
                          </div>
                          <div class="floatingSlideshow-image">
                          
                           <img src="assets/images/parlax_floating_shoe_black.png" alt="" class="floatingImages-image  "
                           ng-if="introSection.isCurrentSlideIndex(1)">
                           </div>
                        </div>

                        </div>

                     </div>
              
                  </div>
               
               </div>
              
              </div>

            </div>

          </div>

        </div>
              
      </div>
