
<div class="vh100 grid grid--center">

  <div class="row grid-cell">

    <div class="small-12  columns">

      <div ng-if="login.verified">
        <h5>Thanks for verifiying! Please login</h5>
      </div>

      <form name="loginForm" ng-submit="login.logInUser()">

        <label for="username">Username</label>
        <input id="username" ng-model="login.form.email" type="text" placeholder="Account Email" class="input--primary  input--medium">


        <label for="password">Password</label>
        <input id="password" ng-model="login.form.password" type="password" class="input--primary  input--medium" placeholder="Password">
        <button class="button  button--primary  button--medium  button--expanded"
                type="submit">
          Login
        </button>

      </form>



      <p class="text-micro  text-center">

        Don't have a sponsor account?

        <br>

        <a ui-sref="main.signUp.account">Sign Up</a>

      </p>

    </div>

  </div>

</div>
