
<div class="vh100  section--alt  grid  grid--center">
  
  <div class="row grid-cell">

    <div class="small-12 medium-6 medium-centered large-4 columns">

      <!--
      ===
      === To Fix: cameFromEmail params  
      ===

      <div ng-if="login.verified">
        <h5>Thanks for verifiying! Please login</h5>
      </div> -->

      
      <div class="card">

        <div class="card-content">

          <form name="loginForm" ng-submit="login.logInUser()">
            
            <div class="input-group input--medium">
          
              <label for="username">Email</label>
              <input id="username" ng-model="login.form.email" type="text" floating-label>
          
            </div>
          
          
            <div class="input-group input--medium">
              <label for="password">Password</label>
              <input id="password" ng-model="login.form.password" type="password" floating-label>
          
            </div>
          
              <button class="button  button--primary  button--medium  button--expanded"
                      type="submit">
                Login
              </button>
          
          </form>

        </div>

      </div>

      <p class="text-micro  text-center">

        Don't have a sponsor account?

        <br>

        <a ui-sref="main.signUp.account">Sign Up</a>

      </p>

    </div>

  </div>

</div>
