
<div>

  <form ng-submit="signUp.createSponsor(signUp.sponsorCreationForm)"
        name="signUp.sponsorCreationForm"
        novalidate>

    <label for="first name">
      First Name
    </label>

    <input type="text" id="first name"
           placeholder="Your first name"
           class="input--primary input--medium"
           ng-model="signUp.sponsorInfo.first_name"
           required>


    <label for="full name">
      Last Name
    </label>

    <input type="text" id="full name"
           placeholder="Your last name"
           class="input--primary input--medium"
           ng-model="signUp.sponsorInfo.last_name"
           required>


    <label for="full name">
      Cell Phone Number
    </label>

    <input type="tel" id="full name"
           placeholder="First and last name"
          class="input--primary input--medium"
          ng-model="signUp.sponsorInfo.phone">

    <div class="row mb2">

      <div class="small-12 columns  grid grid--center">

        <input type="checkbox"
               id="sms_contacting"
               ng-model="signUp.sponsorInfo.sms_preferred"
               >

        <label for="sms_contacting" class="mb0">
          I wish to be contacted by text messages
        </label>

      </div>

    </div>
    <div class="row mb2">

      <div class="small-12 columns  grid grid--center">

        <br />
        <input type="checkbox"
               id="terms_conditions"
               ng-model="signUp.sponsorInfo.termsagreed"
               >

        <label for="terms_conditions" class="mb0">
          I agree to terms and conditions
        </label>

      </div>

    </div>

    <label for="date of birth">
      Date of birth
    </label>

    <input type="date"
           placeholder="YYYY-MM-DD"
           class="input--medium  input--primary"
           ng-model="signUp.sponsorDob"
           required>

    <button
        type="submit"
        class="button--medium  button--primary  button--expanded">
      Create Account
    </button>
    <button type="button" ng-click="signUp.openTermsModal()">
      Read Terms &amp; Conditions
    </button>

  </form>

</div>
