
<div >
  <form ngSubmit="console.log('Hello');">
  <label for="email">
    Email
  </label>

  <input type="text" id="email"
         placeholder="Email is your username"
         class="input--primary input--medium"
         ng-model="user.email" >

  <label for="password">
    Password
  </label>

  <input type="password" id="password"
         class="input--primary input--medium"
         ng-model="user.password" >

  <label for="re-enter password">
    Re-enter Password
  </label>

  <input type="password" id="re-enter password"
         class="input--primary input--medium">


  <button class="button--primary  button--medium button--expanded"
          ui-sref="main.signUp.identity">
    Continue
  </button>
  </form>
</div>
