
<div class="section--main">

  <div class="vh100 grid grid--top">
      
    <div class="row">

      <div class="small-12 columns">

        <div class="row"  ng-if="signUp.formUnsubmitted">
          
          <div class="small-12 columns">
              
              <ul class="grid  grid--center grid--justifySpaceAround">
                  
                <li>
                  
                  <span ng-class="{'fwb' : $state.is('main.signUp.account')}">Account
                  </span>
        
                </li>
        
                <li>
                  
                  <span ng-class="{'fwb' : $state.is('main.signUp.identity')}">Identity
                  </span>
        
                </li>
        
              </ul>
        
              <hr class="hr--primary">
        
          </div>
        
          <div class="small-12 columns mb5">
            
            <div >
        
              <form ng-submit="signUp.processForm()">
              
                <div ui-view="form">
                  
              
                </div>
              
              </form>
        
            </div>
        
          </div>
        
          <div class="small-12 columns">
              
              <p class="text-center">
                Already have an account?
                <br>
                <a ui-sref="main.login">Login</a>
              </p>
        
          </div>
        
        </div>
        
        <div class="row" ng-if="!signUp.formUnsubmitted">
          
          <div class="small-12 columns  text-center pt7">
              
              <h1>Creating Account...</h1>
        
          </div>
          
        </div>

      </div>

    </div>

  </div>

</div>
