    
/*------------------------------------*\
    #Footer 
\*------------------------------------*/


footer {
  padding-top: rem-calc($level4);
  padding-bottom: rem-calc($level4);
  background-color: #fff; 
  border-top: 1px solid $grey--light; 
  @extend %position-relative; 
  
  .footer-inner {

    @media #{$large-up} {
    min-width: rem-calc(950px); 

    }

  }

  @media #{$medium-up} {
    padding-top: rem-calc($level7 + $level3);
    padding-bottom: rem-calc($level7 + $level3);

  }


  @media #{$large-up} {
    padding-top: rem-calc($level7 + $level5);
    padding-bottom: rem-calc($level7 + $level5);

  }

  .footer-title {
    letter-spacing: 1px; 
    font-family: $secondary-font-family; 
    margin-bottom: rem-calc($level2); 
    color: #fff; 
    @include type-setting(-1);
    @extend %fwb; 
    @extend %uc; 

  }


  .footer-logo {
    margin-left: 0;
    width: 100%;
    max-width: rem-calc(160px); 
    margin-bottom: rem-calc($level6);

    @media #{$medium-up} {
      margin-left: auto; 
      margin-right: auto; 
      max-width: rem-calc(120px); 

    } 

    @media #{$large-up} {
      margin-bottom: rem-calc($level2); 
      max-width: rem-calc(140px); 
      margin-left: 0; 

    }

  }

  .footer-social {
    margin-bottom: 0; 
    margin-left: rem-calc($level1); 

    &:before {

      content: "|"; 

    }

    .footer-social-link {

      fill: $primaryColor; 
      height: rem-calc(16px);
      width: rem-calc(16px);
      position: relative; 
      bottom: -4px; 
      margin-left: rem-calc($level1); 

      &:hover, 
      &:focus {
        fill: #fff; 

      }

    }

  }

}


.footer-menu {
    margin-bottom: rem-calc($level5); 
    @include flex-direction(column);  
    @extend .grid; 

    @media #{$medium-up} {
      margin-bottom: 0;

    }

    .footer-menu-title {
      letter-spacing: 1px; 
      margin-bottom: rem-calc($level2); 
      color: $tertiaryColor; 
    
    }

    .footer-menu-item {
      margin-bottom: rem-calc($level1); 
      text-align: left; 
      width: 100%;

      @media #{$large-up} {
        margin-bottom: rem-calc($level2); 

      }

    }

    .footer-menu-item:last-child {
      margin-bottom: 0; 

    }

    .footer-menu-link {
      color: $body-color; 
      position: relative; 
      @include transition(all .2s ceaser($easeInOutCubic)); 

      &:after {
        content: " "; 
        position: absolute; 
        width: 0; 
        height: 2px;
        background-color: $tertiaryColor;  
        bottom: -2px; 
        left: 0; 
        @include transition(all .2s ceaser($easeInOutCubic)); 

      }

      &:hover, 
      &:focus {
        color: $grey--dark; 

        &:after {
          width: 100%; 

        }

      }

      &:active {
        color: $grey--dark;

      }

    }

}
