    
/*------------------------------------*\
    #Footer 
\*------------------------------------*/


footer {

  background-color: $primaryColor; 
  position: relative; 
  padding-top: rem-calc(77px); 
  color: #fff; 
  
  @media #{$medium-up} {

    padding-top: rem-calc($level7 + $level7);

  }

  .footer-title {
    
    letter-spacing: 1px; 
    font-family: $secondary-font-family; 
    margin-bottom: rem-calc($level2); 
    color: #fff; 
    @include type-setting(-1);
    @extend %fwb; 
    @extend %uc; 

  }

  .footer-aboutDaaabon {
      
    padding-right: rem-calc($level2); 
    margin-bottom: rem-calc($level4); 

    p {
      
      margin-bottom: 0; 
      @include type-setting(-1); 
        
    }
    
  }


  .footer-logo {

    margin-top: rem-calc($level6); 
    margin-bottom: rem-calc($level6 + $level3); 
    position: absolute; 
    right: 0; 
    top: 0; 
    left: 0; 
    margin-right: auto; 
    margin-left: auto; 
    width: 9rem; 
    top: rem-calc(-77px);

    @media #{$medium-up} {

      margin-top: rem-calc($level7); 
      margin-bottom: rem-calc($level7  + $level3); 

    }

  }

  .footer-social {

    margin-bottom: 0; 
    margin-left: rem-calc($level1); 

    &:before {

      content: "|"; 

    }

    .footer-social-link {

      fill: $primaryColor; 
      height: rem-calc(16px);
      width: rem-calc(16px);
      position: relative; 
      bottom: -4px; 
      margin-left: rem-calc($level1); 

      &:hover, 
      &:focus {
        
        fill: #fff; 

      }

    }

  }

}


.footer-menu {
    
    @include flex-direction(column);  
    @extend .grid; 
    @extend %pb3; 

    @media #{$medium-up} {

      height: rem-calc(142px);

    }

    .footer-menu-title {
      
      letter-spacing: 1px; 
      font-family: $secondary-font-family; 
      margin-bottom: rem-calc($level2); 
      color: #fff; 
      @include type-setting(-1);
      @extend %fwb; 
      @extend %uc; 
    
    }

    .footer-menu-item {

      margin-bottom: rem-calc($level1); 
      text-align: left; 
      width: 100%;

    }

    .footer-menu-item:last-child {

      margin-bottom: 0; 


    }

    .footer-menu-link {

      color: #fff; 
      @include type-setting(-1);


      &:hover, 
      &:focus {

        color: #fff; 
        text-decoration: underline; 

      }

      &:active {

        background-color: $secondaryColor; 
        color: $body-color; 

      }

    }

}



.footer-credit {

  background: $primaryColor--dark; 
  width: 100%;
  padding-top: rem-calc($level2);
  padding-bottom: rem-calc($level2);
  color: $primaryColor; 
  @include type-setting(-1); 

  @media #{$medium-up} {

    margin-top: rem-calc($level5);

  }

}
