
/*------------------------------------*\
    #Forms
\*------------------------------------*/





/*------------------------------------*\
    #Inputs
\*------------------------------------*/


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"], {

    margin-bottom: rem-calc($base-magic-number);
    margin-right: rem-calc($level2);
    font-family: $primary-font-family;
    @include transition(all .2s ease-in-out);
    @include type-setting(0);
    @include border-radius(6px);

    &:focus,
    &:active {
        outline: 0;
    }

}

.input-group {

  input[type="date"]{
    color: #fff; 
  }

  &.is-filled {

    input[type="date"]{

      color: $secondaryColor; 
    }
  
  }

}

/* Changes the white of auto-filled inputs*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $secondaryColor !important;
}


/* Changes default input placeholder color for al browsers*/
input::-webkit-input-placeholder {
color: $grey--light !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: $grey--light !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: $grey--light !important;  
}
 
input:-ms-input-placeholder {  
color: $grey--light !important;  
}


/*------------------------------------*\
    #Input Properties
\*------------------------------------*/


input,
textarea {

  width: 100%;
  border: none;
  color: $grey--med;
  @include transition(all .4s ceaser($easeInOutQuint));

  &:active,
  &:focus{
    color: $body-color;

  }


  &.input--expanded {
      width: 100%;
  }
}


input {

    &.input--alt {
        min-height: 3.2rem;
        border: 2px solid $primaryColor;

    }
}




/*------------------------------------*\
    #Input Sizes
\*------------------------------------*/


.input,
input {

   &.input--small {

      padding-top: rem-calc(3px);
      padding-bottom: rem-calc(3px);
      @include type-setting(-1);

  }

  &.input--medium {

      padding-top: rem-calc($level1);
      padding-bottom: rem-calc(1px);
      @include type-setting(0);

  }


  &.input--large {

      padding-top: rem-calc($level2);
      padding-bottom: rem-calc($level1);
      @include type-setting(1);


  }


}


/*------------------------------------*\
    #Input Groups
\*------------------------------------*/


 $formGroupSpeed: .2s;


/*------------------------------------*\
    #Input Group Sizes
\*------------------------------------*/


.input-group {

   &.input--small {

    label {

      @include type-setting(-1);

    }

    input {

      padding-top: rem-calc(3px);
      padding-bottom: rem-calc(3px);
      @include type-setting(-1);

    }

  }

  &.input--medium {

    label {

      @include type-setting(0);

    }

    input {

      padding-top: rem-calc($level1);
      padding-bottom: rem-calc(1px);
      @include type-setting(0);

    }

  }


  &.input--large {

    label {

      @include type-setting(1);

    }

    input {

      padding-top: rem-calc($level2);
      padding-bottom: rem-calc($level1);
      @include type-setting(1);

    }

  }


}






/*------------------------------------*\
    #Input Group Styles
\*------------------------------------*/

.input-group {
    width: 100%;
    margin-bottom: rem-calc($level5);
    @extend %position-relative;

    &:after {
      content: "";
      background: -webkit-linear-gradient(left, #1e5799 0%, #238eb2 0%, #63decb 150%);
      background-color: $primaryColor; 
      height: rem-calc(3px);
      bottom: 0;
      z-index: 3;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 0;
      @include transition(all $formGroupSpeed ease-in-out);
      @extend %position-absolute;
    }

    input{
      z-index: 1;
      width: 100%;
      margin-bottom: 0;
      background-color: transparent;
      border-bottom: 2px solid $grey--light;
      @include border-radius(0); 
      @include transition(all $formGroupSpeed ease-in-out);

      &:-webkit-autofill {
        background-color: $tertiaryColor--translucent; 

      }


      &:active,
      &:focus {
        color: $secondaryColor;

      }

    }

    label {
      z-index: 0;
      bottom: rem-calc(3px);
      left: 0;
      margin-bottom: 0;
      @include transition(all $formGroupSpeed ease-in-out);
      @extend %position-absolute;
    }

    &.is-focused,
    &.is-filled {

      label {
        @include type-setting(-2); 
        @include transform(translateY(-28px));

      }

    }

    &.is-focused {
        color: $tertiaryColor; 

        input {
         color: $secondaryColor;

        }

        &:after {
          width: 100%;

        }

    }


    .alerts {
      position: absolute; 
      left: 0; 
      width: 100%; 
      bottom: -1.2rem; 
      white-space: nowrap; 
      @include type-setting(-1); 

    }

}






/*------------------------------------*\
    #Input With Button
\*------------------------------------*/


.inputWithButton {

  .inputWithButton-input {
    
    @media #{$medium-up} {
      margin-right: rem-calc($level2); 
      
    }

  }

}





/*------------------------------------*\
    #Alt Input Group Sizes
\*------------------------------------*/


.inputGroup--alt {

   &.input--small {

    label {

      @include type-setting(-1);

    }

    input {

      padding-top: rem-calc($level1);
      padding-bottom: rem-calc($level1);
      @include type-setting(-1);

    }

  }

  &.input--medium {

    label {
      bottom: rem-calc(14px); 
      @include type-setting(0);

    }

    input {
      padding-top: rem-calc($level2);
      padding-bottom: rem-calc($level2);
      @include type-setting(0);

    }

    &.is-focused,
    &.is-filled {

      input {

        padding-top: rem-calc($level3);
        padding-bottom: rem-calc($level1);

      }

      &.inputGroup--withIcon  {
        
        input {
          padding-top: rem-calc($level2);
          padding-bottom: rem-calc($level2);
      
        }

      }

    }
  
  }


  &.input--large {

    label {
      bottom: rem-calc(20px); 
      @include type-setting(0);

    }

    input {

      padding-top: rem-calc($level3);
      padding-bottom: rem-calc($level3);
      @include type-setting(1);

    }

    &.is-focused,
    &.is-filled {

      input {

        padding-top: rem-calc($level4);
        padding-bottom: rem-calc($level2);

      }

      &.inputGroup--withIcon {
        
        input {
          padding-top: rem-calc($level3);
          padding-bottom: rem-calc($level3);
      
        }

      }

    }

  }


}





/*------------------------------------*\
    #Alt input Group Styles
\*------------------------------------*/


.inputGroup--alt {
  position: relative; 
  margin-bottom: rem-calc($base-magic-number);

  &:after {
    display: none; 

  }
  
  input {
    background-color: #FFF;  
    padding: rem-calc($level2);
    border: 1px solid $grey--light; 
    @include border-radius(6px); 
    
  }
  
  label {
    left: rem-calc($level2); 
    color: $grey--med; 

  }

  &.is-focused,
  &.is-filled {

    label {
      color: $grey--med; 
      @include type-setting(-2); 
      @include transform(translateY(-19px));

    }

  }

  &.is-focused {
    color: $tertiaryColor; 

    input {
     color: $secondaryColor;
     border: 1px solid $secondaryColor; 

    }

  }


}


.inputGroup--withIcon {

  input {
    padding-left: rem-calc(50px); 

  }
   
  label {
    left: rem-calc(50px); 

  }

  .inputGroup-iconContainer {
    border-right: $grey--light 1px solid; 
    width: rem-calc(42px); 
    height: 100%; 
    position: absolute; 

    .inputGroup-icon {
      fill: $grey--med; 
      top: 0; 
      bottom: 0; 
      right: 0; 
      left: 0; 
      margin: auto; 
      position: absolute; 
      width: rem-calc(18px);
      height: rem-calc(18px);

    }
  }
 


  &.is-focused,
  &.is-filled {
    
    label {
      opacity: 0; 
      @include type-setting(0); 
      @include transform(translateY(0));

    }

  }

  &.is-focused {
    color: $tertiaryColor; 

    .inputGroup-iconContainer { 
      border-color: $secondaryColor; 
        
      .inputGroup-icon {
        fill: $secondaryColor; 

      }

    }

  }

}





/*------------------------------------*\
    #Boost Input
\*------------------------------------*/


$controlsNormalColor: $grey--light; 
$controlsActiveColor: $primaryColor; 
$controlsActiveInputColor: $secondaryColor; 

.inputGroup--boost  {

    
    &:before {
    content: "$";
    position: absolute; 
    height: 100%; 
    top: 0; 
    bottom: 0; 
    left: 1rem;
    color: $grey--light;
    height: 70px;
    font-weight: bold;
    margin: auto; 
    @include transition(all $formGroupSpeed ease-in-out);
    @include type-setting(6); 

  }


  input {
    padding-top: rem-calc($level2);
    padding-bottom: rem-calc($level2);
    font-weight: bold; 
    text-align: center; 
    color: $secondaryColor; 
    padding-right: .5rem;
    @include type-setting(6); 

  }
  
  //Uses this to hide the default increase up and down arrows 
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 

  }

  .inputGroup--boost-controls {
    position: absolute; 
    right: 0; 
    width: rem-calc(40px); 
    top: 0; 
    bottom: 0; 
    height: 100%; 
    border-left: 1px solid $grey--light; 
    color: $grey--light;
    @include transition(all $formGroupSpeed ease-in-out);

    
    .control {
      height: 50%; 
      display: block; 
      text-align: center; 
      cursor: pointer; 
      vertical-align: middle; 
      position: relative; 
      width: 100%; 
      @include type-setting(5); 

      &:active {

        span {
          color: $grey--med; 
          @include transform(scale(.8));

        }

      }

      .control-icon {
        position: absolute; 
        width: rem-calc(18px);
        height: rem-calc(18px);
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        margin: auto; 
        fill: $grey--light; 

      }

    }

    
    .control--up {
      border-bottom: 1px solid $grey--light;
      @include transition(all $formGroupSpeed ease-in-out);

      &:hover, 
      &:active {
        
        .control-icon {
          fill: $primaryColor; 

        }

      }

    }


    .control--down {
      
      &:hover, 
      &:active {
      
        .control-icon {
          fill: $primaryColor; 

        }

      }

    }

  }




  &.is-focused,
  &.is-filled {
    
    label {
      opacity: 0; 
      @include type-setting(0); 
      @include transform(translateY(0));

    }

    input {
      color: $primaryColor; 

    }

  }

  &.is-focused {

    .inputGroup--boost-controls {
      border-left-color: $secondaryColor; 

      .control:first-child {
        border-bottom-color: $secondaryColor; 

      }

    }

  }

  &.is-locked {
    
    &:before {

      color: #fff; 

    }

    input {
      border-color: $primaryColor; 
      background-color: $primaryColor; 
      color: #fff; 

    }

    .inputGroup--boost-controls {
      border-left-color: #fff; 

      .control-icon {
        fill: #fff; 

      }

    }
      
  }


}





/*------------------------------------*\
    #Labels
\*------------------------------------*/


label {
    margin-bottom: rem-calc(4px);
    @extend %display-block;
}






/*------------------------------------*\
    #Select Global Properties
\*------------------------------------*/


select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    text-align-last: left; 
    margin-bottom: rem-calc($base-magic-number); 
    position: relative; 
    border: none; 
    @include type-setting(0); 

}






/*------------------------------------*\
    #Select Types
\*------------------------------------*/

.select-customWrapper {
  position: relative; 
  
   &:after {

      content: " "; 
      width: 0; 
      height: 0; 
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 8px solid $grey--med;
      right: 1rem; 
      top: rem-calc(18px); 
      bottom: 0; 
      position: absolute; 
      pointer-events:none;

    }

}

.select--primary {
    background-color: #fff; 
    outline: 0;
    color: $body-color;
    border: 0; 
    @include box-shadow(0 1px 3px rgba(30,30,30, .2)); 

    &:active,
    &:focus {
      background-color: #fff; 
      border: 0; 
      @include box-shadow(0 1px 20px rgba(30,30,30, .2));

    }

}


.select--quantity {

  min-width: rem-calc(80px); 
  text-align-last: center; 
  
}

.select--small {

    padding: rem-calc(6);
    padding-right: rem-calc($level1);
    padding-left: rem-calc($level1); 

}

.select--medium {
  padding: rem-calc(8);
  padding-right: rem-calc($level2);
  padding-left: rem-calc($level2); 

}

.select--quantity {
  
  width: rem-calc(40px); 

  @media #{$medium-up} {

    width: rem-calc(60px); 
    
  }

}






/*------------------------------------*\
    #Text Areas
\*------------------------------------*/


textarea {

  @extend %ptrbl2;

}








/*------------------------------------*\
    #Field Sets
\*------------------------------------*/


.fieldset,
fieldset{
  margin-bottom: rem-calc($level5); 
  
}






/*------------------------------------*\
    #Form Alerts
\*------------------------------------*/

.alert--warning {
    color: $warningColor;
}





/*------------------------------------*\
    #Clear Field
\*------------------------------------*/

input.clearField {
  background-color: transparent;
  text-align: center;
  color: $primaryColor; 
  @include type-setting(7); 

  &:after {
    content: "";
    background: -webkit-linear-gradient(left, #1e5799 0%, #238eb2 0%, #63decb 150%);
    background-color: $primaryColor; 
    height: rem-calc(3px);
    bottom: 0;
    z-index: 3;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 0;
    @include transition(all $formGroupSpeed ceaser($easeInOutQuint));
    @extend %position-absolute;
  }

  &:active, 
  &:focus {
    color: $secondaryColor; 

    &:after {
      width: 100%; 

    }

  }

}


.clearField-container {
  position: relative; 

  &.clearField--money {

    &:before {
      content: "$"; 
      position: absolute; 
      left: 0; 
      bottom: 0; 

    }

  }
}






/*------------------------------------*\
    #Checkboxes
\*------------------------------------*/


/*------------------------------------*\
    #Checkboxes syled as radio button
\*------------------------------------*/


input[type="checkbox"].styled-as-radio {
   display:none;

  & + label {
      color: $secondaryColor;
      margin-bottom: rem-calc($base-magic-number); 
      white-space: nowrap; 
      @include type-setting(0); 
  }

  & + label span {
      display:inline-block;
      width:rem-calc(20px);
      height:rem-calc(20px);
      margin-right: rem-calc($level1); 
      vertical-align:middle;
      cursor:pointer;
      @include border-radius(100%); 
  }

  & + label span {
     background-color: transparent; 
     border: 2px solid $grey--med; 
     position: relative; 

  }


  &:hover + label span,
  &:focus + label span {
       background-color: $secondaryColor;
       border: 2px solid $secondaryColor; 

  }

  &:checked + label span{
       background-color: $secondaryColor;
       border: 2px solid $secondaryColor; 
   
  }


  & + label span,
  &:checked + label span {
    
  }
}





/*------------------------------------*\
    #Radio Label Sizes
\*------------------------------------*/

.radio--large + label {
  @include type-setting(1); 

}






/*------------------------------------*\
    #Radio Buttons
\*------------------------------------*/


input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color: $secondaryColor;
    margin-bottom: rem-calc($base-magic-number); 
    white-space: nowrap; 
    @include type-setting(0); 
}

input[type="radio"] + label span {
    display:inline-block;
    width:rem-calc(20px);
    height:rem-calc(20px);
    margin-right: rem-calc($level1); 
    vertical-align:middle;
    cursor:pointer;
    @include border-radius(100%); 
}

input[type="radio"] + label span {
   background-color: transparent; 
   border: 2px solid $grey--med; 
}


input[type="radio"]:hover + label span,
input[type="radio"]:focus + label span {
     background-color: $secondaryColor;
     border: 2px solid $secondaryColor; 

}

input[type="radio"]:checked + label span{
    background-color: $secondaryColor;
    border: 2px solid $secondaryColor; 
    position: relative; 

    &:after {
      content: " "; 
      background-image: url("data:image/svg+xml;utf8,<svg xmlns:xlink='http://www.w3.org/2000/svg' viewBox='0 0 100 100'  width='24' height='24'><path fill='%23ff69b4' d='M41.373 86a7.839 7.839 0 0 1-5.518-2.287l-19.572-19.59c-3.044-3.043-3.044-7.977 0-11.027a7.796 7.796 0 0 1 11.033 0l12.88 12.875 33.39-49.645a7.804 7.804 0 0 1 10.832-2.113c3.576 2.396 4.52 7.248 2.129 10.826L47.848 82.547a7.791 7.791 0 0 1-5.72 3.41c-.25.022-.5.043-.755.043'/></svg>");
      position: absolute; 
      width: rem-calc(12px); 
      height: rem-calc(12px); 
      background-size: cover;
      top: 0; 
      bottom: 0; 
      right: 0; 
      left: 0; 

    }

}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  
}


input[type="radio"].radio--large + label {
  @include type-setting(1); 

}





/*------------------------------------*\
    #Switches
\*------------------------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey--light;
    @include transition(all .4s ceaser($easeInOutQuint)); 

  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    @include transition(all .4s ceaser($easeInOutQuint)); 

  }

  input:checked + .slider {
    background-color: $primaryColor;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    @include transform(translateX(26px));

  }

  /* Rounded sliders */
  .slider.round {
    @include border-radius(34px); 

  }

  .slider.round:before {
   @include border-radius(50%); 

  }
}
