
/*------------------------------------*\
    #Forms
\*------------------------------------*/





/*------------------------------------*\
    #Inputs
\*------------------------------------*/


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"], {

    margin-bottom: rem-calc($base-magic-number);
    margin-right: rem-calc($level2);
    @include type-setting(0);
    @include border-radius(0);

    &:focus,
    &:active {
        outline: 0;
    }

}

.input-group {

  input[type="date"]{
    color: #fff; 
  }

  &.is-filled {

    input[type="date"]{

      color: $secondaryColor; 
    }
  
  }

}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $secondaryColor !important;
}




/*------------------------------------*\
    #Input Properties
\*------------------------------------*/


input,
textarea {

  width: 100%;
  border: none;
  color: $grey--med;
  @include transition(all .4s ceaser($easeInOutQuint));

  &:active,
  &:focus{
    color: $body-color;

  }


  &.input--expanded {
      width: 100%;
  }
}


input {

    &.input--alt {
        min-height: 3.2rem;
        border: 2px solid $primaryColor;

    }
}





/*------------------------------------*\
    #Input Groups
\*------------------------------------*/


 $formGroupSpeed: .4s;

.input-group {
    width: 100%;
    margin-top: rem-calc($level1); 
    margin-bottom: rem-calc($level5);
    @extend %position-relative;

    &:after {
      content: "";
      background: -webkit-linear-gradient(left, #1e5799 0%, #238eb2 0%, #63decb 150%);
      background-color: $primaryColor; 
      height: rem-calc(3px);
      bottom: 0;
      z-index: 3;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 0;
      @include transition(all $formGroupSpeed ceaser($easeInOutQuint));
      @extend %position-absolute;
    }

    input{
      z-index: 1;
      width: 100%;
      margin-bottom: 0;
      background-color: transparent;
      border-bottom: 2px solid $grey--light;

      &:-webkit-autofill {
        background-color: $tertiaryColor--translucent; 

      }


      &:active,
      &:focus {
        color: $secondaryColor;

      }

    }

    label {
      z-index: 0;
      bottom: rem-calc($level1);
      left: 0;
      margin-bottom: 0;
      @include transition(all $formGroupSpeed ceaser($easeInOutQuint));
      @extend %position-absolute;
    }

    &.is-focused,
    &.is-filled {

      label {
        @include transform(scale(.8) translateY(-28px) translateX(-7px));

      }

    }

    &.is-focused {
        color: $tertiaryColor; 

        input {
         color: $secondaryColor;

        }

        &:after {
          width: 100%;

        }

    }


    .alerts {
      position: absolute; 
      left: 0; 
      width: 100%; 
      bottom: rem-calc(-24px); 
      @include type-setting(-1); 

    }

}





/*------------------------------------*\
    #Input Sizes
\*------------------------------------*/


.input-group {

   &.input--small {

    label {

      @include type-setting(-1);

    }

    input {

      padding-top: rem-calc(3px);
      padding-bottom: rem-calc(3px);
      @include type-setting(-1);

    }

  }

  &.input--medium {

    label {

      @include type-setting(0);

    }

    input {

      padding-top: rem-calc($level1);
      padding-bottom: rem-calc($level1);
      @include type-setting(0);

    }

  }


  &.input--large {

    label {

      @include type-setting(1);

    }

    input {

      padding-top: rem-calc($level2);
      padding-bottom: rem-calc($level2);
      @include type-setting(1);

    }

  }


}










/*------------------------------------*\
    #Input With Button
\*------------------------------------*/


.inputWithButton {

  .inputWithButton-input {

    width: 100%;

  }

  .inputWithButton-button {

    width: 100%;

    @media #{$large-up} {

      width: 80%;
      padding-left: rem-calc($level2);

    }
  }

}

m



/*------------------------------------*\
    #Labels
\*------------------------------------*/


label {
    margin-bottom: rem-calc(4px);
    @extend %display-block;
}






/*------------------------------------*\
    #Select Global Properties
\*------------------------------------*/


select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    text-align-last: left; 
    margin-bottom: rem-calc($base-magic-number); 
    position: relative; 
    border: none; 
    @include type-setting(0); 

}






/*------------------------------------*\
    #Select Types
\*------------------------------------*/

.select-customWrapper {
  position: relative; 
  
   &:after {

      content: " "; 
      width: 0; 
      height: 0; 
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 8px solid $grey--med;
      right: 1rem; 
      top: rem-calc(18px); 
      bottom: 0; 
      position: absolute; 
      pointer-events:none;

    }

}

.select--primary {
    background-color: #fff; 
    outline: 0;
    color: $body-color;
    border: 0; 
    @include box-shadow(0 1px 3px rgba(30,30,30, .2)); 
    @extend %br1; 

    &:active,
    &:focus {

      background-color: #fff; 
      border: 1px solid $secondaryColor; 
      @include box-shadow(0 1px 20px rgba(30,30,30, .1));

    }

}


.select--quantity {

  min-width: rem-calc(80px); 
  text-align-last: center; 
  
}

.select--small {

    padding: rem-calc(6);
    padding-right: rem-calc($level1);
    padding-left: rem-calc($level1); 

}

.select--medium {
  padding: rem-calc(8);
  padding-right: rem-calc($level2);
  padding-left: rem-calc($level2); 

}

.select--quantity {
  
  width: rem-calc(40px); 

  @media #{$medium-up} {

    width: rem-calc(60px); 
    
  }

}






/*------------------------------------*\
    #Text Areas
\*------------------------------------*/


textarea {

  @extend %ptrbl2;

}








/*------------------------------------*\
    #Field Sets
\*------------------------------------*/


.fieldset,
fieldset{
  margin-bottom: rem-calc($level5); 
  
}






/*------------------------------------*\
    #Form Alerts
\*------------------------------------*/

.alert--warning {
    color: $warningColor;
}





/*------------------------------------*\
    #Clear Field
\*------------------------------------*/

input.clearField {
  background-color: transparent;
  text-align: center;
  color: $primaryColor; 
  @include type-setting(7); 

  &:after {
    content: "";
    background: -webkit-linear-gradient(left, #1e5799 0%, #238eb2 0%, #63decb 150%);
    background-color: $primaryColor; 
    height: rem-calc(3px);
    bottom: 0;
    z-index: 3;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 0;
    @include transition(all $formGroupSpeed ceaser($easeInOutQuint));
    @extend %position-absolute;
  }

  &:active, 
  &:focus {
    color: $secondaryColor; 

    &:after {
      width: 100%; 

    }

  }

}


.clearField-container {
  position: relative; 

  &.clearField--money {

    &:before {
      content: "$"; 
      position: absolute; 
      left: 0; 
      bottom: 0; 

    }

  }
}


.radio-group {
  margin-bottom: rem-calc($level3); 

  label {
    color: $secondaryColor; 

  }

}