
/*------------------------------------*\
    #Forms 
\*------------------------------------*/





/*------------------------------------*\
    #Inputs 
\*------------------------------------*/


input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], {
    
    margin-bottom: rem-calc($base-magic-number);
    margin-right: rem-calc($level2); 
    @include border-radius(0); 
    @extend %prl2; 

    &:focus,
    &:active {
        outline: 0; 
    }

}


/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $primaryColor !important;
}




/*------------------------------------*\
    #Input Properties 
\*------------------------------------*/


input,
textarea {
    
  width: 100%;
  border: none; 
  border-left: 6px solid $accentColor; 
  background-color: $grey--light; 
  color: $grey--med; 
  @include transition(all .4s ceaser($easeInOutQuint));

  &:active,
  &:focus{

    border-left: 12px solid $secondaryColor; 
    color: $body-color; 

  }


  &.input--expanded {
      width: 100%; 
  }
}


input {

    &.input--alt {
        min-height: 3.2rem; 
        border: 2px solid $primaryColor; 

    }
}



/*------------------------------------*\
    #Input Sizes 
\*------------------------------------*/


input {

   &.input--small {

    padding-top: rem-calc($level1);
    padding-bottom: rem-calc($level1);

  } 

  &.input--medium {

    padding-top: rem-calc($level2);
    padding-bottom: rem-calc($level2);

  }


  &.input--large {

    padding-top: rem-calc($level3);
    padding-bottom: rem-calc($level3);

  }


}






/*------------------------------------*\
    #Input With Button 
\*------------------------------------*/


.inputWithButton {

  .inputWithButton-input {

    width: 100%; 

  }

  .inputWithButton-button {

    width: 100%; 

    @media #{$large-up} {

      width: 80%;
      padding-left: rem-calc($level2); 

    }
  }

}





/*------------------------------------*\
    #Labels 
\*------------------------------------*/


label {
    margin-bottom: rem-calc(4px); 
    @extend %display-block; 
}






/*------------------------------------*\
    #Select Global Properties
\*------------------------------------*/


select {

  width: 100%; 
    
}





/*------------------------------------*\
    #Text Areas
\*------------------------------------*/


textarea {

  @extend %ptrbl2; 

}





/*------------------------------------*\
    #Form Alerts
\*------------------------------------*/

.alert--warning {

    color: #FF6F92; 
}





/*------------------------------------*\
    #Form Alerts
\*------------------------------------*/


.formAreaDivider--left {

    border-left: 1px solid $grey--med; 
}

