

/*------------------------------------*\
    #Form Steps
\*------------------------------------*/

.formTabs {
  margin-bottom: rem-calc($level3); 

  .formTabs-tab {
    border-bottom: 3px solid $grey--light; 
    padding-bottom: rem-calc($level2); 
    width: 100%; 

    .tab-title {
      color: $grey--light; 
      @include type-setting(0); 

    }

    &.is-active {
      border-bottom: 3px solid $secondaryColor; 

      .tab-title {
        color: $secondaryColor; 

      }

    }
  }
}