/*------------------------------------*\
    #Navigation Styles  
\*------------------------------------*/


.nav-is-open {

  overflow: hidden; 
  overflow-x: hidden; 

}


/*------------------------------------*\
    #Main Nav Basic Styles
\*------------------------------------*/


.mainNav {

  width: 100%; 
  position: relative;
  height: rem-calc(60px); 
  background-color: #fff; 
  @include box-shadow(0 1px 24px rgba(30,30,30, .2)); 

  @media #{$medium-up} {
    height: rem-calc(72px)
  }

}


.fixed-nav {
  width: 100%; 
  z-index: 100;
  @extend %position-fixed; 
}

.absolute-nav {
  width: 100%; 
  z-index: 100; 
  top: 0; 
  @extend %position-absolute; 
}





/*------------------------------------*\
    #Main Navigation Inner Components Styles  
\*------------------------------------*/


.mainNav {
  padding-right: rem-calc($level2);
  padding-left: rem-calc($level2);
    
  @media #{$large-up} {
    padding-right: rem-calc(0);
    padding-left: rem-calc(0);
  }


  .mainNav-header {
    width: 100%; 
    height: 100%;
    z-index: 200; 
    @extend %position-relative; 

    .mainNav-title {
        height: 100%; 
        margin-left: rem-calc($level2);
        @include transform(translateX(0)); 
        @include transition(all .2s ceaser($easeOutCubic));
        @extend %position-relative; 

        .mainNav-title-logo {
          height: 100%; 
          width: rem-calc(120px);
          fill: $secondaryColor; 

          @media #{$medium-up} {
            width: rem-calc(140px); 
          }


          @media #{$large-up} {
            width: rem-calc(160px); 
          }

        }
      
    }

  }

  .mainNav-menu {
    position: absolute;
    left: 0; 
    right: 0; 
    width: 100%; 
    margin-right: auto;
    margin-left: auto; 
    z-index: 103; 
    padding-top: rem-calc($level7 + $level6); 
    opacity: 0; 
    @include transform(translateY(100vh)); 
    @extend %text-left; 

    @media #{$medium-up} {
      position: relative; 
      padding-top: 0; 
      right: auto; 
      left: auto; 
      margin-left: 3%;
      opacity: 1; 
      @include transform(translateY(0)); 
    }

    .mainNav-menu-item {
      width: 100%;
      margin-bottom: rem-calc($level4); 
      text-align: center; 
      @include transition(all .4s ceaser($easeInOutCubic)); 

      @media #{$medium-up} {
        margin-bottom: 0; 
        margin-right: rem-calc($level2); 
      }

    }
  
    @for $i from 1 through 6 {

      .mainNav-menu-item:nth-of-type(#{$i}) {
        @include transition-delay(.03s * $i); 
      }

    }

    .mainNav-menu-item:last-child {
      
      @media #{$medium-up} {
        margin-right: 0;  
      }

    }

    .mainNav-menu-logo {
      fill: #fff; 
      width: rem-calc(140px); 
      margin-bottom: rem-calc($level1); 
      left: 0; 
      right: 0; 
      margin-right: auto;  
      margin-left: auto;  
    }

    .mainNav-menu-links {
        width: 100%;
        max-width: rem-calc(400px); 

      @media #{$large-up} {
        max-width: rem-calc(420px); 
      }
    }

    .mainNav-menu-link {
      color: #fff; 
      @extend %position-relative; 
      @include type-setting(5);  

      @media #{$medium-up} {
        color: $secondaryColor; 
        @include type-setting(-1);  
      }

    }

    .mainNav-menu-button {
      border: 1px solid #fff; 
      color: #fff; 
      background-color: transparent; 
      margin-top: rem-calc($level4); 
      margin-bottom: 0; 
      padding: rem-calc($level2); 
      @include transition(all .2s ease); 

      &:hover, 
      &:focus {
        background-color: #fff; 
        color: $secondaryColor; 
      }

      @media #{$medium-up} {
        border: 1px solid $secondaryColor; 
        color: $secondaryColor; 
        margin-top: 0; 
        @include type-setting(-1); 

        &:hover, 
        &:focus {
          background-color: $secondaryColor; 
          border: 1px solid $secondaryColor; 
          color: #fff; 
        }
      }
    }

    .mainNav-menu-social {
      
      .social-link {
        fill: #fff; 

        &:hover, 
        &:focus {
          color: $secondaryColor; 
        }
      }
    }

    .mainNav-actions {
      width: 100%; 
      max-width: rem-calc(200px); 
      margin-bottom: 0; 
      margin-left: auto; 
      margin-right: auto; 
      left: 0; 
      right: 0;

      @media #{$medium-up} {
        padding-left: 5%; 
        margin-right: rem-calc($level2);
      } 
    }
  }

  .mainNav-menu--offCanvas {
    color: #fff; 
    position: fixed; 
    transform-origin: center; 
    background-color: $translucentBlack;
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    z-index: 102; 
   -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0; 
    @include transform(translateY(100vh));
  }

  
  @media #{$small-only} {

    &.is-closed {  // for when nav is closed

      .mainNav-menu {
        @include animation(main-nav-overlay-disappear .4s ceaser($easeInOutCubic) forwards); 
        
        .mainNav-menu-item {
          opacity: 0;   
          @include transform(translateY(26px));     
        }
      }

    }

    &.is-open { // for when nav is open
      
      .mainNav-menu {
        @include animation(main-nav-overlay-appear .4s ceaser($easeInOutCubic) forwards); 

        .mainNav-menu-item {
          opacity: 1;   
          @include transform(translateY(0));     
        }
      }
    }
  }
}


.no-touch {
  
  .mainNav-menu-link {
      &:after {
        content:  " "; 
        width: 0; 
        height: rem-calc(4px); 
        background-color: $primaryColor; 
        right: 0; 
        left: 0; 
        bottom: 0; 
        @include transition(all .2s ceaser($easeInOutCubic)); 
        @extend %position-absolute; 

        @media #{$medium-up} {
          background-color: $secondaryColor; 
          bottom: rem-calc(-6px);
          height: rem-calc(2px); 
        }
      }
      
      &:hover, 
      &:focus,
      &.is-active {
        color: #fff; 

        @media #{$medium-up} {
          color: $secondaryColor; 
        }

        &:after{
          width: 100%; 
        }
      }  
  }
}





/*------------------------------------*\
    #Main Nav Small Menu Toggle
\*------------------------------------*/

$toggleStrokeWidth: 4px;
$toggleHeight: 1.3rem; 
$toggleWidth: 2.1rem;  
$toggleColor: $secondaryColor; 

.mainNav-menuToggle {
    width: rem-calc(60px);
    height: rem-calc(60px);
    color: $primaryColor; 
    right: 0; 
    top: 3px; 
    z-index: 201; 
    position: absolute; 

    @media #{$medium-up} {
      display: none; 
    }

    &:hover, 
    &:focus {
      


    }

    a {
      color: $toggleColor; 
      padding-top: 6px; 
    }
 
}


.menuToggle-icon {
  height: $toggleHeight;
  width: $toggleWidth; 
  z-index: 202; 
  @extend %display-inlineBlock;
  @extend %position-relative; 

  &:after,
  &:before {
    content: ""; 
    height: $toggleStrokeWidth;
    background-color: $toggleColor; 
    width: 100%;  
    right: 0; 
    left: 0; 
    @extend %position-absolute; 
    @include border-radius(4px); 
    @include transition(all .2s ceaser($easeInOutCubic)); 
  }

  &:after {
    top: 50%; 
  }
}





/*------------------------------------*\
    #Main Nav Menu Toggle Open
\*------------------------------------*/


.mainNav-menuToggle.is-menu-open {
  
  .menuToggle-label {
    opacity: 0; 
  }

  .menuToggle-icon {
    border-bottom: solid 2px transparent; 

    &:before {
      top: 50%; 
      background-color: #fff; 
      @include transform(rotate(45deg)); 
    }

    &:after{
      background-color: #fff; 
      @include transform(translateY(0) rotate(-45deg)); 
    }

    &:hover,
    &:focus {
      @include transform(scale(1.2)); 
    }
  }
}






/*------------------------------------*\
    #Main Nav Animations
\*------------------------------------*/


@include keyframes(main-nav-overlay-appear) {

  0% {
    opacity: 0; 
    @include transform(translateY(100vh)); 
  }

  1% {
    opacity: 0; 
    @include transform(translateY(0)); 
  }

 100% {
    opacity: 1; 
    @include transform(translateY(0)); 
  }

}

@include keyframes(main-nav-overlay-disappear) {

  0% {
    opacity: 1; 
    @include transform(translateY(0)); 
  }

  99% {

    opacity: 0; 
    @include transform(translateY(0)); 
  }

 100% {
    opacity: 0; 
    @include transform(translateY(100vh)); 
  }

}


@include keyframes(main-nav-container-disappear) {

  0% {
    @include transform(translateY(0)); 
  }

  99% {
    z-index: 100; 
    @include transform(translateY(0)); 
  }

 100% {
    opacity: 0; 
    @include transform(translateY(100vh)); 
  }

}


@include keyframes(main-nav-container-appear) {

  0% {
    opacity: 0; 
    @include transform(translateY(100vh)); 
  }
  1% {
    opacity: 1; 
    @include transform(translateY(0)); 
  }

  100% {
    opacity: 1; 
    @include transform(translateY(0)); 
  }

}


