/*------------------------------------*\
    #Navigation Styles  
\*------------------------------------*/


.nav-is-open {

  overflow: hidden; 
  overflow-x: hidden; 

}


/*------------------------------------*\
    #Main Nav Basic Styles
\*------------------------------------*/


.mainNav {

  width: 100%; 
  position: relative;
  height: rem-calc(60px); 
  background-color: #fff; 

}


@include keyframes(main-nav-appear) {

  0% {
    opacity: 0; 
    @include transform(translateX(-300%)); 


  }

  1% {

    opacity: 0; 
    @include transform(translateX(0)); 
  }

 100% {
    opacity: 1; 
    @include transform(translateX(0)); 

  }

}

@include keyframes(main-nav-disappear) {

  0% {
    opacity: 1; 
    @include transform(translateX(0)); 


  }

  99% {

    opacity: 0; 
    @include transform(translateX(0)); 

  }

 100% {
    opacity: 0; 
    @include transform(translateX(-300%)); 

  }

}



.fixed-nav {
  
  width: 100%; 
  z-index: 100;
  @extend %position-fixed; 

}

.absolute-nav {

  width: 100%; 
  z-index: 100; 
  top: 0; 
  @extend %position-absolute; 

}





/*------------------------------------*\
    #Main Navigation Inner Components Styles  
\*------------------------------------*/


.mainNav {
  padding-right: rem-calc($level2);
  padding-left: rem-calc($level2);

  .mainNav-header {
    width: 100%; 
    height: 100%;
    padding-top: rem-calc($level1); 
    padding-bottom: rem-calc($level1); 
    z-index: 200; 
    @extend %position-relative; 

    .mainNav-title {
        height: 100%; 
        margin-left: rem-calc($level2);
        @include transform(translateX(0)); 
        @include transition(all .2s ceaser($easeOutCubic));
        @extend %position-relative; 


        .mainNav-title-logo {
          height: 100%; 
          width: rem-calc(120px);
          fill: $secondaryColor; 

        }
      
    }

  }

  .mainNav-menu {
    position: absolute;
    left: 0; 
    right: 0; 
    opacity: 0; 
    margin-top: rem-calc($level4); 
    padding-top: rem-calc($level3);
    padding-bottom: rem-calc($level3); 
    width: 85%; 
    margin-right: auto;
    margin-left: auto; 
    z-index: 6; 
    @include transition(all .6s ceaser($easeOutCubic)); 
    @include transform(translateY(250px) translateX(100%));
    @extend %text-left; 

    @media #{$medium-up} {
      padding-top: rem-calc($level7 + $level2); 
      width: 80%; 

    }

    @media #{$large-up} {
      width: 60%;
      padding-top: rem-calc($level7); 

    }

    .mainNav-menu-logo {
      margin-top: rem-calc($level2); 
      margin-bottom: rem-calc($level2); 
      margin-right: rem-calc($level2); 
      width: 10rem; 
      @extend %text-center; 

      @media #{$medium-up} {

        width: 11rem; 
        margin-right: rem-calc($level4); 

      }

    }

    .mainNav-link {
      color: $secondaryColor; 
      letter-spacing: 1px; 
      @include type-setting(-1);  
      @extend %fwb; 
      @extend %uc; 

      &:hover, 
      &:focus {
        color: $secondaryColor; 
        text-decoration: underline; 

      }

      @media #{$medium-up} {

        float: right;

      }

    }

    .mainNav-divider {
      
      @media #{$medium-up} {
        margin-bottom: rem-calc($level5); 

      } 
    
    }

    .mainNav-menu-primaryLinks {
      position: relative;
      width: 100%; 

      @media #{$medium-up} {

        margin-bottom: rem-calc($level5); 

      }

      @media #{$large-up} {

        width: 100%; 

      }

      .mainNav-menu-item {

        margin-bottom: rem-calc($level4); 

        @media #{$medium-up} {

          margin-bottom: rem-calc($level7); 

        }

        @media #{$large-up} {

          margin-bottom: rem-calc($level5); 

        }

      }

      .mainNav-menu-item:last-child {

        margin-bottom: 0;

      }

      .mainNav-menu-link {
          color: #fff; 
          white-space: nowrap;  
          border-bottom: 0; 
          font-family: $primary-font-family; 
          @extend %text-left; 
          @extend %position-relative; 
          @include type-setting(3); 
          @include transition(all .4s ceaser($easeOutCubic)); 
            
            
          @media #{$medium-up} {
           
            display: block; 
            width: 100%; 
            @include type-setting(5); 

          }
          
          @media #{$large-up} {

              @include type-setting(6); 

          }

          &:before {

            content: "";
            width: 0; 
            height: 0px; 
            bottom: -4px;  
            left: 0;
            border-bottom: 2px solid $secondaryColor;
            @extend %position-absolute; 
            @include transition(width .3s ceaser($easeOutCubic), height .2s ceaser($easeOutCubic) .3s); 

            @media #{$large-up} {
              
              bottom: -2px;  

            }
              
          }

          &:hover,
          &:focus {
              
            color: #fff;  

            .mainNav-menu-linkLabel {

              opacity: 1; 

            }

            &:before {

              width: 100%; 

              @media #{$medium-up} {

                height: rem-calc($level3); 
                border-right: 2px solid $secondaryColor;

              }

            }
    
          }

        .mainNav-menu-linkLabel {

          display: none; 
          @include transition(all .2s ceaser($easeOutCubic) .3s); 


          @media #{$medium-up} {
          
            top: -16px; 
            opacity: 0; 
            display: block; 
            position: absolute;
            right: rem-calc($level2);
            width: 200px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $secondary-font-family;
            @include type-setting(-1);  

          }

          @media #{$large-up} {

            top: 0; 

          }
          
          .icon {
          
            margin-right: rem-calc($level1); 

            @media #{$medium-up} {

              width: rem-calc(38px); 

            }

          }

        }

      }

    }

    .mainNav-menu-secondaryLinks {
    
      .mainNav-menu-item {

        margin-bottom: rem-calc($level2); 
        text-align: center; 

        .mainNav-menu-link {

          font-family: $primary-font-family; 
          color: #fff; 
          position: relative; 
          @include type-setting(1); 

          &:before {

            content: "";
            background-color: $secondaryColor;
            width: 0; 
            height: 2px; 
            bottom: -2px;  
            left: 0;
            @extend %position-absolute; 
            @include transition(all .2s ceaser($easeOutCubic)); 

          }

          &:hover, 
          &:focus { 

              
            &:before {
              
              width: 100%; 
              
            }

          }

        }

      }

      .mainNav-menu-item:last-child {

        margin-bottom: 0;

      }


    }

    .mainNav-menu-social {
      
      .social-link {
        
        fill: #fff; 

        &:hover, 
        &:focus {

          color: $secondaryColor; 

        }

      }
  
    }


  }


  .mainNav-overlay {

    width: rem-calc(60px);
    height: rem-calc(60px);
    color: #fff; 
    right: -5px; 
    top: 0; 
    margin-top: .6rem;
    margin-right: 1rem;
    position: fixed; 
    transform-origin: center; 
    @include transition(all .6s ceaser($easeInOutQuint)); 

    @media #{$large-up} {

      width: rem-calc(72px);
      height: rem-calc(72px);

    }


    &:before {

      content: " ";
      width: 100%; 
      height: 100%; 
      position: absolute; 
      top: 0; 
      right: 0; 
      left: 0; 
      bottom: 0; 
      background-color: rgba($primaryColor, .9);
      -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
      clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
      transform-origin: center; 
      @include transform(scale(1), rotate(0deg)); 
      @include transition(all .7s ceaser($easeInOutQuint)); 

    }
  
  }

  &.is-closed {  // for when nav is closed
  
  
  }

  &.is-open { // for when nav is open
    
    .mainNav-overlay {

      width: 100vw;
      height: 100vh;

      &:before {
      
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 17%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 17%);
          background-color: $primaryColor; 
          @include transform(scale(28) rotate(20deg));
  
        }

      }

    .mainNav-menu {
      
      opacity: 1; 
      @include transform(translateY(0) translateX(0))

    }

  }

}





/*------------------------------------*\
    #Main Nav Small Menu Toggle
\*------------------------------------*/

$toggleStrokeWidth: 3px;
$toggleHeight: 1.1rem; 
$toggleWidth: 1.4rem;  
$toggleColor: $secondaryColor; 

.mainNav-menuToggle {

    width: rem-calc(60px);
    height: rem-calc(60px);
    color: $primaryColor; 
    right: 0; 
    top: 0; 
    z-index: 201; 
    margin-top: rem-calc($level1); 
    margin-right: rem-calc($level2);
    position: absolute; 

    @media #{$large-up} {

      width: rem-calc(72px);
      height: rem-calc(72px);
      margin-right: rem-calc($level3);

    }


    &:before {

      content: " ";
      width: 100%; 
      height: 100%; 
      position: absolute; 
      top: 0; 
      right: 0; 
      left: 0; 
      bottom: 0; 
      background-color: transparent;
      -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
      clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
      transform-origin: center; 
      @include transform(rotate(0)); 
      @include transition(all .2s ceaser($easeInOutQuint)); 

    }

    &:hover, 
    &:focus {
      
      &:before {

        @include transform(rotate(-180deg)); 

      }

    }

    @media #{$medium-up} {
      width: 60px; 
      height: 60px; 
      margin-top: rem-calc($level2); 
      margin-right: rem-calc($level3);

    }

    @media #{$large-up} {

      width: 60px; 
      height: 60px; 

    }

    a {
      color: $toggleColor; 
      padding-top: 6px; 
    }
 
}


.menuToggle-icon {

  border-bottom: $toggleStrokeWidth solid $toggleColor; 
  height: $toggleHeight;
  width: $toggleWidth; 
  z-index: 202; 
  @extend %display-inlineBlock;
  @extend %position-relative; 


  &:after,
  &:before {
  
    content: ""; 
    height: $toggleStrokeWidth;
    background-color: $toggleColor; 
    width: 100%;  
    @extend %position-absolute; 
    @include transition(all .2s ceaser($easeInOutQuint)); 

  }

  &:after {

  top: 50%; 

  }

  &:hover,
  &:focus {
    

    
  }
 
}





/*------------------------------------*\
    #Main Nav Menu Toggle Open
\*------------------------------------*/


.mainNav-menuToggle.is-menu-open {
  
  .menuToggle-label {

    opacity: 0; 

  }

  .menuToggle-icon {

    border-bottom: solid 2px transparent; 

    &:before {
      top: 50%; 
      background-color: $secondaryColor; 
      @include transform(rotate(45deg)); 
    }

    &:after{
      background-color: $secondaryColor; 
      @include transform(translateY(0) rotate(-45deg)); 
    }

    &:hover,
    &:focus {
      
      @include transform(scale(1.2)); 

    }

  }

}


