
/*------------------------------------*\
    #Sections 
\*------------------------------------*/

.section {
  padding-bottom: rem-calc($level7);
  @extend %position-relative; 

  @media #{$medium-up} {

    padding-bottom: rem-calc($level7 + $level2);
    
  }

  @media #{$large-up} {

    padding-bottom: rem-calc($level7 + $level1);
    
  }
    
}

.section--lead {
  padding-top: rem-calc($level7);

  @media #{$medium-up} {
    padding-top: rem-calc($level7 + $level2);
    
  }

  @media #{$large-up} {
    padding-top: rem-calc($level7 + $level1);
    
  }

}

.section--main {
  padding-top: rem-calc($level7 + $level7 + $level3); 

}

.section--padded {
  padding-bottom: rem-calc($level7);
  padding-top: rem-calc($level7);

  @media #{$medium-up} {
    padding-bottom: rem-calc($level7 + $level3);
    padding-top: rem-calc($level7 + $level3);
    
  }

  @media #{$large-up} {
    padding-bottom: rem-calc($level7 + $level4);
    padding-top: rem-calc($level7 + $level4);
    
  }

}


.section--shadowed {    
  
  z-index: 6; 
  @include box-shadow(0 0 26px rgba(0,0,0, .2)); 

}

.section--bordered {
  border-bottom: 1px solid $grey--med; 
  
}





/*------------------------------------*\
    #Section Types 
\*------------------------------------*/


.section--primary {
    background-color: #fff; 

    .section-text {
      color:  $body-color; 
      
    }
}


.section--secondary {
  background-color: $secondaryColor; 

  .section-text {
    color: #fff; 

  }

}


.section--alt {
    overflow: hidden;
    width: 100%; 
    color: #fff; 
    @include primaryGradient(); 

}


.section--highlighted {
  background-color: $quaternaryColor; 

}

.section--altHighlighted {
  background-color: $grey--superLight; 
}
