
/*------------------------------------*\
    #Tables
\*------------------------------------*/


table,
.table {
  border: none; 
  width: 100%; 

  th {
    padding-top: rem-calc($level2);
    padding-bottom: rem-calc($level2);
    @include type-setting(-1); 
    @extend %uc; 
    @extend %text-left; 

  }

}





/*------------------------------------*\
    #Table Types
\*------------------------------------*/


.table--list {
  width: 100%; 

  tr,
  td, 
  th, 
  .table-row {
    padding: rem-calc($level3);
    padding-left: rem-calc($level5); 
    color: $secondaryColor;

    td, 
    .table-data {
      @extend %text-left; 

    }

    .table-contribution {
      @include type-setting(3);

    }

  }
  
  tr, 
  .table-row {

    background-color: #FFF; 
  }

  tr, 
  .table-row {
   background-color: #fff; 
   border-bottom: 1px solid $grey--light; 

  }


}