
<div ng-show="!resetPassword.passwordResetSuccesfully">

  <div class="card-content">
    
    <h1 class="h3 text-center txtc2 mb0">Setup New Password</h1>

  </div>

  <div class="card-content">

    <form ng-submit="resetPassword.resetUserPassword(resetPassword.newPasswordForm)"
          name="resetPassword.newPasswordForm"
          ng-model-options="{ getterSetter: true }"
          novalidate>
  
      <div class="input-group  input--medium">
      
        <label for="password">
          Password
        </label>
      
        <input type="password" 
               id="password"
               name="password"
               class="input--primary input--medium"
               ng-model="resetPassword.newPassword.password"
               ng-minlength = "8"
               required
               floating-label>
      
        <div ng-messages="resetPassword.newPasswordForm.password.$error"
             ng-show="resetPassword.newPasswordForm.$submitted &&  resetPassword.newPasswordForm.password.$error"
             role="alert"
             class="alerts  alert--warning"
             >
      
            <div ng-message="ng-minlength">
                Your password must be atleast 8 characters in length.
            </div>

            <div ng-message="required">
                A new password is required.
            </div>

        </div>
      
      </div>
      
      
      <div class="input-group  input--medium">
      
        <label for="confirmPassword">
          Re-enter Password 
        </label>
      
        <input type="password" 
               id="confirmPassword"
               name="confirmPassword"
               class="input--primary input--medium"
               ng-minlength="8"
               ng-model="resetPassword.newPassword.confirmPassword"
               compare-to="resetPassword.newPassword.password"
               required
               floating-label>
      
        <div ng-messages="resetPassword.newPasswordForm.confirmPassword.$error"
             ng-show="resetPassword.newPasswordForm.confirmPassword.$error && resetPassword.newPasswordForm.$submitted"
             role="alert"
             required
             class="alerts  alert--warning">

            <div ng-message="compareTo">
              The passwords must match.
            </div>
            
            <div ng-message="required">
              Password must be confirmed.
            </div>
            
          </div>
        
        </div>

      <button class="button--secondary  button--medium button--expanded mb0"
              type="submit">

          Create New Password

      </button>
  
    </form>

  </div>

</div>


<div ng-show="resetPassword.passwordResetSuccesfully">
  
  <div class="card-content">

    <h1 class="mb2  txtc2  ff2 text-center">
      Success!
    </h1>

    <p class="text-center">
      Your new password has been created. Go to the login screen below and continue contributing.
    </p>
    
    <a ui-sref="main.account.login" class="button  button--expanded  button--medium  button--secondary">
      Login with new password
    </a>

  </div>

</div>
