
<div class="section pt0"
     ng-switch on="projectCta.content.fields.imagePosition">
    
  <div class="row">

    <div class="small-12 columns medium-10  medium-centered">

      <div class="row" ng-switch-when="no-image">
          
          <div class="small-12  medium-10  medium-centered  large-9  columns text-center">
            
            <p class="p1">
              
              {{projectCta.content.fields.description}}
            </p>
            
            <a href="{{projectCta.content.fields.link}}" target="_blank" class="button  button--primary button--medium">
              
             <span class="button-textState1">Purchase Here</span>
             <span class="button-textState2">Purchase Here</span>


            </a>

          </div>
      
      </div>
      
      <div class="row" ng-switch-when="left">
          
        <div class="grid grid--center small-grid--flexDirectionColumn med-grid--flexDirectionRow">
          <div class="small-12 columns medium-6 columns">
              
              <img ng-src="{{projectCta.content.fields.image.fields.file.url}}" alt="">
          
          </div>
          
          <div class="small-12 medium-6 columns text-center medium-text-left">
            
            <div class="row">

              <div class="small-12 columns large-11  large-centered text-center">
                
                <div ng-if="projectCta.content.fields.vendor.fields.file.url">

                  <img ng-src="
                  {{projectCta.content.fields.vendor.fields.file.url}}" alt="" width="200" class="mb3">

                </div>

                <p class="p1">
                  
                  {{projectCta.content.fields.description}}
                </p>

                <a href="{{projectCta.content.fields.link}}" target="_blank" class="button  button--primary button--medium">
                  
                   <span class="button-textState1">Purchase Here</span>
                   <span class="button-textState2">Purchase Here</span>

                </a>

              </div>

            </div>

          </div>

        </div>
      
      </div>
      
      <div class="row" ng-switch-when="right">
            
        <div class="grid grid--center small-grid--flexDirectionColumn med-grid--flexDirectionRow">

          <div class="small-12 columns medium-6  medium-push-6 columns">
              
              <img ng-src="{{projectCta.content.fields.image.fields.file.url}}" alt="">
          
          </div>
          
          <div class="small-12 medium-6 medium-pull-6 columns text-center medium-text-left">
            
            <div class="row">


              <div class="small-12 columns large-11  large-centered text-center">
                
                <div ng-if="projectCta.content.fields.vendor.fields.file.url">

                  <img ng-src="
                  {{projectCta.content.fields.vendor.fields.file.url}}" alt="" width="200" class="mb3">

                </div>

                <p class="p1">
                  
                  {{projectCta.content.fields.description}}
                </p>

                <a href="{{projectCta.content.fields.link}}" target="_blank" class="button  button--primary button--medium">
                  
                 <span class="button-textState1">Purchase Here</span>
                 <span class="button-textState2">Purchase Here</span>

                </a>

              </div>

            </div>
            
          </div>

        </div>
      
      </div>

    </div>

  </div>

</div>