<div class="section  projectBrag pt0">
  
  <div class="row">

    <div class="small-12 columns medium-11 large-10 medium-centered">
    
      <div class="row">
        
        <div class="small-12 columns">
          
          <div class="projectBrag-container">

            <h2 class="projectBrag-headline">{{projectBrag.brag.headline}}</h2>

          </div>
      
        </div>
      
        <div class="small-12 columns">
            
          <div class="row  grid  grid--center  small-grid--flexDirectionColumn  med-grid--flexDirectionRow">
      
            <div class="small-12  medium-6 large-5 columns">
              
              <ul class="list  list--secondary text-kilo" 
                  ng-if="projectBrag.brag.braggingPoints &&  projectBrag.showQuotes">
                  
                  <li class="list-item  p1" ng-repeat="item in projectBrag.brag.braggingPoints">
                      
                     <div class="media--fl">
                         <div class="pr1" ><span class="ff2  txtc5">◦ </span>  </div>
                        <div >{{item}}</div>

                      </div>

                  </li>
              
              </ul>  

              
              <ul class="list  list--secondary text-kilo" 
                  ng-if="projectBrag.brag.quotes && projectBrag.showQuotes">
                  
                  <li class="list-item" ng-repeat="quote in ::projectBrag.brag.quotes track by $index">
                      
                      <blockquote class="p2">{{::quote.fields.quote}}</blockquote>

                      <div class="ff2  txtc5">{{::quote.fields.author}}</div>

                  </li>
              
              </ul>  

              
            </div>
            
            <div class="small-12  medium-6 large-7   columns">
              
              <div>
                
                <img ng-src="{{projectBrag.brag.image.fields.file.url}}" alt="">
              </div>
      
            </div>
      
          </div>
      
        </div>
      
      </div>

    </div>

  </div>

</div>