

/*------------------------------------*\
    #Styles specific to login and account sign up page 
\*------------------------------------*/

.loginView {
  min-height: 100vh; 
  padding-top: rem-calc($level7);
  padding-bottom: rem-calc($level7);


}