

/*------------------------------------*\
    #Login and Account Sign Up Page 
\*------------------------------------*/

.loginView {
  min-height: 100vh; 

  @media #{$medium-up} {
    padding-top: rem-calc($level5); 

  }

  .loginView-logo {
    max-width: rem-calc(180px);
    margin-bottom: rem-calc($level3);

  }
  
}





/*------------------------------------*\
    #A Card Containing Account Login UX
\*------------------------------------*/

.card--login {
  width: 100%; 
  
  .card-header {
    padding-bottom: 0; 
    border-bottom: none; 
  }

  @media #{$medium-up} {
    margin-right: auto; 
    margin-left: auto; 
    width: rem-calc(372px); 
    padding: rem-calc($level2); 

  }
  
}





/*------------------------------------*\
    #Password Requirements Checkboxes
\*------------------------------------*/

.passRequirementCheck {
  height: rem-calc($level2); 
  width: rem-calc($level2); 
  display: inline-block; 
  border: 1px solid $grey--light; 
  @include transition(all .3s ceaser($easeInOutCubic)); 
  @include border-radius(100%); 

  &.is-checked {
    background-color: $activeColor; 
    border-color: $activeColor; 

  }

}