

/*------------------------------------*\
    #Sponsee Splash Page
\*------------------------------------*/


/*------------------------------------*\
    #Hand Pulling Dollar Animation
\*------------------------------------*/

.hand-pulling-dollar {

  .hand-right {
    @include animation(hand-goes-right .6s ease-in-out infinite alternate);

  }

  .hand-left {

    @include animation(hand-goes-left .6s ease-in-out infinite alternate);


  }


  .dollar {
    @include transform-origin(center); 
    @include animation(dollar-stretches .6s ease-in-out infinite alternate);
  

  }

  .strokes {
    stroke-dasharray: 30;
    @include animation(show-accents 1.2s ease-in-out infinite forwards .7s);


  }

}


@include keyframes(hand-goes-right) {
  
  0% {

    @include transform(translateX(0)); 

  }

  100% {
    
    @include transform(translateX(6px)); 

  }
}


@include keyframes(hand-goes-left) {
  
  0% {

    @include transform(translateX(0)); 

  }

  100% {
    
    @include transform(translateX(-6px)); 

  }
}



@include keyframes(dollar-stretches) {
  
  0% {

    @include transform(scaleX(1)); 

  }

  100% {
    
    @include transform(scaleX(1.18)); 

  }
}


@include keyframes(show-accents) {
  
  0% {

    stroke-dashoffset: 60; 

  }

  100% {
    
    stroke-dashoffset: 0; 

  }


}





/*------------------------------------*\
    #Hang Opening Safe
\*------------------------------------*/


.hand-opening-safe {
  
  .safe-key {
    @include transform(translate(170px, 158px));

    .safe-key-inner {
        @include animation(safe-key-rotating .6s ease-in-out infinite alternate); 

    }

    .safe-key-original {
      @include transform(translate(-170px, -158px));

    }

  }

  .hand {

    .hand-inner {
      @include transform-origin(center); 
      @include animation(hand-opening .6s ease-in-out infinite alternate); 

    }
  }

  .coins {
    @include animation(coin-jump .6s ease-in-out infinite alternate); 

  }


  .coins--delay {
    @include animation(coin-jump-2 .6s ease-in-out infinite alternate .2s); 

  }

  .coins--superDelay {
    @include animation-delay(.3s); 


  }
}


@include keyframes(safe-key-rotating) {

  0% {
    @include rotate(0); 
  }

  100% {
    @include rotate(30deg)
  }

}


@include keyframes(hand-opening) {

  0% {
    @include transform(rotate(0) translate(0, 0));

  }

  100% {
    @include transform(rotate(20deg) translate(-7px, 4px));
  }

}


@include keyframes(coin-jump) {

  0% {
    @include transform(translateY(0));

  }

  100% {
    @include transform(translateY(-15px));

  }
}


@include keyframes(coin-jump-2) {

  0% {
    @include transform(translateY(0));

  }

  100% {
    @include transform(translateY(-8px));

  }
}





/*------------------------------------*\
    #Hand Holding Bills
\*------------------------------------*/


.hand-holding-bills {
  
  .dollarbills {


    .dollarbill:nth-of-type(1) {
      transform-origin: 104px 201px;
      @include animation(fan-dollar-2 .6s ease-in-out infinite alternate)

    }


    .dollarbill:nth-of-type(2) {
      transform-origin: 108px 196px;
      @include animation(fan-dollar-3 .6s ease-in-out infinite alternate)

    }


    .dollarbill:nth-of-type(3) {
      transform-origin: 100px 190px;
      @include animation(fan-dollar-4 .6s ease-in-out infinite alternate)

    }

    .dollarbill:nth-of-type(4) {
      transform-origin: 116px 192px;
      @include animation(fan-dollar-5 .6s ease-in-out infinite alternate)

    }


    @for $i from 1 through 5 {

      .dollarbill:nth-of-type(#{$i}) {

        @include animation-delay(.06s * $i); 
      }

    }

  }

}


@include keyframes(fan-dollar-2) {

  0% {
    @include transform(rotate(-111deg));

  }

  100% {
    @include transform(rotate(0));

  }
}


@include keyframes(fan-dollar-3) {

  0% {
    @include transform(rotate(-86deg));

  }

  100% {
    @include transform(rotate(0));

  }
}

@include keyframes(fan-dollar-4) {

  0% {
    @include transform(rotate(-64deg));

  }

  100% {
    @include transform(rotate(0));

  }
}


@include keyframes(fan-dollar-5) {

  0% {
    @include transform(rotate(-26deg));

  }

  100% {
    @include transform(rotate(0));

  }
}




/*------------------------------------*\
    #Hands Fist Bumping
\*------------------------------------*/


.hands-fist-bumping {
    
  .left-fist {
    
    @include animation(left-fist-bumping .6s ease-in-out infinite alternate); 

  }

  .right-fist {
    
    @include animation(right-fist-bumping .6s ease-in-out infinite alternate); 

  }

  .strokes {
    stroke-dasharray: 30;
    @include animation(show-accents 1.2s ease-in-out infinite forwards .6s);

  }

}



@include keyframes(left-fist-bumping) {
  
  0% {

    @include transform(translateX(-2px)); 

  }

  60% {
    
    @include transform(translateX(12px)); 

  }

  100% {
    @include transform(translateX(12px)); 
    
  }

}


@include keyframes(right-fist-bumping) {
  
  0% {

    @include transform(translateX(2px)); 

  }

  60% {
    
    @include transform(translateX(-12px)); 

  }

  100% {
    @include transform(translateX(-12px)); 

  }

}




/*------------------------------------*\
    #Hand Holding App
\*------------------------------------*/


.hand-holding-app {

  .appSplash {
    transform-origin: 195px 140px; 

  }

  .appIcon {
    transform-origin: 195px 140px; 
    position: relative; 
    
    .appIconPocket {
      z-index: 2; 
    }

    .appIconDollar {
      transform-origin: 195px 140px; 
      z-index: 0; 

    }
  }

}

