
/*------------------------------------*\
    #Styles specific to sponsorship creation page 
\*------------------------------------*/


/*------------------------------------*\
    #Plans  
\*------------------------------------*/


.plans {
  
  .plan {
    margin-bottom: rem-calc($level7); 

  }

  .plan:first-child {
    position: relative; 

    &:after {
      content: "or";
      color: $secondaryColor; 
      font-weight: bold; 
      position: absolute; 
      bottom: rem-calc(-28px); 
      right: 0; 
      left: 0; 
      text-align: center; 
      font-family: $secondary-font-family; 
      @include type-setting(1);
      

      @media #{$large-up} {
        bottom: 0; 
        left: auto; 
        top: 44%;
        left: auto;
        right: rem-calc(-10px);
        @include type-setting(1);

      }

    }

  }

}





/*------------------------------------*\
    #Custom Amount Input  
\*------------------------------------*/


.input--customAmount {
    display: inline-block;
    position: relative;

    &:before {
      content: "$";
      left: rem-calc($level1); 
      top: 0;
      bottom: 0;
      color: $grey--light;  
      position: absolute; 
      height: rem-calc($level4);
      margin: auto;  

    }

    input {

      border: 1px solid $grey--light; 
      padding: rem-calc($level1);
      padding-left: rem-calc($level3);
      width: rem-calc(88px);
      @include border-radius(6px);

      //Uses this to hide the default increase up and down arrows 
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0; 

      }

    &:active, 
    &:focus {
      border: 1px solid $secondaryColor; 
    }

  }

}

