

/*------------------------------------*\
    #Styles Specific to Sponsor View 
\*------------------------------------*/


.sponsorViewContainer {
  padding-top: rem-calc($level7 + $level3);

  @media #{$large-up} {
    padding-left: 14%; 
    min-height: 100vh; 
    padding-top: rem-calc($level7);

  }

}


.sponsorView-inner {

  @media #{$large-up} {
    padding-left: rem-calc($level2);
    padding-right: rem-calc($level2);

  }

}