

/*------------------------------------*\
    #Styles Specific to Sponsor View 
\*------------------------------------*/


.sponsorViewContainer {
  padding-top: rem-calc($level6);

  @media #{$large-up} {
    min-height: 90vh; 
    padding-top: rem-calc($level5);

  }

}


.sponsorView-inner {
  min-height: 90vh; 

  @media #{$large-up} {
    padding-left: rem-calc($level1);
    padding-right: rem-calc($level1);
  }

}





/*------------------------------------*\
    #Sponsor Section Illustrations
\*------------------------------------*/


.sponsorSection-illustrContainer {
  position: relative;
  width: rem-calc(250px);
  height: rem-calc(250px);

  @media #{$large-up} {
    width: 100%;
  }
}



.sponsorSection-illustr {
  position: absolute; 
  left: 0; 
  width: 100%;
  height: 100%;
  top: 0; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left bottom;
} 


.sponsorSection-illustr--dashboard {
  @media #{$medium-up} {
    background-image: url('../assets/images/illustr--dashboardPage.svg');
    left: -8%; 
  }

  @media #{$large-up} {
    left: -2%; 
  }
}

.sponsorSection-illustr--settings {
  @media #{$medium-up} {
    background-image: url('../assets/images/illustr--settingsPage.svg');
    left: -7%;  
  }

  @media #{$large-up} {
    left: -3%; 
  }

}

.sponsorSection-illustr--contributions {
  @media #{$medium-up} {
    left: -7%; 
    background-image: url('../assets/images/illustr--contributionsPage.svg');
  }

  @media #{$large-up} {
    left: -2%; 
  }

}

.sponsorSection-illustr--managePlan {
  @media #{$medium-up} {
    background-image: url('../assets/images/illustr--managingPlanPage.svg');
    left: -5%; 
    width: 100%; 
    bottom: 40%;
  }

  @media #{$large-up} {
    width: 90%; 
    right: 0; 
    left: 0; 
    margin: auto; 
    bottom: 30%; 
  }

}
