<div>
  
    <p class="text-center">
     Enter your personal information and contact preferences so we can verify your identity. 
    </p>
  
    <form ng-submit="signUp.createUser(signUp.userIdentityForm, signUp.userInfo)"
          name="signUp.userIdentityForm"
          ng-model-options="{ getterSetter: true }"
          novalidate>
  
      <div class="input-group inputGroup--alt input--medium">
  
          <label for="first name">
        First Name
            </label>
        
            <input type="text" 
              id="first name"
             ng-model="signUp.userInfo.first_name"
             name="first_name"
             required
             ng-minlength="3"
             floating-label>
  
        <div ng-messages="signUp.userIdentityForm.first_name.$error"
             ng-show="signUp.userIdentityForm.$submitted && signUp.userIdentityForm.first_name.$error"
             role="alert"
             class="alerts  alert--warning">
  
            <div ng-message="required">
               A first name is needed. 
            </div>
  
            <div ng-message="minlength">
                Name must be atleast 2 characters in length.
            </div>
  
        </div>
  
      </div>
  
      <div class="input-group inputGroup--alt input--medium">
  
        <label for="full name">
          Last Name
        </label>
  
        <input type="text" 
               id="full name"
               class="input--primary input--medium"
               ng-model="signUp.userInfo.last_name"
               name="last_name"
               ng-minlength="2"
               floating-label
               required>
  
        <div ng-messages="signUp.userIdentityForm.last_name.$error"
             ng-show="signUp.userIdentityForm.$submitted && signUp.userIdentityForm.last_name.$error"
             role="alert"
             class="alerts  alert--warning">
  
           <div ng-message="required">
                A last name is needed. 
            </div>
  
            <div ng-message="minlength">
               Last name must be atleast 2 characters in length.
            </div>
  
        </div>
  
      </div>

      
      <div class="input-group inputGroup--alt input--medium">

        <label for="dob">
        Date of birth
        </label>

        <input type="date"
            id="dob"
            name="dob"
            ng-model="signUp.userInfo.dob"
            required
            floating-label
            check-date
            >

        <div ng-messages="signUp.userIdentityForm.dob.$error"
             ng-show="signUp.userIdentityForm.$submitted && signUp.userIdentityForm.dob.$error"
             role="alert"
             class="alerts  alert--warning">
        
            <div ng-message="required">
            A date of birth is required to verify your identity.
            </div>

            <div ng-message="checkDate">
              You must be atleast 18 years of age.
            </div>

        </div>

      </div>


      <div class="input-group inputGroup--alt input--medium mb2"
           ng-if="signUp.userInfo.sms_preferred">
  
        <label for="phone number">
          Cell Phone Number
        </label>
  
        <input type="tel" 
               id="phone number"
              class="input--primary input--medium mb0"
              ng-model="signUp.userInfo.phone"
              ng-minlength="10"
              ng-required="signUp.userInfo.sms_preferred"
              name="phone_number"
              floating-label
              focus-me="{{signUp.userInfo.sms_preferred}}">
  
        <div ng-messages="signUp.userIdentityForm.phone_number.$error"
             ng-show="signUp.userIdentityForm.$submitted && signUp.userIdentityForm.phone_number.$error"
             role="alert"
             class="alerts  alert--warning" >
  
           <div ng-message="required">
               A number is needed for text messages.
            </div>
    
            <div ng-message="minlength">
                Number must be in a valid format (xxx-xxx-xxxx).
            </div>
  
        </div>
  
      </div>

  
      <div class="row">
  
        <div class="small-12 columns  grid  grid--right">
  
          <div class=" grid  grid--center  grid--justifySpaceBetween mb2">
  
            <div>
              <input type="checkbox"
                     id="sms_preferred"
                     name="sms_preferred"
                     ng-model="signUp.userInfo.sms_preferred"
                     class="mb0 mr4"
                     >
            </div>
  
            <label for="sms_preferred" class="text-micro mb0 grid-cell--autoSize ">
               I wish to be contacted by text messages
            </label>
  
          </div>
  
        </div>
  
      </div>
  
      <div class="row  grid  grid--center grid--flexWrap">
  
        <div class="small-12   columns grid  grid--center  grid--justifyLeft
        ">
         <div class=" grid  grid--top  grid--justifySpaceBetween mb4">
  
            <div class="">
              <input type="checkbox"
               id="accepted_tc"
               ng-model="signUp.userInfo.accepted_tc"
               class="mb0 mr4"
               required
               >
            </div>
        
            <label class="text-micro mb0" for="accepted_tc">
               By continuing, I agree to Pickpocket's <a ui-sref="main.terms" rel="internal" target="_blank">Terms of Service</a> & <a ui-sref="main.privacy" rel="internal" target="_blank">Privacy Policy</a>, and I accept its payment partner Dwolla's <a href=" https://www.dwolla.com/legal/tos" target="_blank" rel="external">Terms of Service</a> &<a href="https://www.dwolla.com/legal/privacy" rel="external" target="_blank"> Privacy Policy</a>

            </label>

          </div>
  
        </div>
  
      </div>
  
  
      <button
          type="submit"
          class="button--medium  button--secondary  button--expanded mb0">
        Create Account
      </button>
  
    </form>
  </div>