<div>
    
    <p class="text-center  mb3">
       Create you Pickpocket Sponsor Account.
    </p>
  
    <form ng-submit="signUp.submitAccountInfo(signUp.userAccountForm)"
          name="signUp.userAccountForm"
          ng-model-options="{ getterSetter: true }"
          novalidate>
  
      <div class="input-group inputGroup--alt input--medium">
  
        <label for="email">
          Email
        </label>
  
        <input type="email" 
               id="email"
               name="email"
              ng-model="signUp.userInfo.email"
              ng-minlength = "8"
              required
              floating-label>
        
  
        <div ng-messages="signUp.userAccountForm.email.$error"
             ng-show="signUp.userAccountForm.$submitted && signUp.userAccountForm.email.$error"
             role="alert"
             class="alerts  alert--warning">
  
            <div ng-message="required">
                We need an email from you to get started.
            </div>
  
            <div ng-message="email">
                Your email must be valid. The format is incorrect. (ex:pickpocketJoe@gmail.com)
            </div>
  
        </div>
  
      </div>
  

      <div class="input-group inputGroup--alt input--medium">
  
        <label for="password">
          Password
        </label>
  
        <input type="password" 
               id="password"
               name="password"
               required
               ng-model="signUp.userInfo.password"
               ng-minlength = "8"
               ng-pattern="'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z0-9$@$!%*?&]{8,}$'"
               ng-model-options="{allowInvalid: true, debounce: 200}"
               floating-label>
    
          <div ng-messages="signUp.userAccountForm.password.$error"
               ng-show="signUp.userAccountForm.$submitted &&  signUp.userAccountForm.password.$error"
               role="alert"
               class="alerts  alert--warning"
               >
    
              <div ng-message="required">
                 A valid password is required.
              </div>

          </div>

      </div>


      <div class="input-group  inputGroup--alt input--medium">
  
        <label for="confirmPassword">
          Confirm Password
        </label>
  
        <input type="password" 
               id="confirmPassword"
               name="confirmPassword"
               ng-minlength="8"
               ng-model="signUp.userInfo.confirmPassword"
               compare-to="signUp.userInfo.password"
               ng-pattern="'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z0-9$@$!%*?&]{8,}$'"
               floating-label>
  
        <div ng-messages="signUp.userAccountForm.confirmPassword.$error"
             ng-show="signUp.userAccountForm.$submitted && signUp.userAccountForm.confirmPassword.$error"
             role="alert"
             class="alerts  alert--warning">
  
            <div ng-message="compareTo">
              The passwords must match.
            </div>

            <div ng-message="required">
                The password must be confirmed.
            </div>
  
        </div>
  
      </div>

      <password-requirements-dir password="signUp.userInfo.password">

      </password-requirements-dir>
  
      <button class="button--primary  button--medium button--expanded mb0"
              type="submit">
        <span ng-if="!signUp.loadingScreen" >Next Step </span>
        <span ng-if="signUp.loadingScreen">Nicely done, setting up...</span>
      </button>
  
    </form>
  </div>