

<div class="row">

  <div class="small-12  columns">

    <div ng-hide="verify.emailVerificationSent">

      <div ng-switch on="verify.tokenStatus">

        <div ng-switch-when="valid">
          <div class="text-center">
            <img src="assets/images/illustr--success.svg" 
             alt="Hands doing a high-five"
            width="130" 
            class="illustr  illustr--stateBadge">
          </div>
          <h1 class="h2  ff2 txtc2 text-center">High Five!</h1>

          <p class="text-center"  ng-if="!verify.userIsLoggedIn">Thanks for verifying your email! You will now be redirected to the Pickpocket Login screen. If that doesn’t work, click below. </p>

          <p class="text-center"  ng-if="verify.userIsLoggedIn">Thanks for verifying your email! You will now be redirected to the Pickpocket app home screen. If that doesn’t work, click below.</p>

          <div class="row">
            <div class="small-12 columns">
              <p class="text-center mb0">      
                <a ui-sref="main.account.login" rel="internal" ng-if="!verify.userIsLoggedIn">
                  Back to login screen
                </a>
                <a ui-sref="sponsor.dashboard" rel="internal" ng-if="verify.userIsLoggedIn">
                  Start using Pickpocket
                </a>
              </p>
            </div>
          </div>
        </div>

        <div ng-switch-when="invalid">

          <h1 class="h2 txtc2 ff2  text-center">Whoops!</h1>
          <p class="text-center">The verification link you followed to get here has expired or is invalid, so we can’t confirm your email yet. Send another verification link to your email to verify to your account.<p>
          
          <div class="row">
            <div class="small-12">
        
              <button ng-click="verify.resendVerificationEmail()" 
                      ng-hide="verify.emailVerificationSent"
                      class="h6  button--link center mb0">
                Resend  Verification Token
              </button>
        
            </div>
          </div>
        
        </div>

        <div ng-switch-when="already-verified">

          <h1 class="h2 txtc2 ff2  text-center">You're Finished!</h1>
          <p class="text-center">It looks like you've already completed email verification. You should now be able to begin sponsoring your Graduates.<p>
          
          <div class="row">
            <div class="small-12 columns">
              <p class="text-center mb0">      
                <a ui-sref="main.account.login" rel="internal" ng-if="!verify.userIsLoggedIn">
                  Back to login screen
                </a>
                <a ui-sref="sponsor.dashboard" rel="internal" ng-if="verify.userIsLoggedIn">
                  Sponsor a Graduate
                </a>
              </p>
            </div>
          </div>
        
        </div>

      </div>

    </div>

    <div class="row"
         ng-show="verify.emailVerificationSent">

      <div class="small-12  columns">
      
        <h1 class="h2  ff2 txtc2 text-center ">
          Almost done!
        </h1>

        <p class="text-center">
          We just sent you an email. Click the link in the email to confirm your address. For added security, the link will expire within 24 hours. See you back here soon!
        </p>
        
        <p class="text-center mb0">

          <a ui-sref="main.account.login" rel="internal">
            <span class="button-inner">Back to Login Screen </span>
          </a>

        </p>

      </div>

    </div>


  </div>

</div>

