  
// Make sure the charset is set appropriately
@charset 'UTF-8';


// Imports Compass Easing plugin
@import "ceaser-easing";


// Compass Dependency, after Foundation to avoid conflict
@import "compass/css3";
@import "compass/utilities";


// Normalize
@import  "normalize.scss";


/*------------------------------------*\
    #Globals - Padding + Margin Levels
\*------------------------------------*/

$level1: 6;
$level2: 12;
$level3: 18;
$level4: 24;
$level5: 30;
$level6: 36;
$level7: 48;



// Vendors
@import
    "vendor/angular",
    "vendor/animate",
    "vendor/angular-tooltips",
    "vendor/foundationGlobals",
    "vendor/foundationFunctions",
    "vendor/foundationGrid",
    "vendor/foundationMixins",
    "vendor/foundationVisibility";


// Abstracts
@import
    'abstracts/blockquotes',
    'abstracts/borderRadius',
    'abstracts/buttons',
    'abstracts/colors',
    'abstracts/icons',
    'abstracts/theme',
    'abstracts/typography',
    'abstracts/utility';


// Base
@import
  'base/icons',
  'base/links',
  'base/noSvg',
  'base/responsiveType',
  'base/theme',
  'base/typography',
  'base/utility',
  'base/flexbox',
  'base/webfont';


// Layout
@import
 'layout/footer',
 'layout/forms',
 'layout/formTabs',
 'layout/navs',
 'layout/sections',
 'layout/tooltips',
 'layout/tables';



// Components
@import
    'components/appHeader',
    'components/appFooter',
    'components/appNav',
    'components/buttons',
    'components/cards',
    'components/calculators',
    'components/emptyStates',
    'components/fixedCta',
    'components/headlines',
    'components/heroHeader',
    'components/images',
    'components/loaders',
    'components/loginHeader',
    'components/lists',
    'components/loaders',
    'components/mailListSignupCta',
    'components/modals',
    'components/stats',
    'components/socialButtons',
    'components/tags',
    'components/validationAlerts';




// Pages
@import
    'pages/funnel',
    'pages/home',
    'pages/for-graduates',
    'pages/login',
    'pages/planSuccessfullyMade',
    'pages/sponsorshipCreation',
    'pages/sponsorship',
    'pages/sponsorView',
    'pages/sponseeSplash',
    'pages/planEdit';

@import
  'base/animations';
