

<div class="section  section--primary  ptb2">

  <ul class="mb0">

    <li ng-repeat="content in customizrContent.caseStudies track by $index"> 

      <div  class="relative thumbnail2   grid grid--center" 
             ng-if="content.fields.client">

        <picture picturefill >
            
          <source pf-media="(min-width: 1024px)"
                  ng-attr-srcset="{{content.fields.images.fields.mainImageLarge.fields.file.url}}">

          <source pf-media="(min-width: 640px)"
                  ng-attr-srcset="{{content.fields.images.fields.mainImageMedium.fields.file.url}}">

          <img ng-attr-srcset="{{content.fields.images.fields.mainImageSmall.fields.file.url}}" 
               alt="{{about.pageContent.headerBackground.fields.small.fields.description}}" class="thumbnail-bg">

        </picture>
            

        <div class="thumbnail-overlay" ></div>

        <div class="row  small-collapse  thumbnail-description  grid  grid--center">
            
            <div class="small-12 columns  text-center">

                <div class="row">

                  <div class="small-11 columns small-centered medium-10 large-7">

                    <h2 class="thumbnail-description-client [ uc  ltrs1 textshadow1 ]  ">
                       {{content.fields.client}}
                      </h2>

                     <h1 class="thumbnail-description-headline  [ uc  fwb  textshadow1 ] ">{{content.fields.headline}}
                     </h1>

                  </div>

                </div>

              <div class="row">

                <div class="small-11 columns  small-centered  hide-for-medium-up">

                   <a  ui-sref="main.project({projectHandle: content.fields.id})" class="button  button--micro  button--quaternary"  data-ui-component="case-study-button">
                      
                      <span class="button-textState1">Check It Out</span>
                      <span class="button-textState2">Check It Out</span>
                  
                  
                  </a>

                </div>

                <div class="medium-5 columns  medium-centered  show-for-medium-up">

                   <a  ui-sref="main.project({projectHandle: content.fields.id})" class="button  button--medium  button--quaternary"  data-ui-component="case-study-button">
                      
                      <span class="button-textState1">Check It Out</span>
                      <span class="button-textState2">Check It Out</span>
                  
                  
                  </a>                          

                </div>

              </div>

            </div>
    
        </div>

      </div>

      <div  class="relative thumbnail2   grid grid--center" 
            ng-if="!content.fields.client">
            
        <picture picturefill class="100vw">
            
          <source pf-media="(min-width: 1024px)"
                  ng-attr-srcset="{{content.fields.images.fields.mainImageLarge.fields.file.url}}">

          <source pf-media="(min-width: 640px)"
                  ng-attr-srcset="{{content.fields.images.fields.mainImageMedium.fields.file.url}}">

          <img ng-attr-srcset="{{content.fields.images.fields.mainImageSmall.fields.file.url}}" 
               alt="{{about.pageContent.headerBackground.fields.small.fields.description}}" class="thumbnail-bg">

        </picture>
            

        <div class="thumbnail-overlay" ></div>

        <div class="row  small-collapse  thumbnail-description  grid  grid--center">
            
            <div class="small-12 columns  text-center">

                <div class="row">

                  <div class="small-11 columns small-centered medium-10 large-7">

                    <h2 class="thumbnail-description-client [ uc  ltrs1 textshadow1 ]  ">
                       {{content.fields.topic}}
                      </h2>

                     <h1 class="thumbnail-description-headline  [ uc  fwb  textshadow1 ] ">{{content.fields.headline}}
                     </h1>

                  </div>

                </div>

              <div class="row" ng-if="content.fields.cta">

                <div class="small-11 columns  small-centered  hide-for-medium-up">

                   <a ui-sref="main.project({projectHandle: content.fields.id})" class="button  button--micro  button--quaternary"  data-ui-component="case-study-button">
                      
                      <span class="button-textState1">{{content.fields.cta}}</span>
                      <span class="button-textState2">{{content.fields.cta}}</span>
                  
                  
                  </a>

                </div>

                <div class="medium-5 columns  medium-centered  show-for-medium-up">

                   <a ui-sref="main.project({projectHandle: content.fields.id})" class="button  button--medium  button--quaternary"  data-ui-component="case-study-button">
                      
                      <span class="button-textState1">{{content.fields.cta}}</span>
                      <span class="button-textState2">{{content.fields.cta}}</span>
                  
                  
                  </a>                          

                </div>

              </div>

            </div>
    
        </div>

      </div>

    </li>

  </ul>
  
</div>



