
/*------------------------------------*\
    #App Nav
\*------------------------------------*/

$secondary-app-nav-width: 30%; 


.appNav {
  position: fixed; 
  width: 100%; 
  bottom: 0; 
  z-index: 50;
  left: 0; 
  right: 0;  

  @media #{$large-up} {
    height: 100vh; 
    width: 12%; 

  }
  
  .appNav-menu {
    width: 100%; 
    margin-bottom: 0; 
    padding-top: rem-calc($level1);
    padding-bottom: rem-calc($level1);
    z-index: 51;
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 49; 
    background-color: white;
    border-top: 1px solid $grey--light;  

    @media #{$large-up} {
      padding-top: rem-calc($level7 + $level7);
      height: 100%;
      //@include box-shadow(-4px 4px 4px rgba(0,0,0, .1) inset);

    }
    
    &.secondary-app-nav-is-open {
  
    }


    .appNav-menu-item {
      padding: rem-calc($level1);
      width: 100%; 
      text-align: center; 

    }

    .appNav-menu-link {
      color: $grey--med; 
      @include type-setting(-2);

      @media #{$large-up} {
        margin-bottom: rem-calc($level4); 
        @include type-setting(-1);

      }

    }

  }

  .appNav-secondaryMenu {
    position: absolute; 
    height: 40vh; 
    background-color: #FFF;
    width: 100%; 
    right: 0; 
    left: 0; 
    bottom: 27px; 
    z-index: 40; 
    background-color: white;
    border-top: 1px solid $grey--light;  
    @include transition(all .4s ceaser($easeInOutQuint)); 
    @include transform(translateY(100vh));  

    &.is-active {
      @include transform(translateX(0)); 

    }

    .appNav-menu-item {
      width: 100%;
      padding: rem-calc($level3); 
      text-align: center;

    }

    .appNav-menu-link {
        color: $grey--med; 

    } 

  }


}


.appNav-menu-link {
    background-color: transparent; 
    margin-bottom: 0; 
    text-transform: none;
    opacity: .7; 
    @extend %fwn;  

    &:hover, 
    &:focus,
    &:active {
      color: $secondaryColor; 
      
      .menu-link-icon {
      fill: $secondaryColor; 

      }    

    }

    &.is-active {
      
      .menu-link-icon {
        fill: $tertiaryColor; 

      }  

      .menu-link-label {
        color: $tertiaryColor; 
      }
    
    }

  .menu-link-icon {
    fill: $grey--med; 
    width: rem-calc(30px); 
    margin-bottom: rem-calc(2px); 

    &.home {
      width: rem-calc(22px); 
    }

    @media #{$medium-up} {
      
      width: rem-calc(36px); 

      &.home {
        width: rem-calc(28px); 
      }

    }

    @media #{$large-up} {
      margin-right: rem-calc($level2); 

    }

  }

  .menu-link-label {
    color: $grey--med; 

  }


  .appNav-overlay {
    background-color: $translucentBlack; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    width: 100vh; 
    height: 100vw; 

  }

}





/*------------------------------------*\
    #Off Canvas App Nav Styles
\*------------------------------------*/


.app-nav-wrapper {
  @include transition(all .4s ceaser($easeInOutCubic)); 


  &.app-nav-is-open {
    @include transform(translateX(-$secondary-app-nav-width)); 

  }

}
