
/*------------------------------------*\
    #Buttons  (Default button sizes being used from Foundation 5, disable at settings--overwrite.scss)
\*------------------------------------*/

button,
.button {
  margin-bottom: rem-calc($level3); 
  @extend %button;
  @extend %uc; 
  @extend %fwn; 
}

.button--primary {

  background-color: $primaryColor;
  color: #fff; 
  @include border-radius(6px); 

  &:hover, 
  &:focus {
  

  }
 
}

.button--secondary {
    background-color: $secondaryColor; 
    color: black; 

    &:hover, 
    &:focus {
      
      color: white; 

    }

}


.button--warning {

    @include button--flat($warningColor); 
    
}




/*------------------------------------*\
    #Button Sizes (Extends _generics.scss Margins and padding values)
\*------------------------------------*/



.button--micro {
    padding: rem-calc(6);
    padding-right: rem-calc($level2);
    padding-left: rem-calc($level2);
    @extend %text-micro; 
}

.button--small {
    padding: rem-calc(6);
    padding-right: rem-calc($level3);
    padding-left: rem-calc($level3);
    @extend %h5; 
}


.button--medium {
    padding: rem-calc($level2);
    padding-right: rem-calc($level4);
    padding-left: rem-calc($level4);
    @extend %h5; 
}

.button--large {
    padding: rem-calc(12);
    padding-right: rem-calc($level5);
    padding-left: rem-calc($level5);
    @extend %h4; 
}

.button--kilo {
    padding: rem-calc(16);
    padding-right: rem-calc($level6);
    padding-left: rem-calc($level6); 
    @extend %h4; 
}

.button--mega {
    padding: rem-calc(18);
    padding-right: rem-calc($level7);
    padding-left: rem-calc($level7); 
    @extend %h3; 
}

.button--giga {
    padding: rem-calc(22);
    padding-right: rem-calc($level7);
    padding-left: rem-calc($level7); 
    @extend %h2; 
}





/*------------------------------------*\
    #Button Properties
\*------------------------------------*/


.button--expanded {
    width: 100%; 
}






/*------------------------------------*\
    #Button Animations  
\*------------------------------------*/


@include keyframes(anim-naira-2) {

   50% {
        -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
        transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
        transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    }

}
