
/*------------------------------------*\
    #Calculators
\*------------------------------------*/


/*------------------------------------*\
    #Simple Calculator
\*------------------------------------*/


.calculator {
  margin-top: rem-calc($base-magic-number);
  margin-bottom: rem-calc($level7 + $level6);
  max-width: rem-calc(296px); 

  @media #{$medium-up} {
    margin-bottom: 0; 
    width: rem-calc(300px); 
    max-width: none; 
  }

  @media #{$large-up} {
    margin-bottom: rem-calc($level7 + $level3);
    width: rem-calc(324px); 
  }

  .calculator-badge {
      position: absolute; 
      top: rem-calc(-24px); 
      right:0; 
      left: 0; 
      margin: auto; 
      background-color: #FFF; 
      height: rem-calc(48px); 
      width: rem-calc(48px); 
      border: 1px solid $grey--light; 
      @include border-radius(100%); 

      .calculator-badge-icon {
        fill: $secondaryColor; 
        width: 65%; 
      }
  }
  
  .calculator-controls {
    background-color: #fff;
    color: $body-color; 
    position: relative;
    margin-bottom: rem-calc($level1);
    padding-top: rem-calc(18px); 
  }

  .calculator-headline {
    font-weight: bold; 
    color: $secondaryColor; 
    margin-bottom: rem-calc($level3); 
    @include type-setting(0); 
  }
  
  .calculator-subLine {
    font-weight: bold; 
    color: $secondaryColor; 
    margin-bottom: rem-calc($level1); 
    @include type-setting(-1); 

  }


  .calculator-options-headline {
    position: relative;

    &:after {
      content: "Advanced"; 
      background-color: white;
      position: absolute;
      top: 0; 
      left: -3px;
      padding-right: rem-calc($level2);
      color: $grey--med;
      padding: rem-calc($level1);
      padding-left: 0; 
      @include type-setting(-1);
    }
  }


  .calculator-switch {
    padding-left: rem-calc($level4);
    padding-right: rem-calc($level2);

    @media #{$medium-up} {
     padding-left: rem-calc($level3);
    }

  }

  .calculator-bodyCopy {
    margin-bottom: rem-calc($level1);
    @include type-setting(-1); 
  }
  
  .calculator-bodyCopy--small {
    margin-bottom: 0; 
    @include type-setting(-2); 
  }
  

  .calculator-innerContent {
    padding: rem-calc($level3); 

  }

  .calculator-resultsContainer {
    background-color: $secondaryColor;
    color: #fff; 
    
    .calculator-results-result {
      padding: rem-calc($level1); 
      white-space: nowrap; 
      width: 100%; 

      @media #{$medium-up} {
        padding: rem-calc($level3); 
        padding-right: rem-calc($level1);
      }

    }

    .calculator-results-result:nth-child(1) {
      border-right: 1px solid $grey--med; 

    }

    .calculator-results {
      border-top: 1px solid $grey--med; 

    }

    .result-label {
      display: block; 
      margin-bottom: rem-calc($level1); 
      @include type-setting(-1); 

    }

    .result-number {
      color: $primaryColor; 
      font-family: $secondary-font-family;
      text-align: center;  
      width: 100%;
      display: block;
      @extend %fwb; 
      @include type-setting(4); 

      @media screen and (min-width: 360px) {
        @include type-setting(4); 

      }

    }

  }
}