
/*------------------------------------*\
    #Calculators
\*------------------------------------*/


/*------------------------------------*\
    #Simple Calculator
\*------------------------------------*/


.simpleCalc {
  margin-bottom: rem-calc($base-magic-number);

  @media #{$medium-up} {
    width: rem-calc(300px); 

  }
  
  .simpleCalc-controls {
    background-color: #fff;
    color: $body-color; 
    margin-bottom: rem-calc($level1);
    @include border-radius(6px); 

  }

  .simpleCalc-headline {
    font-weight: bold; 
    color: $secondaryColor; 
    margin-bottom: rem-calc($level3); 
    @include type-setting(1); 
  }
  
  .simpleCalc-subLine {
    font-weight: bold; 
    color: $secondaryColor; 
    margin-bottom: 0; 
    @include type-setting(-1); 

  }

  .simpleCalc-switch {
    padding-left: rem-calc($level2);

  }

  .simpleCalc-bodyCopy {
    margin-bottom: 0; 
    @include type-setting(-1); 
  }
  

  .simpleCalc-innerContent {
    padding: rem-calc($level2); 

  }

  .simpleCalc-resultsContainer {
    background-color: $secondaryColor;
    color: #fff; 
    @include border-radius(6px); 
    
    .simpleCalc-results-result {
      padding: rem-calc($level2); 

    }

    .simpleCalc-results-result:nth-child(1) {
      border-right: 1px solid $grey--med; 

    }

    .simpleCalc-results {
      border-top: 1px solid $grey--med; 

    }

    .result-label {
      display: block; 
      margin-bottom: rem-calc($level1); 
      @include type-setting(-1); 

    }

    .result-number {
      color: $primaryColor; 
      display: block; 
      font-family: $secondary-font-family; 
      @extend %fwb; 
      @include type-setting(4); 

    }

  }
}