
/*------------------------------------*\
    #Calculators
\*------------------------------------*/


/*------------------------------------*\
    #Simple Calculator
\*------------------------------------*/


.simpleCalc {
  margin-top: rem-calc($base-magic-number);
  margin-bottom: rem-calc($level7 + $level3);
  max-width: rem-calc(300px); 

  @media #{$medium-up} {
    margin-bottom: 0;
    width: rem-calc(300px); 
    max-width: none; 

  }

  @media #{$large-up} {
    width: rem-calc(324px); 
    
  }

  .simpleCalc-badge {
      position: absolute; 
      top: rem-calc(-24px); 
      right:0; 
      left: 0; 
      margin: auto; 
      background-color: #FFF; 
      height: rem-calc(48px); 
      width: rem-calc(48px); 
      border: 1px solid $grey--light; 
      @include border-radius(100%); 

      .simpleCalc-badge-icon {
        fill: $secondaryColor; 
        width: 65%; 

      }

  }
  .simpleCalc-controls {
    background-color: #fff;
    color: $body-color; 
    position: relative;
    margin-bottom: rem-calc($level1);
    padding-top: rem-calc(18px); 

  }

  .simpleCalc-headline {
    font-weight: bold; 
    color: $secondaryColor; 
    margin-bottom: rem-calc($level3); 
    @include type-setting(0); 
  }
  
  .simpleCalc-subLine {
    font-weight: bold; 
    color: $secondaryColor; 
    margin-bottom: rem-calc($level1); 
    @include type-setting(-1); 

  }

  .simpleCalc-switch {
    padding-left: rem-calc($level4);
    padding-right: rem-calc($level2);

    @media #{$medium-up} {
     padding-left: rem-calc($level3);

    }

  }

  .simpleCalc-bodyCopy {
    margin-bottom: 0; 
    @include type-setting(-1); 
  }
  
  .simpleCalc-bodyCopy--small {
    margin-bottom: 0; 
    @include type-setting(-2); 
  }
  

  .simpleCalc-innerContent {
    padding: rem-calc($level3); 

  }

  .simpleCalc-resultsContainer {
    background-color: $secondaryColor;
    color: #fff; 
    
    .simpleCalc-results-result {
      padding: rem-calc($level2); 
      white-space: nowrap; 

      @media #{$medium-up} {
        padding: rem-calc($level3); 

      }

    }

    .simpleCalc-results-result:nth-child(1) {
      border-right: 1px solid $grey--med; 

    }

    .simpleCalc-results {
      border-top: 1px solid $grey--med; 

    }

    .result-label {
      display: block; 
      margin-bottom: rem-calc($level1); 
      @include type-setting(-1); 

    }

    .result-number {
      color: $primaryColor; 
      display: block; 
      font-family: $secondary-font-family; 
      @extend %fwb; 
      @include type-setting(4); 

    }

  }
}