

/*------------------------------------*\
    #Cards
\*------------------------------------*/

.card {
  margin-bottom: rem-calc($level3);
  background-color: #FFF; 
  color: $body-color; 
  width: 100%; 
  position: relative; 
  @include transition(all .4s ceaser($easeInOutCubic));
  @include border-radius(4px); 
  @include box-shadow(0 1px 3px rgba(30,30,30, .2)); 

  .card-header {
    border-bottom: $grey--light 1px solid; 
    padding: rem-calc($level3); 
    width: 100%;

    .card-title {
      color: $secondaryColor; 
      margin-bottom: 0; 
      @include type-setting(0); 

      &.card-title--alt {
        color: $primaryColor; 
        
      }

    }

  }
  
  .card-content {
    padding: rem-calc($base-magic-number);

    .card-subTitle {
      color: $body-color;
      @include type-setting(0); 
    }

  }

  .card-content--bordered {
    border-bottom: 1px solid $grey--light; 
  }

  .card-actions {
    border-top: $grey--light 1px solid; 
    width: 100%;
  
    .card-action {
      color: $secondaryColor; 
      fill: $secondaryColor;
      background-color: transparent; 
      margin-bottom: 0; 
      border-left: $grey--light 1px solid; 
      padding-top: rem-calc($level2);
      padding-bottom: rem-calc($level2);
      height: 100%;
      @include border-radius(0); 
      @include type-setting(-1); 

      &:hover,
      &:focus {
        color: #fff; 
        fill: #fff; 
        background-color: $secondaryColor; 

      }

    }

  }

}

.cardList {

  @media #{$large-up} {
  
    li:nth-child(odd) {
      padding-right: rem-calc($level3); 
    }

  }

}





/*------------------------------------*\
    #A sponsorship card 
\*------------------------------------*/


.card--sponsorship {

  &:hover, 
  &:focus {
   @include box-shadow(0 1px 20px rgba(30,30,30, .1));
   @include transform(translateY(-2px)); 

  }

  .card-header {
  
    .sponsorship-name {
      margin-bottom: rem-calc($level1); 
      color: $secondaryColor; 
      @include type-setting(1);

      @media #{$medium-up} {
        margin-bottom: 0; 

      }

    }

    .sponsorship-plan {
      margin-bottom: 0;  
      @include type-setting(-1);

    }

  }

  .card-content {

    @media #{$large-up} {
      padding: rem-calc($level5); 

    }

    .sponsorship-contributions {
      color: $primaryColor; 
      margin-bottom: 0; 
      @extend %fwb; 
      @include type-setting(6); 
      

      &:hover, 
      &:focus {
        color: $tertiaryColor; 

      }

    }

  }

  .card-inactiveActions {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    width: 90%; 
    height: 60%; 
    display: none; 
    margin-right: auto; 
    margin-left: auto; 
    padding: rem-calc($level3); 
    margin-top: rem-calc($level7 + $level5); 
    @extend %text-center; 

    @media #{$large-up} {

      padding: rem-calc($level5); 

    }
  
  }

}





/*------------------------------------*\
    #Am inactive sponsorship Card
\*------------------------------------*/

.card--sponsorship.is-inactive {
  
  .card-inactiveActions {
    display: block; 

  }

  .card-content {
    opacity: 0; 
    
  }

  .card-actions {
    opacity: 0; 
    pointer-events: none; 

  }

}








/*------------------------------------*\
    #A Card Containing Account Login UX
\*------------------------------------*/

.card--login {
  width: 100%; 
  
  .card-header {
    padding-bottom: 0; 
    border-bottom: none; 

  }

  @media #{$medium-up} {
    margin-right: auto; 
    margin-left: auto; 
    width: rem-calc(372px); 
    padding: rem-calc($level2); 

  }

}





/*------------------------------------*\
    #A Card Containing Signup UX
\*------------------------------------*/

.card--signUp {
  width: 100%; 
  padding-bottom: rem-calc($level1); 
  min-height: rem-calc(300px); 
  
  .card-header {
    padding-bottom: 0; 
    border-bottom: none; 

  }

  @media #{$medium-up} {
    margin-right: auto; 
    margin-left: auto; 
    width: rem-calc(400px); 
    padding-right: rem-calc($level1); 
    padding-left: rem-calc($level1); 

  }

}
