

/*------------------------------------*\
    #Cart Styles
\*------------------------------------*/



/*------------------------------------*\
    #Cart Toggle
\*------------------------------------*/


.cartToggle {
  
  background-color: transparent;
  margin-bottom: 0;  
  display: inline-block; 
  @include type-setting(0); 

  .cartToggle-total  {

    color: $accentColor; 
    display: inline-block; 
    padding-left: rem-calc(3px); 

  }

}