

/*------------------------------------*\
    #Featured Product Thumbnails
\*------------------------------------*/


.featuredProductThumb {
  margin-bottom: rem-calc($level4); 
  
  @media #{$medium-up} {

    margin-right: rem-calc($level2); 
    margin-left: rem-calc($level2); 
    margin-bottom: rem-calc($level2); 

  }

  .featuredProductThumb-title {
    color: $quaternaryColor; 
    @include type-setting(-1); 

    @media #{$medium-up} {

      transform: scale(.8);
      transform-origin: 0;
        
    }

  }

}