

/*------------------------------------*\
    #Floating Slideshow 
\*------------------------------------*/


.floatingSlideshow {

  .floatingSlideshow-imagesContainer {
      
    position: relative; 

    @media #{$medium-up} {
      
      width: 20rem;
      height: 13rem;

    }

    @media #{$large-up} {

      width: 20rem; 

    }

    .floatingSlideshow-image {

      @media #{$medium-up} {

        position: absolute; 
        left: rem-calc(-24px);
        right: 0;
        top: rem-calc(-140px);
        bottom: 0;

      }

      @media #{$large-up} {

        position: absolute;
        left: 0;
        right: 0;
        top: -6.75rem;
        bottom: 0;
        padding-top: 135%; 
        overflow: hidden; 

      }

      img {

        position: absolute;
        top: 0;

      }

    }

  }

  .floatingSlideshow-descripContainer {
    
    position: relative; 
    margin-top: rem-calc($level4); 

    @media #{$medium-up} {
      height: rem-calc(240px); 
      width: 100%; 
    }
    
    .floatingSlideshow-description {
      
      @media #{$medium-up} {

        transform: translateY(-112px);
        position: absolute; 

      }

    }

  }

  .floatingSlideshow-controls {
      position: absolute; 
      bottom: -32px;
      width: 100%; 
      right: 0; 

      @media #{$large-up} {

        bottom: -42px; 

      }
      
      .floatingSlideshow-controls-inner {

        width: 8rem; 

      }

      .floatingSlideshow-arrow {

        background-color: transparent; 
        width: 50%; 
        padding: rem-calc($level1); 
        margin-bottom: 0; 
        @include transition(all .200s ceaser($easeInOutCubic));

        &:hover,
        &:focus {

          @include transform(translateX(4px)); 

        }

      }

      .floatingSlideshow-arrow--left {
          
        @include transform(scaleX(-1) translateX(0)); 

        &:hover,
        &:focus {

          @include transform(scaleX(-1) translateX(3px)); 

        }
      }

  }

}




  // .floatingSlideshow-animElem.ng-animate {
  //   transition: 0.4s ceaser($easeInOutCubic) all;
  // }

  // .floatingSlideshow-animElem.ng-enter {
  //   z-index: 29; 
  // }
  // .floatingSlideshow-animElem.ng-enter.ng-enter-active {
  //   z-index: 29; 

  // }

  // .floatingSlideshow-animElem.ng-leave {
  //   z-index: 30; 
  //   @include transform(translateX(0) translateY(-104px));
  // }
  // .floatingSlideshow-animElem.ng-leave.ng-leave-active {
  //   @include transform(translateX(-100%) translateY(-104px));
  // }



  .floatingSlideshow-image img.ng-animate {
    transition: 0.4s ceaser($easeInOutCubic) all;
  }

  .floatingSlideshow-image img.ng-enter {
    z-index: 29; 
  }
  .floatingSlideshow-image img.ng-enter.ng-enter-active {
    position: absolute; 
    z-index: 29; 

  }

  .floatingSlideshow-image img.ng-leave {
    z-index: 30; 
    position: absolute; 
    @include transform(translateX(0));
  }
  .floatingSlideshow-image img.ng-leave.ng-leave-active {
    @include transform(translateX(-100%));
  }
