

/*------------------------------------*\
    #Headlines
\*------------------------------------*/


.headlineGroup {

  margin-bottom: rem-calc($level4); 
  
}


.headline {

  font-family: $secondary-font-family; 

}

.headline--secondary {
  

  
}

.headline--alt {

  font-family: $primary-font-family; 
  letter-spacing: 1px; 
  margin-bottom: rem-calc($level1); 
  @extend %uc; 
  @extend %fwb; 

}