

/*------------------------------------*\
    #Hero Section Component
\*------------------------------------*/


@include keyframes(gradFade) {

    0%, 100% {

        background-position: 0 50%

    }

    50% {

        background-position: 100% 50%

    }

}


.heroHeader {
  
  position: relative; 

  .heroHeader-background {

    width: 100vw; 
    
  }

  .heroHeader-content {
  
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom :0; 
    left: 0; 
    z-index: 1; 

  }

}
