

/*------------------------------------*\
    #Hero Section Component
\*------------------------------------*/

.heroHeader {
  position: relative; 
  overflow: hidden; 
  margin-top: rem-calc(60px); 
  width: 100%; 
  min-height: 100vh;
  padding-top: rem-calc($level5); 

  @media #{$medium-up} {
    height: 85vh;
    padding-top: 0; 
    margin-top: rem-calc(30px); 

  }

  @media #{$large-up} {
    min-height: 100vh; 
    
  }

  .heroHeader-background {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom :0; 
    left: 0; 
    @include primaryGradient(); 

  }

  .heroHeader-content {
    color: #fff;  

  }

}
