
/*------------------------------------*\
    #Modals
\*------------------------------------*/


body.fancymodal-open {
  overflow: hidden; 
}

.fancymodal,
.fancymodal *,
.fancymodal *:before,
.fancymodal *:after {

  @include box-sizing(border-box); 

}

.fancymodal {

  padding-top: rem-calc($level7 + $level7);
  padding-bottom: rem-calc($level7 + $level7 + $level3);
  overflow: auto;
  z-index: 1050;
  padding-left: rem-calc($level2);
  padding-right: rem-calc($level2);
  -webkit-overflow-scrolling: touch;
  @extend %position-fixedCentered;  

}





/*------------------------------------*\
    #Modal Overlay
\*------------------------------------*/


.fancymodal {
    
    .fancymodal-overlay {
        background: $secondaryColor--translucent; 
        -webkit-backface-visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

    }
}

.fancymodal .fancymodal-overlay-opening {

    @include animation(fancymodal-fadeIn .6s forwards); 

}


.fancymodal .fancymodal-overlay-closing {

    @include animation(fancymodal-fadeOut .6s forwards);

}





/*------------------------------------*\
    #Modal Content
\*------------------------------------*/


.fancymodal {
  padding-left: rem-calc($level2);
  padding-right: rem-calc($level2);

  .fancymodal-content {
      max-width: 500px;
      background: transparent;
      -webkit-backface-visibility: hidden;
      margin: 0 auto;
      @include border-radius(4px); 
      @extend %position-relative; 

      &.is-open {
          @include animation(fancymodal-in .6s forwards);

      }

      &.is-closed {
          @include animation(fancymodal-out .6s forwards);

      }

  }

  .fancymodal-data {
    height: 100%; 

     & > div {
      height: 100%; 

     }

  }

}


.fancymodal .fancymodal-close {

    border-radius: 3px;
    top: 0;
    right: 0;
    cursor: pointer;
    @extend %position-absolute; 

}

.fancymodal .fancymodal-close:before {

    border-radius: 3px;
    position: absolute;
    content: "\00D7";
    font-size: 26px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 3px;
    right: 3px;
    color: #ccc;

}


.fancymodal .fancymodal-close:hover:before,
.fancymodal .fancymodal-close:active:before {

    color: #777;
    background: #e0e0e0;

}








/*------------------------------------*\
    #Modal Types
\*------------------------------------*/


.fancymodal--primary {
    padding: 0; 

    .fancymodal-badge {
      position: absolute; 
      top: -30px; 
      right:0; 
      left: 0; 
      margin: auto; 
      background-color: #FFF; 
      height: rem-calc(52px); 
      width: rem-calc(52px); 
      border: 1px solid $grey--light; 
      @include border-radius(100%); 

      .fancymodal-badge-icon {
        fill: $primaryColor; 
        width: 56%; 

      }

    }

    .fancymodal-content {
        background: #fff;
        -webkit-backface-visibility: hidden;
        padding-top: rem-calc($level3); 
        @extend %position-relative; 
        @include box-shadow(0 1px 3px rgba(30,30,30, .2)); 

        &.is-open {

            @include animation(fancymodal-in .6s forwards);

        }

        &.is-closed {
    
            @include animation(fancymodal-out .6s forwards);

        }

    }


    .fancymodal-innerContent {
      padding: rem-calc($base-magic-number); 

    }

    
    .fancymodal-options {
      background-color: transparent; 
      border-top: 1px solid $grey--light; 

      .fancymodal-options-option {
        background-color: transparent; 
        padding-top: rem-calc($level2); 
        padding-bottom: rem-calc($level2); 
        width: 100%; 
        font-weight: normal; 
        margin-bottom: 0; 
        color: $tertiaryColor;
        position: relative; 
        @include type-setting(0); 
        @include transition(all .2s ceaser($easeInOutQuint)); 

        &:before {
          content: " "; 
          left: 0; 
          bottom: -2px; 
          width: 100%; 
          height: 2px; 
          background-color: $primaryColor; 
          position: absolute; 
          opacity: 0; 
          @include transform(translateY(3px)); 
          @include transition(all .2s ceaser($easeInOutQuint)); 

        }

        &:hover,
        &:focus {
          color: $primaryColor;
          
          &:after {
            opacity: 0; 
            @include transform(translateY(-4px)); 

          }

          &:before {
            opacity: 1; 
            @include transform(translateY(0)); 

          }

        }

      }

    }

}



.fancymodal--boost {
  
  .fancymodal-innerContent {
    
    @media #{$medium-up} {
      padding-right: rem-calc($level6); 
      padding-left: rem-calc($level6); 

    }

  }

}




/*------------------------------------*\
    #Modal Illustrations
\*------------------------------------*/


.fancymodal-innerContent-illustr {
  margin-top: rem-calc($level3);
  margin-bottom: rem-calc($level3);
  width: rem-calc(170px);

  @media #{$medium-up} {
    width: rem-calc(190px);

  }

}





/*------------------------------------*\
    #Modal Sizes
\*------------------------------------*/


.fancyModal--fullScreen {

    .fancymodal-content {
        background-color: transparent; 
    }
}

.fancymodal--large {
    @extend %pt7; 

    .fancymodal-content {
      max-width: rem-calc(1100px); 

    }
}

.fancymodal--medium {
    @extend %pt7; 

    @media #{$medium-up} {
      padding-top: 6rem !important; 
    }

    @media #{$large-up} {
      padding-top: 10rem !important; 
    }

    .fancymodal-content {
      max-width: 30rem; 

    }
}


.fancymodal--small {
  @extend %pt7; 

  @media #{$medium-up} {
    padding-top: 6rem !important; 
  }

  @media #{$large-up} {
    padding-top: 10rem !important; 
  }


  .fancymodal-content {
    max-width: 23.5rem;
    min-height: rem-calc(120px); 

  }
}




/*------------------------------------*\
    #Modal Animations
\*------------------------------------*/



@include keyframes(fancymodal-fadeIn) {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1; 
   }

}

@include  keyframes(fancymodal-fadeOut) {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}


@include keyframes(fancymodal-in) {

  0% {
    opacity: 0;
    @include transform(translateY(200px));
  }

  100% {
    opacity: 1; 
     @include transform(translateY(0)); 
  }

}

@include keyframes(fancymodal-out) {
  0% {
    opacity: 1; 
    @include transform(translateY(0));
    }
  100% {
    opacity: 0; 
    @include transform(translateY(200px));
  }

}
