

/*------------------------------------*\
    #Social Buttons
\*------------------------------------*/

.socialButton {

  background-color: #FFF; 
  border: 4px solid black; 

  .socialButton-icon {

    fill: black; 
    height: rem-calc(48px);
    width: 8rem;

  }


  &:hover,
  &:focus {

    background-color: black; 
    color: #fff; 

    .socialButton-icon {

      fill: #fff; 
      
    }

  }

}