

/*------------------------------------*\
    #Stats
\*------------------------------------*/



/*------------------------------------*\
    #Stat Labels
\*------------------------------------*/

.statLabel {
    color: $secondaryColor; 
    letter-spacing: 1px; 
    margin-bottom: 0; 
    @extend %fwb; 
    @extend %uc; 
    @include type-setting(-2); 

}
