

/*------------------------------------*\
    #Tables
\*------------------------------------*/

table {

  width: 100%; 
  
  th {

    font-weight: bold; 

  }
  
  tr {

    border-bottom: 1px solid $primaryColor; 

  }

}