

/*------------------------------------*\
    #Tags
\*------------------------------------*/

.tag {
  padding-right: rem-calc($level3); 
  padding-left: rem-calc($level3); 
  padding-top: rem-calc(2px); 
  padding-bottom: rem-calc(2px); 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  color: #fff; 
  margin-right: rem-calc($level2); 
  @extend %fwb; 
  @extend %uc; 
  @include border-radius(2px); 
  @include type-setting(-2); 

}


.tag--warning {
  background-color: $warningColor; 

}

.tag--active {
  background-color: $activeColor; 

}

.tag--inactive {
  background-color: $grey--med; 

}


.tag--pending {
  background-color: $accentColor; 
}




/*------------------------------------*\
    #Tag Sizes
\*------------------------------------*/


.tag--large {
  padding-right: rem-calc($level4); 
  padding-left: rem-calc($level4); 
  padding-top: rem-calc($level1); 
  padding-bottom: rem-calc($level1); 
  @include type-setting(1); 

}
