  
  
<section class="section--main">
  
  <div class="row small-collapse">

    <div class="small-12  large-11 columns">

      <div class="pageHeader">
            
          <div class="pageHeader-contentContainer  grid  grid--bottom">
          
            <div class="row  grid-cell">
          
              <div class="small-12 columns large-push-1 large-5">

                <div class="pageHeader-content">

                  <h1 class="pageHeader-headline  ff3">
                    Lacing <br> Styles
                  </h1>

                <!--   <p class="pageHeader-subline">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                  </p> -->

                </div>

              </div>

            </div>
      
          </div>
      
          <div class="pageHeader-bg">
            
            <picture>
                
              <source media="(min-width: 1024px)"
                      srcset="assets/images/heroHeader11_large.png">
            
              <source media="(min-width: 640px)"
                      srcset="assets/images/heroHeader11_large.png">
            
              <img src="assets/images/heroHeader11_large.png"
                   class="pageHeader-bg-img"
                   alt="{{about.pageContent.headerBackground.fields.small.fields.description}}" 
                   >
            
            </picture>

          </div>
        
      </div>

    </div>

    <div class="show-for-large-up  large-1 columns">
      
     <div class="noticeBanner"> 
  
        <div class="noticeBanner-headline">You Can't Not Notice Us</div>

      </div>

    </div>

  </div>

  <div class="section  ">
          
    <div class="row small-collapse">

      <div class="small-12  medium-11  large-9  medium-centered  columns">

        <div class="floatingSection">

          <div class="row small-collapse">
          
            <div class="small-12 columns">
                
              <div class="section">

                <ul class="row">
                  
                  <li class="small-12 columns medium-6  large-4"
                      ng-repeat="style in lacingStyles.styles track by $index">
                      
                    <div class="row small-collapse">
                
                      <div class="small-12 columns ">
                
                        <div class="lacingThumbnail" 
                             role="button"
                             ng-click="lacingStyles.openHowToLace(style.id)">
                                    
                          <div class="lacingThumbnail-inner">
                                
                            <div class="lacingThumbnail-bg">
                                
                              <img ng-src="{{style.thumbnail}}" alt="">
                                
                            </div>
                              
                            <div class="text-center">
                                
                              <h2 class="lacingThumbnail-title">{{style.name}}</h2>
                                
                            </div>
                                
                          </div>
                                    
                        </div>
                
                      </div>
                
                    </div>
                            
                  </li>
                            
                </ul>

              </div>
            
            </div>
            
          </div>
        
        </div>

      </div>

    </div>

  </div>

</section>
  
