
<div class="section">

  <div class="sponsorSection-illustrContainer">

    <div class="sponsorSection-illustr  sponsorSection-illustr--contributions  show-for-medium-up"
                ng-if="contributions.totalContributions !== 0">
      
    </div>

  </div>

  <div class="row">
    
    <div class="small-12 medium-4  columns">

      <h1 class="txtc2  ff2">Contribution <br>History</h1>  

      <p>
       This is where you review all of the contributions you’ve made towards your sponsees’ student loans.
      </p>

      <hr class="hr--faded">

      <h1 class="headline  headline--alt subline text-micro text-center  txtc2">
        total Contributions 
      </h1>
      
      <h2 class=" text-center  fwb txtc1 text-mega  text-center">
         {{contributions.totalContributions | currency:"$":0}}
      </h2>

      <hr class="hr--faded mb0">

    </div>


    <div class="small-12  medium-8  large-7    columns" ng-if="contributions.totalContributions !== 0">
      <label for="contributionsFilter" class="label text-micro">
        Filter:
      </label>

      <div class="select-customWrapper">

        <select name="contributionsFilter" id="contributionsFilter" 
                class="select--medium  select--primary"
                ng-model="contributions.sponseeFilter"
                ng-options="sponsee as (sponsee.first_name + ' ' + sponsee.last_name) for sponsee in contributions.sponsees"
                arial-label="filter contributions">

              <option value="" selected>
                All Sponsorships
              </option> 

        </select> 

      </div>

    </div>
    

    <div class="small-12 medium-8  large-7  large-pull-1  columns">
          
      <div class="row">
        <div class="small-12 columns medium-11 large-8 medium-centered">
          <div class=" mtb7 text-center" ng-if="contributions.filteredContributions.length == 0 && contributions.totalContributions !== 0">
          
            <div class="card-content">
              
               <h1 class="h4"> You have made no contributions  for <span ng-bind=" contributions.sponseeFilter.first_name + ' ' + contributions.sponseeFilter.last_name " ></span> yet.</h1>
               
            </div>
          
          </div>
        </div>
      </div>

      <div class="card" >

          <table class="table  table--list">
            
            <tr ng-if="contributions.filteredContributions.length > 0">

              <th>
                Date
              </th>    

              <th>
                Sponsee
              </th>

              <th class="text-right">Amount</th>

            </tr>
          
            <tr ng-repeat="contribution in contributions.filteredContributions = (contributions.contributionsShowing | filter:  (!!contributions.sponseeFilter.email  || undefined) &&
              {sponsee : {email: contributions.sponseeFilter.email }} )  | orderBy: 'date':true track by $index | limitTo: contributions.inView ">
              
              <td ng-if="!contribution.date">
                <span class="tag  tag--pending">pending</span>

              </td>

              <td ng-if="contribution.date" class="text-center">

                <div class="grid grid--justifyLeft">
                    
                  <div>
                    <span class="uc fwb display-block  text-center mb0 h4">
                    {{contribution.date | date: 'MMM'}}
                    
                     {{contribution.date | date: 'd'}}
                  </span>

                    <span class="uc   display-block  text-center text-micro">
                     {{contribution.date | date: 'yyyy'}}
                     
                    </span>
                  </div>

                </div>

              </td>
          
              <td ng-bind="contribution.sponsee.first_name + ' ' + contribution.sponsee.last_name ">{{}}</td>

              <td class="table-contribution text-right" >${{contribution.amount}}</td>

            </tr>
          
          </table>
          
          <div class="card-content pt0"
               ng-if="contributions.contributionsShowing > 4">
            <button class="button button--medium  button--expanded  button--link"
                    ng-click="contributions.showMore()">
              Show More
            </button>
          </div>

        </div>

    </div>

    <div class="small-12 medium-8  large-7  large-pull-1  columns text-center" 
         ng-if="contributions.totalContributions === 0 && contributions.sponsees.length !== 0">
      

      <div class="emptyState">

        <div class="row">

          <div class="small-12 columns">

            <img src="assets/images/illustr--noContributions.svg" 
                 alt="Hand with empty wallet" 
                 width="180" class="illustr  illustr--emptyState">
          </div>
          
          <div class="small-12 columns">
            <div class="emptyState-copy">
            
              <h1 class="ff2 txtc2 h2 text-center">
                Nothing Here Yet!
              </h1>
            
              <p>
                You haven’t made any contributions to your Graduates yet. This is where your contribution history will be once you start making payments.
              </p>
            
            </div>

          </div>

        </div>

      </div>

    </div>


    <div class="small-12 medium-8  large-7  large-pull-1  columns text-center" 
         ng-if="contributions.totalContributions === 0 && contributions.sponsees.length === 0">

      <div class="emptyState">

        <div class="row">

          <div class="small-12 columns  text-center">

            <img src="assets/images/illustr--noSponsorships.svg" 
                 alt="Hand holding magnifying glass" 
                 width="180" class="illustr  illustr--emptyState">

          </div>
                  
          <div class="small-12 columns">

              <div class="emptyState-copy">
              
              <h1 class="ff2 txtc2 h2 text-center">
                Nothing Here Yet!
              </h1>
              
              <p>
                Hm. Looks like you don’t have any Graduates yet. Add a Graduate to get started. Once you start making contributions, your history will be on this page.
              </p>
              
               <p>
                <a ui-sref="sponsor.sponseeAdd" rel="internal">
                Begin sponsoring a Graduate</a>
               </p>
            </div>

          </div>
          
        </div>

      </div>

    </div>

  </div>

</div>
