
<!--Sponsorships--> 
<div class="section">

  <div class="sponsorSection-illustrContainer">
    
    <div class="sponsorSection-illustr  sponsorSection-illustr--dashboard   show-for-medium-up">
      
    </div>
  </div>

  <div class="row">

    <div class="small-12 medium-4  columns  mb5">

      <h1 class="txtc2  ff2  section-text">
        Sponsor <br> Home
      </h1>

      
      <p>
        See an eagle-eye view of your on-going sponsorships. Boost a graduate or view how much you've contributed.
      </p>
      
      <hr class="hr--faded">

      <h1 class="headline  headline--alt subline text-micro text-center  txtc2">
        total Contributions 
      </h1>
      
      <h2 class=" text-center  fwb txtc1 text-mega  text-center">
         {{dashboard.totalContributions | currency:"$":0}}
      </h2>

      <hr class="hr--faded mb0">

    </div>

    <div class="small-12 columns medium-8 large-7  large-pull-1">

      <ul class="grid grid--stretch grid--full  grid--flexWrap   grid--flexDirectionRow">

        <li class="grid-cell" 
           ng-repeat="sponsorship in dashboard.sponsorships track by $index"
           ng-hide="sponsorship.plans.length === 0">

         <sponsorship-card-dir sponsorship-info="sponsorship"  
                               boost-sponsorship="dashboard.openBoostModal(sponsorship)">

         </sponsorship-card-dir>

        </li>

      </ul>

      <div ng-if="dashboard.sponsorships.length === 0 || (dashboard.sponsorships.length === 1 && dashboard.sponsorships[0].plans.length === 0)">

        <div class="emptyState">

          <div class="row">

            <div class="small-12 columns  text-center">

              <img src="assets/images/illustr--magnifyingGlass.svg" 
                   alt="Hand with empty wallet" 
                   width="180" class="emptyState-illustr  emptyState-illustr--magnifyingGlass">

            </div>

          </div>
          
          <div class="emptyState-copy">

          <h1 class="ff2 txtc2 h2 text-center">
            Nothing Here Yet!
          </h1>

            <p>
              You don’t have any sponsorships set up yet. <br>Click below to create a sponsorship and start contributing. 
            </p>
            
            <div class="row">
            
              <div class="small-12 columns medium-10  medium-centered large-11 large-centered">
            
               <p>
                <a ui-sref="sponsor.sponseeAdd" rel="internal">
                Sponsor a Graduate</a>
               </p>
            
              </div>
            
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
<!--END Sponsorships--> 

