  
<div class="row">
    
  <form novalidate 
      ng-model-options="{ getterSetter: true }"
      name="settings.userSettingsForm"
      ng-submit="settings.saveChanges(settings.userSettingsForm)">

    <div class="small-12 medium-4   columns">
      
        <h1 class="txtc2 h2">Account Settings</h1>

        <p>Edit this information to manage how we contact with you about any sponsorship updates or to reset password.</p>
    
    </div>
    

    <div class="small-12 medium-8 columns">
  
<div class="card">

<div class="card-content">
  <div class="input-group  input--medium mb1">
  
    <label for="phone number">
      Preferred  Phone Number
    </label>
  
    <input type="tel" 
           id="phone number"
          ng-model="settings.userSettings.phone"
          ng-minlength="10"
          verify-check-box="settings.userSettings.sms_preferred"
          name="phone_number"
          floating-label>
  
    <div ng-messages="settings.userSettingsForm.phone_number.$error"
         ng-show="settings.userSettingsForm.$submitted && settings.userSettingsForm.phone_number.$error"
         role="alert"
         class="alerts  alert--warning" >
  
       <div ng-message="verifyCheckBox">
            Sorry, we need a number to send messages to.
        </div>
      
        <div ng-message="minlength">
            Sorry, number must be a valid format (xxx) xxx-xxxx.
        </div>
  
    </div>
  
  </div>
  
  
    <div class="small-12 columns  grid  grid--right">
  
      <div class=" grid  grid--center  grid--justifySpaceBetween">
  
        <div>
          <input type="checkbox"
                 id="sms_contacting"
                 name="sms_preferred"
                 ng-model="settings.userSettings.sms_preferred"
                 class="mb0 mr4"
                 >
        </div>
  
        <label for="sms_preferred" class="text-mini mb0 grid-cell--autoSize ">
           I wish to be contacted by text messages
        </label>
  
      </div>
  
      </div>
</div>
<!-- 
        <label for="cell phone number">Phone Number:</label>

        <input type="tel" 
               id="cell phone number" 
               name="phone"
               class="input--medium  input--primary"
               ng-change="settings.indicateUserMadeChanges()"
               ng-model="settings.userSettings.phone">

        <div class="row mb2">

          <div class="small-12 columns  grid grid--center">

            <input type="checkbox"
                   id="sms_contacting"
                   ng-model="settings.userSettings.sms_preferred"
                   >

            <label for="sms_contacting" class="mb0">
              I wish to be contacted by text messages
            </label>

          </div>

        </div>
 -->
<h2>Account Password</h2>
      
  <label for="password">
    Password
  </label>
  
  <input type="password" id="password"
         class="input--primary input--medium"
         name="password"
         ng-model="settings.userSettings.password" 
         ng-minlength = "8"
         ng-model-options="{debounce: 200}">
  
  <label for="re-enter password">
    Re-enter Password
  </label>
  
  <input type="password" id="re-enter password"
         class="input--primary input--medium"
         name="confirmPassword"
         ng-minlength="8"
         ng-model="settings.userSettings.confirmPassword"
         ng-model-options="{debounce: 200}"
         compare-to="settings.userSettings.password">
      </div>
    </div>    
    
    
    <div class="small-12 columns">
      
      <button type="submit" 
              class="button--medium  button--primary"
              ng-show="settings.userSettingsForm.$dirty && settings.userSettingsForm.$valid">
          Save Changes
      </button>
    
    </div>

  </form>

</div>

