
<div class="row">

  <div class="small-12 medium-9  large-4   medium-centered  large-uncentered columns">
    
    <h1 class="ff2 txtc2">
     How would you like to sponsor  <span ng-bind="sponseeSponsorship.sponsee.first_name  + ' ' + sponseeSponsorship.sponsee.last_name"></span>?:
    </h1>  

    <p>
      A one-time jolt or a matching-plan: let your sponsee know how you’d like to contribute.
    </p>

  </div>
  
  <div class="small-12  medium-11 medium-centered  large-uncentered  large-7    columns">

    <ul class="row">

      <li class="small-12 columns mb5 ">

        <div class="row">
        
          <div class="small-10  medium-11 small-centered columns">
        
            <div class="row">
        
              <div class="small-8    small-centered  medium-uncentered   medium-4   columns text-center">
        
                  <img src="assets/images/badge--boost.svg" alt="Boost Badge" class="mb4">
              
              </div>
        
                <div class="small-12  medium-8  columns">
                  
                  <h2 class="txtc2 text-center medium-text-left  h4 mb2">One-time Boost</h2>
              
                  <p class="">A one-time payment of any amount toward their student loans. </p>
                  
                  <a class="button  button--secondary  button--small  button--expanded  mb2"
                   ng-click="sponseeSponsorship.setType('one-time')"
                   ui-sref="sponsor.sponsorshipSetup.oneTime">
                  Setup One-time Boost
                  </a>

                  <p class="text-micro text-center">
                  + $4.99  Service Free per Boost
                  </p>

                </div>
        
            </div>
            
          </div>
        
        </div>

      </li>

      <li class="small-12 columns ">

        <div class="row ">
        
          <div class="small-10 medium-11 small-centered columns">
        
            <div class="row">
        
              <div class="small-8 small-centered  medium-uncentered   medium-4   columns text-center">
        
                  <img src="assets/images/badge--matchingPlan.svg" alt="Matching Plan Badge " class="mb4">
              
              </div>
        
                <div class="small-12 medium-8  columns">
                  
                  <h2 class="txtc2 text-center medium-text-left mb2 h4 mb2 ">Monthly Matching Plan</h2>
                  
                  <p>
                    Match your sponsee's payments towards their student loans. You can only have 1 matching plan per sponsee.
                  </p>
                
                  <ul>
                    <li>
                      <span class="txtc3">+ </span>All Boosts are free
                    </li>
                  </ul>
        
                  <a class="button  button--secondary  button--small  button--expanded mb2"
                     ng-click="sponseeSponsorship.setType('matching')"
                     ui-sref="sponsor.sponsorshipSetup.matching">
                   Setup matching plan
                  </a>
                
                  <ul class="text-micro text-center">
                    
                    <li>
                      <li>$4.99/mo Service Fee <br> ($2.99/mo per additional Sponsorships)</li>
                    </li>
                  </ul>

                </div>
        
            </div>
            
          </div>
        
        </div>

      </li>

    </ul>


  </div>
  
</div>