
<div class="section">

  <div class="row">

    <div class="small-12 medium-4  columns">

      <div class="row">

        <div class="small-12 large-11 large-centered columns">

          <h1 class="txtc2  ff2">
            Manage <br> Matching Plan
          </h1>

          <p>
            Edit
            <span class="fwb" ng-bind="sponseePlanEdit.sponseeInfo.sponsee.first_name + ' ' + sponseePlanEdit.sponseeInfo.sponsee.last_name"></span>'s monthly matching limit or pause their existing active matching plan.
          </p>
          
          <div class="sponsorSection-illustrContainer">
            <div class="sponsorSection-illustr  sponsorSection-illustr--managePlan  show-for-medium-up">

            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="small-12 columns medium-8 large-7 large-pull-1">

      <form ng-submit="sponseePlanEdit.changePlanLimit(sponseePlanEdit.planEditForm, sponseePlanEdit.sponseeInfo, sponseePlanEdit.customAmount)" name="sponseePlanEdit.planEditForm" novalidate>

        <div class="card">

          <div class="card-header">

            <h1 class="card-title">
              Plan Settings
            </h1>

          </div>

          <div class="card-content">

            <div class="grid med-grid--flexDirectionRow grid--flexDirectionColumn grid--justifyCenter med-grid--justifySpaceAround">

              <div  class="grid-cell grid-cell--autoSize">
                <label class="h2  text-center  medium-text-left   card-subTitle"  for="plan_limit" >Monthly Limit</label>
              </div>

              <div class="grid-cell text-center prl3">
                
                <robust-amount-input-dir ng-model="sponseePlanEdit.customAmount" amount="sponseePlanEdit.customAmount">

                </robust-amount-input-dir>
                <button type="submit" 
                        class="button--micro  button--secondary mb0"
                        ng-if="sponseePlanEdit.planEditForm.$dirty && sponseePlanEdit.planEditForm.$valid"
                        ng-hide="sponseePlanEdit.planEditForm.$submitted"
                        ng-class="{'is-inactive' : (!sponseePlanEdit.planEditForm.$dirty || !sponseePlanEdit.planEditForm.$valid)}">
                    Update Matching Limit
                </button>
              </div>

            </div>

          </div>

          <hr class="hr--faded mb0">

          <div class="card-content">

            <div class="grid med-grid--flexDirectionRow grid--flexDirectionColumn grid--justifyCenter med-grid--justifySpaceBetween med-grid--top">

              <div class="grid-cell grid-cell--autoSize">
                  <h2 class="text-center  medium-text-left   card-subTitle">Plan Status</h2>
              </div>


              <div class="grid-cell  grid grid--center grid--justifyCenter grid--flexDirectionColumn text-center med-grid--justifyCenter">

                <span ng-switch="sponseePlanEdit.planStatus" class="pb2">

                  <span ng-switch-when="active" class="tag  tag--large tag--active">
                    Active
                  </span>

                  <span ng-switch-when="paused" class="tag  tag--large  tag--inactive">
                      Paused
                  </span>

                  <span ng-switch-when="activating" class="tag tag--large tag--pending">
                  Activating
                  </span>

                  <span  ng-switch-when="invite pending" class="tag  tag--large  tag--pending">Invite Pending</span>

                </span>

  
                <a class="text-micro button--withIcon"
                  ng-click="sponseePlanEdit.pausePlan(sponseePlanEdit.sponseeInfo, sponseePlanEdit.sponseeInfo)"
                  ng-if="sponseePlanEdit.planStatus === 'active'">


                    <span class="icon--center" width=><svg version="1.1" id="Layer_1"  width="16px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 20.7 20.7" style="enable-background:new 0 0 20.7 20.7;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M8.5,2.9h-5c-0.2,0-0.3,0.1-0.4,0.2C2.9,3.2,2.9,3.3,2.9,3.5v13.7c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.4,0.2h5
                        c0.2,0,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.3,0.2-0.4V3.5c0-0.2-0.1-0.3-0.2-0.4C8.8,2.9,8.6,2.9,8.5,2.9z"/>
                        <path d="M17.6,3.1c-0.1-0.1-0.3-0.2-0.4-0.2h-5c-0.2,0-0.3,0.1-0.4,0.2c-0.1,0.1-0.2,0.3-0.2,0.4v13.7c0,0.2,0.1,0.3,0.2,0.4
                        c0.1,0.1,0.3,0.2,0.4,0.2h5c0.2,0,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.3,0.2-0.4V3.5C17.8,3.3,17.8,3.2,17.6,3.1z"/>
                        </g>
                        </g>
                        </svg>

                    </span>
                  <span class="button-inner"> Pause Plan</span>
                </a>

                <a class="text-micro button--withIcon"
                   ng-click="sponseePlanEdit.resumePlan(sponseePlanEdit.sponseeInfo, sponseePlanEdit.sponseeInfo)"
                   ng-if="sponseePlanEdit.planStatus === 'paused'">

                   
                  <span class="button-inner"> Resume Plan</span>
                </a>

                <a class="text-micro button--withIcon mb2"
                   ng-click="sponseePlanEdit.cancelActivation(sponseePlanEdit.sponseeInfo, sponseePlanEdit.sponseeInfo)"
                   ng-if="sponseePlanEdit.planStatus === 'activating'">

                  <span class="button-inner"> Cancel Activation</span>
                </a>

                <span class="text-mini" ng-if="sponseePlanEdit.planStatus === 'activating'">
                 Plan will be effective starting tomorrow.
                </span>

                </div>


             </div>

            </div>

          </div>
        
        </form>

      </div>

    </div>

  </div>

</div>
