
<div class="card  card--sponsorship"
     ng-class="{'is-inactive' : sponsorship.sponsorshipInfo.sponsee.status !== 'active'}">

  <div class="card-header">

    <h1 class="sponsorship-name"
        ng-bind="sponsorship.sponsorshipInfo.sponsee.first_name + ' ' + sponsorship.sponsorshipInfo.sponsee.last_name">
    </h1>
    
    <div class="sponsorship-plan">

      Plan Status:
    
      <span ng-switch="sponsorship.planStatus">
    
        <span ng-switch-when="active" class="tag tag--active">
          Active
        </span>
    
        <span ng-switch-when="paused" class="tag  tag--inactive">
            Paused
        </span>

        <span ng-switch-when="activating" class="tag  tag--pending">
            Activating
        </span>

        <span  ng-switch-when="invite pending" class="tag  tag--pending">Invite Pending</span>

      </span>

    </div>

  </div>

  <div class="card-content  text-center">

    <h2 class="statLabel">
      Contributions To Date
    </h2>

    <span class="stat sponsorship-contributions">
     ${{sponsorship.sponsorshipInfo.contributions_to_date}}
    </span>

  </div>

  <div class="card-actions  grid grid--1of2">

    <div class="grid-cell">

      <button  class="button--expanded  button--withIcon  card-action"
               ng-click="sponsorship.boostSponsorship(sponsorship)">
              
        <div class="button-icon icon--center">

          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 20.7 20.7" style="enable-background:new 0 0 20.7 20.7;" xml:space="preserve">

         <title>
           Boost Lighting Bolt Icon
         </title>

          <path d="M14.9,7.3l-4,0.9c-0.2,0.1-0.5-0.3-0.4-0.6l1.2-6.5c0.1-0.5-0.4-0.8-0.7-0.4L5.4,12.2C5.3,12.6,5.5,13,5.8,13l4-0.9
            c0.2-0.1,0.5,0.3,0.4,0.7l-1.6,6.8C8.4,20,9,20.4,9.2,20l6-11.9C15.4,7.7,15.2,7.2,14.9,7.3z"/>
          
          </svg>

      </div>

      <div class="button-label">Boost</div>

      </button>


<!--     <span ng-if='sponsorship.sponsorshipInfo.sponsee.status == "invited" || sponsorship.sponsorshipInfo.sponsee.status == "onboarding"'>
  
      <button  class="button--expanded  button--primary">
  
      <span class="text-micro"
  
            ng-click="dashboard.sendReminder(sponsorship.sponsorshipInfo.sponsee.id)">
  
            Send Reminder
  
      </span>
  
      </button>
  
    </span>
  
    </div>
   -->

    </div>

    <div class="grid-cell">

      <button  class="button--expanded  button--withIcon  card-action"
                ui-sref="sponsor.sponsee({sponseeId: sponsorship.sponsorshipInfo.id})">

        <div class="button-icon icon--center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 20.7 20.7" style="enable-background:new 0 0 20.7 20.7;" xml:space="preserve">
          
          <title>
            View Eyeball Icon
          </title>
          
          <g>
            <path class="st0" d="M20.5,10c-1.7-4.1-5.6-6.8-10.1-6.8C5.8,3.2,1.9,5.9,0.2,10l-0.1,0.3l0.1,0.3c1.7,4.1,5.6,6.8,10.1,6.8
              c4.5,0,8.5-2.7,10.1-6.8l0.1-0.3L20.5,10z M10.3,15.7c-3.6,0-6.8-2.1-8.3-5.3C3.5,7.1,6.7,5,10.3,5c3.6,0,6.8,2.1,8.3,5.3
              C17.2,13.6,14,15.7,10.3,15.7z"/>
            <path class="st0" d="M10.3,6.8c-2,0-3.6,1.6-3.6,3.6c0,2,1.6,3.6,3.6,3.6c2,0,3.6-1.6,3.6-3.6C13.9,8.4,12.3,6.8,10.3,6.8z
               M11.2,10.4c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9c0.5,0,0.9,0.4,0.9,0.9C12.1,9.9,11.7,10.4,11.2,10.4z"/>
          </g>
          </svg>
        </div>

        <div class="button-label">Progress</div>

      </button>
  
    </div>
  
  </div>

</div>
