

<div class="row  small-collapse">

  <div class="small-12 columns" ng-if="!sponseeSponsorship.formSubmittedSuccesfully">

    <form  ng-submit="sponseeSponsorship.createPlan(sponseeSponsorship.sponsorshipDetailsForm, sponseeSponsorship.sponsorshipInfo, sponseeSponsorship.graduateInfo)"
          name="sponseeSponsorship.sponsorshipDetailsForm" novalidate>

      <div ng-if="sponseeSponsorship.formStates.notSubmitted">

        <div class="small-12 medium-4  large-4   medium-uncentered  large-uncentered columns">
        
          <h1 class="ff2 txtc2">
           Make a One-time Boost Payment
          </h1>  

          <p>
            A one-time payment of any amount toward your Graduate's student loans.
            Your bank account will be charged a one-time service fee of $4.99.
          </p>
          
        </div>
      
        <div class="small-12 columns medium-8 large-6 large-pull-2">
          
          <div class="card">

            <div class="card-header">
              
              <div class="card-title">
                Boost Information
              </div>

            </div>

            <div class="card-content card-content--bordered">
            
              <div class="grid--flexDirectionColumn med-grid--flexDirectionRow  grid--top grid">

                <h2 class="card-subTitle  grid-cell grid-cell--autoSize">
                Amount
                </h2>

                <div class="grid-cell  ">
                
                  <div class="row">

                    <div class="small-12 columns">

                      <div class="grid  small-grid--full  med-grid--1of2 grid--flexWrap">
                        <div class="grid-cell radio-group grid  grid--center grid--justifyLeft">
                        
                          <input type="radio"
                           ng-model="sponseeSponsorship.sponsorshipInfo.plan.amount"
                           name="amount"
                           value="50"
                           id="fifty"
                           checked="checked"
                             ng-required="!sponseeSponsorship.sponsorshipInfo.plan.amount"
                            ng-change="sponseeSponsorship.clearSelection(sponseeSponsorship.sponsorshipInfo.plan.amount, 'one-time')"
                           class="radio--large">
                          <label for="fifty"> <span></span>$50</label>
                        
                        </div>
                        
                        <div class="grid-cell radio-group  grid  grid--center grid--justifyLeft">
                        
                          <input type="radio"
                           ng-model="sponseeSponsorship.sponsorshipInfo.plan.amount"
                           name="amount"
                           value="100"
                           id="oneHundred"
                             ng-required="!sponseeSponsorship.sponsorshipInfo.plan.amount"
                            ng-change="sponseeSponsorship.clearSelection(sponseeSponsorship.sponsorshipInfo.plan.amount, 'one-time')"
                           class="radio--large">
                          <label for="oneHundred"><span></span>$100</label>
                        
                        </div>
                                        
                        <div class="grid-cell radio-group grid  grid--center grid--justifyLeft">
                        
                          <input type="radio"
                             ng-model="sponseeSponsorship.sponsorshipInfo.plan.amount"
                             name="amount"
                             value="250"
                             id="twoHundredAndFiftty"
                             ng-required="!sponseeSponsorship.sponsorshipInfo.plan.amount"
                              ng-change="sponseeSponsorship.clearSelection(sponseeSponsorship.sponsorshipInfo.plan.amount, 'one-time')"
                             class="radio--large">
                          <label for="twoHundredAndFiftty"><span></span>$250</label>
                        
                        </div>
                                        
                        <div class="grid-cell radio-group">
                                
                          <div class="grid grid--flexDirectionRow  grid--justifyLeft">
                        
                              <input type="checkbox"
                                     ng-model="sponseeSponsorship.customAmount.active"
                                     name="customLimit"
                                     id="custom"
                                     class="styled-as-radio  radio--large"
                                     ng-change="sponseeSponsorship.clearSelection(sponseeSponsorship.customAmount.active, 'one-time')"
                                     value="sponseeSponsorship.customAmount.active"
                                     check-me="{{sponseeSponsorship.customAmount.amount}}"
                                     >
                        
                              <label for="custom">
                                <span></span>
                                <i class="hide-elem">Other</i>
                                
                                <div class="input--customAmount">
                                  <input type="number"
                                   id="customValue"
                                   name="custom"
                                   class="input--small   mb0"
                                   ng-required="!sponseeSponsorship.sponsorshipInfo.plan.amount"
                                   ng-model="sponseeSpwonsorship.customAmount.amount"
                                   placeholder="Other"
                                   focus-me="{{sponseeSponsorship.customAmount.active}}"
                                   >
                                </div>
                        
                              </label>
                        
                          </div>
                        
                        </div>
                        
                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="card-content"
                 ng-if="!sponseeSponsorship.formStates.linked_bank_already">
              
                <div class="grid--flexDirectionColumn med-grid--flexDirectionRow  grid--top grid">
                  
                  <h2 class="card-subTitle  grid-cell grid-cell--autoSize">
                    Bank Account
                  </h2>
                  
                  <div class="grid-cell">

                      <div class="row ">
                                    
                      <div class="small-12 large-11  columns">
                                    
                        <a class="button  button--medium button--bankLinking button--expanded mb1"
                           ng-class="{'is-linked' :  sponseeSponsorship.formStates.linked_bank}" 
                           ng-click="sponseeSponsorship.linkBank()">
                                    
                          <span ng-if="!sponseeSponsorship.formStates.linked_bank">Link your Funding Account</span>
                          <span ng-if="sponseeSponsorship.formStates.linked_bank">Funding Account Linked</span>
                          
                        </a>

                        <p class="text-mini text-center">
                          One-time authentication of the bank account used to fund your sponsorship contributions.
                        </p>
                                    
                      </div>
                                    
                    </div>

                  </div>
                
                </div>
                  
            </div>

            </div>

            <div class="row">

              <div class="small-12 large-6 large-push-6">

                <button type="submit"
                        class="button--expanded  button--secondary  button--medium"
                        ng-class="{'is-inactive' : !sponseeSponsorship.formStates.linked_bank || sponseeSponsorship.sponsorshipDetailsForm.$invalid}">
                
                  Complete Sponsorship
                
                </button>

              </div>

            </div>  

        </div>
      
      </div>

    </form>

  </div>

  <div class="small-12  medium-8  medium-centered  columns "
        ng-if="sponseeSponsorship.formStates.submittedSuccesfully">

    <div class="planSuccessState">

      <div class="row">
      
        <div class="small-12   small-centered text-center">
      
          <img src="assets/images/illustr--success.svg" 
               alt="Hands doing a high-five" 
               class="illustr  illustr--stateBadge">
      
        </div>
      
      
        <div class="small-12 columns">
          
          <div class="planSuccessState-copy">
            <h1 class="txtc2  ff2 text-center text-kilo">Success!</h1>
                  
            <p class="p2 text-center">
              We’ve notified <span ng-bind="sponseeSponsorship.graduateInfo.identity.first_name  + ' ' + sponseeSponsorship.graduateInfo.identity.last_name"></span>  about your offer to contribute to their student loans. 
            </p>
                  
            <p class="text-center">
              Feel free to send them a reminder on your home page if you don’t hear back in a couple days.
            </p>
                  
            <p class="text-center">
              <a ui-sref="sponsor.dashboard">Go Back Home</a>
            </p>

          </div>
      
        </div>
      
      </div>

    </div>

  </div>

</div>
