

<div class="row">
  
  <div class="small-12 columns" ng-if="!sponseeSponsorship.formSubmittedSuccesfully">

    <form  ng-submit="sponseeSponsorship.finishForm()">

      <div ng-if="sponseeSponsorship.formNotSubmited">

        <h1>Make <br>One-Time Jolt</h1>
      
        <h2>Sponsee: {{sponseeSponsorship.name}}</h2>
        
        <fieldset>
        
          <input type="radio"
                 ng-model="sponseeSponsorship.form.limit"
                 name="limit"
                 value="50"
                 id="fiftyOneTime"> 
          <label for="fiftyOneTime">$50</label>
          
          <input type="radio"
                 ng-model="sponseeSponsorship.form.limit"
                 name="limit"
                 value="100"
                 id="oneHundredOneTime">
          <label for="oneHundredOneTime">$100</label>
        
          <input type="radio"
                 ng-model="sponseeSponsorship.form.limit"
                 name="limit"
                 value="250"
                 id="twoHundredAndFiftty">
          <label for="twoHundredAndFiftty">$250</label>
        
          <input type="checkbox"
                 ng-model="customLimit"
                 name="limit"
                 id="custom">
        
          <label for="custom">Custom</label>
        
          <input type="text" 
                 id="customValue"
                 name="custom"
                 class="input--medium  input--primary"
                 ng-model="sponseeSponsorship.form.limit">
        
        </fieldset>

        <div clas="text-center">
        
          <div class="mtrbl5">BANK ACCOUNT LINKING</div>
        
        </div>
        
        <button ng-click="sponseeSponsorship.processForm()" 
                class="button--expanded  button--primary  button--medium">
          
          Continue
        
        </button>

      </div>

      <div ng-if="!sponseeSponsorship.formNotSubmited">
      
        <p>
          
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur vero facere dolorem sit aperiam reiciendis, hic consequatur. Expedita obcaecati id, ipsam, recusandae eum qui natus unde quaerat, neque est ducimus.
        </p>

        <input type="checkbox" 
               label="agreement" 
               ng-model="sponseeSponsorship.form.acceptedTerms">
        
        <label for="agreement">Accept Terms of Agreement </label>

        <button class="button--medium  button--primary  button--expanded"
                type="submit">
          
          Finish Sponsorship

        </button>

      </div>

    </form>

  </div>

  <div class="small-12  columns"  ng-if="sponseeSponsorship.formSubmittedSuccesfully" >

      <div class="text-center">
          
          <h1>
            <span class="fwb">${{sponseeSponsorship.form.limit}}</span>
            <br>
            <span class="h2">One-Time Payment</span>
          </h1>

         <p> Pledged to: {{sponseeSponsorship.name}}</p>

      </div>

  </div>

</div>