
<div class="section--main section--lead">
  
  <div class="row">
      
    <div class="small-12 medium-9 medium-centered  large-5 columns">

      <div class="card">
        
      <div class="card-header">
          <h1 class="card-title card-title--alt">
          Who would you like to sponsor today?
        </h1>

      </div>
      <div class="card-content">
        <form ng-submit="sponseeCreation.searchSponsee(sponseeCreation.sponseeSearchForm)"
              name="sponseeCreation.sponseeSearchForm"
              novalidate>
                    
          <div class="input-group input--medium">
            <label for="first name">
            First Name
            </label>

            <input type="text" 
            id="first name"
            ng-model="sponseeCreation.searchData.first_name"
            name="first_name"
            required
            ng-minlength="3"
            floating-label>

            <div ng-messages="sponseeCreation.sponseeSearchForm.first_name.$error"
            ng-show="sponseeCreation.sponseeSearchForm.$submitted && sponseeCreation.sponseeSearchForm.$error"
            role="alert"
            class="alerts  alert--warning">

              <div ng-message="required">
              A first name is needed to identity our sponsee.
              </div>

              <div ng-message="minlength">
              Name must be atleast 2 characters in length.
              </div>

            </div>

          </div>

          <div class="input-group input--medium">
          
            <label for="full name">
              Last Name
            </label>
              
            <input type="text" id="full name" 
                   class="input--primary input--medium"
                   ng-model="sponseeCreation.searchData.last_name"
                   required
                   floating-label>
         
          </div>
          
          
          <div class="input-group input--medium">
          
            <label for="email">
              Email
            </label>
          
            <input type="text" 
                   id="email" 
                   class="input--primary input--medium" 
                   ng-model="sponseeCreation.searchData.email"
                   floating-label
                   required>
          
          </div>
          
          <button type="submit" class="button--medium  button--primary   button--expanded">
            Create Sponsorship
          </button>
          
        </form>

      </div>

      </div>
  
    </div>

  </div>

</div>
