
<div class="section--main">

  <div class="row">

    <div class="small-12 columns">

      <div class="section">

        <h1>
          Manage <br> Matching Plan
        </h1>

        <h2 class="h4">Sponsee: <span  ng-bind="sponseePlanEdit.sponsee.first_name + ' ' + sponseePlanEdit.sponsee.last_name"></span></h2>

      </div>

    </div>

<!--

    // Possible removal of this section after git update

    <div class="small-12 columns  text-center">

        <h5 class="fwb">Monthly Limit</h5>

        <span
         class="text-kilo"
         editable-text="sponseePlanEdit.sponseePlan.plan.limit"
         e-form="sponseeDollars"
         onaftersave="checkName($data)"
         >
         {{sponseePlanEdit.sponseePlan.plans["0"].limit ||  "$$$"}} </span>

        <button
           class="button--secondary  sbutton--micro  button--expanded"
           ng-click="sponseeDollars.$show()"
           ng-hide="sponseeDollars.$visible">
          Change Limit
        </button>

      </div>
 -->

    <form ng-submit="sponseePlanEdit.createPlan()">

        <div class="small-12 columns  text-center">

          <h5 class="fwb">Monthly Limit</h5>

          <label>

          Custom Amount

          <input type="number" ng-model="sponseePlanEdit.customAmount" />

          </label>


          <h5 class="fwb">Plan Status</h5>

           ${{sponseePlanEdit.latestPlan.limit}} Monthly Limit
            {{sponseePlanEdit.sponseePlan.sponsee.status}} <br />
           <span ng-switch="sponseePlanEdit.sponseePlan.sponsee.status"
                class="text-kilo">

            <span ng-switch-when="active">

            </span>

            <span ng-switch-when="none">
                <span>None</span>
            </span>

            <span ng-switch-when="unclaimed">
                <span>INVITE PENDING</span>
            </span>

          </span>


          <button class="mt4 mb2 button--small  button--secondary  button--expanded" ng-click="sponseePlanEdit.pausePlan()">
            Pause Plan
          </button>

          <button type="submit" class="button--small  button--secondary  button--expanded">
            Save New Plan
          </button>


        </div>

    </form>

  </div>

</div>
