<div class="row">

  <div class="small-12 columns">
    
    <h1>
     How would you like to sponsor {{sponseeSponsorship.name}}?:
    </h1>  
  
    <a class="button  button--primary  button--medium  button--expanded  mb1"
       ng-click="sponseeSponsorship.setType('matching')"
       ui-sref="sponsor.sponsorshipSetup.matching">
      Set up Monthly Matching
    </a>
  
    <p class="text-micro  text-center  mb4">Match your sponsee's payments toward student loans</p>
  
    <a class="button  button--primary  button--medium  button--expanded  mb1"
       ng-click="sponseeSponsorship.setType('one-time')"
       ui-sref="sponsor.sponsorshipSetup.oneTime">
      Make One-Time Jolt
    </a>
  
    <p class="text-micro  text-center  mb4">A one-time payment of any amount toward their loans</p>
  
  </div>
  
</div>