

<div class="row">
    
  <div class="small-12 columns"
       ng-if="!sponseeJolt.joltSuccessfull">
      
      <div class="mb4">

        <h1>Boost {{sponseeJolt.SponseeInformation.name}}</h1>
        <p>How much would you like to Boost to [name] today?</p>
        
      </div>

      <form
            ng-submit="sponseeJolt.boostSponsee(sponseeJolt.joltForm)"
            name="sponseeJolt.joltForm" 
            novalidate>
        
        <label for="joltAmount" class="text-micro">Jolt Amount</label>

        <input type="number" 
               id="joltAmount"
               name="joltAmount"
               class="input--primary  input--large"
               placeholder="00.00"
               ng-model="sponseeJolt.joltInfo.plan.amount"
               min="1"
               required>
        
        <button class="button--secondary  button--medium  button--expanded"
                type="submit">
            
            Confirm Boost
        
        </button>

      </form>

  </div>

  <div class="small-12 columns"
       ng-if="sponseeJolt.joltSuccessfull">
      

    <div class="text-center">

      <h1 class="fwb">Success!</h1>
      
      <p class="text-left">
        You’ve just saved {{sponseeJolt.SponseeInformation.name}} 3 days in student loan payments. 
      <br><br>
      Why not keep it going? You can also create a monthly matching plan of ${{sponseeJolt.joltAmount}} or more.
      </p>

      <div class="row  small-collapse">
        
        <div class="small-12 columns">
          
          <a ui-sref="sponsor.edit({sponseeEmail: sponseeJolt.SponseeInformation.email})"  
             ng-click="sponseeJolt.closeJoltModal()"
             class="button  button--primary  button--small  button--expanded">
              Set Up Matching Plan
          </a>

          <a ng-click="sponseeJolt.closeJoltModal()"  class="button  button--primary  button--small  button--expanded">
            
            No thanks, a jolt is fine for now.  
      
          </a>  

        </div>

      </div>

    </div>

  </div>

</div>
