
<div class="row">
  
  <div class="small-12  columns ">
   


    <div class="row">

      <div class="small-12 large-4  columns">



      
        <div class="card ">

          <div class="card-header  text-left">

            <h1 class="txtc2 h2 ff2 mb1" 
                ng-bind="sponsorship.sponsorshipInfo.sponsee.first_name + ' ' + sponsorship.sponsorshipInfo.sponsee.last_name ">
          </h1>

        <p  class="mb0  text-left">
            Plan Status:   
            <span ng-switch="sponsorship.currentPlan.active"
                  class="text-center"
                  ng-if='sponsorship.sponsorshipInfo.sponsee.status === "active"'>
                  
              <span ng-switch-when="true" class="tag tag--active   ">
                Active
              </span>
                  
              <span ng-switch-when="false" class="tag  tag--inactive  ">
                  Paused
              </span>
                  
            </span>
                  
            <span ng-if='sponsorship.sponsorshipInfo.sponsee.status === "invited" || sponsorship.sponsorshipInfo.sponsee.status === "onboarding"'>
                <span class="tag  tag--warning">Invite Pending</span>
            </span>
            
            <a class="" ui-sref="sponsor.edit({plan: sponsorship.sponsorshipInfo.id, sponsee: sponsorship.sponsorshipInfo.sponsee})">
              (Edit)
            </a>

          </p>
        
          </div>
        
          <div class="card-content">
                    <div class="grid-cell text-center">
              
              <h2 class="statLabel">
                Contributions To Date
              </h2>
            
              <a  ui-sref="sponsor.sponsee({sponseeId: sponsorship.sponsorshipInfo.id})" 
                  class="stat  txtc1  text-kilo  fwb">
                <span class="">$</span>{{sponsorship.sponsorshipInfo.contributions_to_date}}
              </a>
            
            </div>

          </div>
    
        </div>

      </div>

      <div class="small-12 columns medium-10  large-8">

          <div class="card">

              <div class="card-header">

                <h1 class="card-title">Contribution History</h1>

              </div>
       
              <div class="card-content">

                  <ul class="table  table--list mb0">
                
                  <li ng-repeat="contribution in sponsorship.sponsorshipInfo.contributions track by $index"
                      class="table-row">
                    
                
                    <div class="grid grid--center grid--justifySpaceBetween">
                      <div class="text-micro">
                        {{contribution.date}}
                      </div>
                              
                      <div class="table-contribution">${{contribution.amount}}</div>
                    </div>
                    
                  </li>
                  
                
                  <li class="text-center">
                    <button class="button--medium  button--link">View All</button>
                  </li>
                
                </ul>
  
              </div>

        </div>
       
      </div>

    </div>

  </div>
  
</div>
