<div>
    <div class="fancymodal-badge  grid  grid--center  grid--justifyCenter">
  
      <svg class="fancymodal-badge-icon">
        <use xlink:href="#icon-Boost"/>
  
      </svg>
  
    </div>

    <div class="fancymodal-innerContent  fancymodal-loaderContainer  grid  grid--center  grid--justifyCenter"  ng-show="sponseeBoost.makingBoost">
      <div class="loader  loader--secondary">
        
      
      </div>
    </div>

    <div class="fancymodal-innerContent"
         ng-show="!sponseeBoost.boostSuccessfull && !sponseeBoost.makingBoost">
  
        <p class="p3" ng-show="!sponseeBoost.boostSuccessfull && !sponseeBoost.confirmingBoost">
            How much would you like to Boost towards <span class="fwb" ng-bind="::sponseeBoost.sponseeInfo.first_name + '’s'"></span> student loans today?
        </p>
  
         <p class="p3" ng-show="sponseeBoost.confirmingBoost">
          Are you sure you wish to boost {{::sponseeBoost.sponseeInfo.first_name}} <span class="fwb">{{sponseeBoost.boostInfo.plan.amount | currency:"$":0}}</span> from your withdrawal account?
         </p>
  
  
        <form  ng-submit="sponseeBoost.boostSponsee(sponseeBoost.boostForm)"
              name="sponseeBoost.boostForm"
              novalidate>
  
          <div class="input-group  inputGroup--alt inputGroup--boost"
               ng-class="{'is-locked' : sponseeBoost.confirmingBoost}">
  
            <div class="inputGroup--boost-controls">
  
              <div role="button"  class="control control--up grid  grid--center grid--justifyCenter"
                   ng-click="sponseeBoost.increaseBoostAmount(5)">
                    <svg class="control-icon"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402 402" ><path d="M394 154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414C242.488 2.666 236.02 0 228.398 0h-54.812c-7.612 0-14.084 2.663-19.414 7.993-5.33 5.33-7.994 11.803-7.994 19.414v118.775H27.407c-7.611 0-14.084 2.664-19.414 7.994S0 165.973 0 173.589v54.819c0 7.618 2.662 14.086 7.992 19.411 5.33 5.332 11.803 7.994 19.414 7.994h118.771V374.59c0 7.611 2.664 14.089 7.994 19.417 5.33 5.325 11.802 7.987 19.414 7.987h54.816c7.617 0 14.086-2.662 19.417-7.987 5.332-5.331 7.994-11.806 7.994-19.417V255.813h118.77c7.618 0 14.089-2.662 19.417-7.994 5.329-5.325 7.994-11.793 7.994-19.411v-54.819c-.002-7.616-2.661-14.087-7.993-19.414z"/></svg>
              </div>
  
              <div role="button" class="control control--down"
                   ng-click="sponseeBoost.decreaseBoostAmount(5)">
                    <svg class="control-icon"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402 402"><path d="M394 154.2c-5.3-5.3-11.8-8-19.4-8H27.4c-7.6 0-14.1 2.7-19.4 8S0 166 0 173.6v54.8c0 7.6 2.7 14.1 8 19.4 5.3 5.3 11.8 8 19.4 8h347.2c7.6 0 14.1-2.7 19.4-8 5.3-5.3 8-11.8 8-19.4v-54.8c0-7.6-2.7-14.1-8-19.4z"/></svg>
              </div>
  
            </div>
  
            <input type="number"
                   id="boostAmount"
                   name="boostAmount"
                   ng-model="sponseeBoost.boostInfo.plan.amount"
                   min="1"
                   placeholder="20"
                   floating-label
                   ng-click="sponseeBoost.resetBoostingView()"
                   ng-change="sponseeBoost.resetBoostingView()"
                   required>
  
          </div>
  
          <button class="button--secondary  button--large  button--expanded  button--boost"
                  ng-class="{'is-locked' : sponseeBoost.confirmingBoost}"
                  type="submit">
  
              <span ng-show="!sponseeBoost.confirmingBoost">Make a One-Time Boost</span>
              <span ng-show="sponseeBoost.confirmingBoost">Boost {{::sponseeBoost.sponseeInfo.first_name}}</span>
  
          </button>
  
          <p class="text-center mb0">
  
            <a ng-click="$modal.close()" role="button" class="fancymodal-options-option">Cancel</a>
  
          </p>
  
        </form>
  
    </div>
    
    <div class="fancymodal-innerContent"
         ng-show="sponseeBoost.boostSuccessfull">
  
      <div class="text-center">
  
        <img src="assets/images/illustr--success.svg"
             alt="Hands doing a high-five"
             class="illustr  illustr--stateBadge">
  
        <h1 class="fwb  ff2 txtc2">Success!</h1>
  
        <p class="text-center p2">
  
          You just boosted {{sponseeBoost.sponseeInfo.first_name}} <span class="fwb">{{sponseeBoost.boostInfo.plan.amount | currency:"$":0}}</span>! <br> We’re sure your Graduate appreciates it.
        </p>
  
        <p class="text-center mb0">
  
          <a ng-click="$modal.close()" role="button" class="fancymodal-options-option">Close</a>
  
        </p>
  
      </div>
  
    </div>

  </div>
  