

<div>
  
  <div class="fancymodal-badge  grid  grid--center  grid--justifyCenter">  

    <svg class="fancymodal-badge-icon">
      <use xlink:href="#icon-Pause"/>

    </svg>

  </div>

  <div ng-if="!planEditConfirmation.succesfullyEdited">

    <div class="fancymodal-innerContent">
    
      <p class="mb0">
       Are you sure  you wish to pause <span ng-bind="planEditConfirmation.sponsee.first_name + ' ' + planEditConfirmation.sponsee.last_name"></span>'s matching plan? Pausing takes up to 24 hours and plan can not be resumed until it has been succesfully paused.
      </p>
    
    </div>
    
    <div class="fancymodal-options  grid  grid--center">
      
      <button ng-click="$modal.close()" role="button" class="fancymodal-options-option">

        <svg class="option-icon">
          <use xlink:href="#icon-Decline"/>
      
        </svg>
      
       <span class="option-label">Cancel</span>
      
      </button>

      <button ng-click="planEditConfirmation.patchPlan()" role="button" class="fancymodal-options-option fancymodal-options-option--primary">
      
        <svg class="option-icon">
          <use xlink:href="#icon-Success"/>
      
        </svg>
      
       <span class="option-label">Confirm</span>
      
      </button>
      
    </div>

    </div>

  </div>

  <div ng-if="planEditConfirmation.succesfullyEdited">
    
    <div class="fancymodal-innerContent">
      
      <h1 class="h2  ff2  txtc2  text-center">
        Success!
      </h1>
    
      <p>
       You've succesfully paused <span ng-bind="planEditConfirmation.sponsee.first_name + ' ' + planEditConfirmation.sponsee.last_name"></span>'s matching plan. Your changes will take up to 24 hours to take effect. 
      </p>
    
      <p class="text-center mb0">
        <a ng-click="$modal.close()" role="button" class="fancymodal-options-option">Close</a>
      </p>
  
    </div>

  </div>

</div>

