
/*------------------------------------*\
    #Buttons
\*------------------------------------*/

/*------------------------------------*\
    #Default Class (Extends from themes.scss)
\*------------------------------------*/

%button {
	transition: none;
	border: 0;
	color: #fff;
	cursor: pointer; 
	text-align: center;
    vertical-align: middle;
    @extend %display-inlineBlock;
}



// Removes blue border around selected inputs, buttons or elements with tab-index attr
%disableDefaultHighlight {

    outline: none;  
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 -webkit-tap-highlight-color: transparent;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}
