
/*------------------------------------*\
    #Colors 
\*------------------------------------*/

$primaryColor: #6AC6C5; 
$primaryColor--dark: darken($primaryColor, 15%); 
$primaryColor--translucent: rgba($primaryColor, .9); 

$secondaryColor: #333031; 
$secondaryColor--dark: darken($secondaryColor, 20%); 
$secondaryColor--translucent: rgba($secondaryColor, .9);

$tertiaryColor: #238EB2; 
$tertiaryColor--dark: darken($tertiaryColor, 25%); 
$tertiaryColor--translucent: rgba($tertiaryColor, .9); 

$quaternaryColor: #e8f1f1; 
$quaternaryColor--dark: darken($quaternaryColor, 25%); 
$quaternaryColor--translucent: rgba($tertiaryColor, .9); 


$accentColor: #FBC510; 
$accentColor--dark: darken($accentColor, 45%); 
$accentColor--translucent: rgba($accentColor, 0.9);  


@mixin primaryGradient {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,238eb2+0,63decb+100 */
  background: #1e5799; /* Old browsers */
 // background: -moz-linear-gradient(top, #1e5799 0%, #238eb2 0%, #63decb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #1e5799 0%,#238eb2 0%,#63decb 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to bottom, #1e5799 0%,#238eb2 0%,#63decb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#63decb',GradientType=0 ); /* IE6-9 */

}



/*------------------------------------*\
    #Greys
\*------------------------------------*/

$grey--light: #dae0e0;
$grey--med: #6d6c6c;
$grey--dark: #333031 ;





/*------------------------------------*\
    #Typography Colors 
\*------------------------------------*/

$body-color: #6d6c6c; 





/*------------------------------------*\
    #Social Media Colors
\*------------------------------------*/


$blue-twitter: #55ACEE;
$blue-facebook: #3b5998;
$blue-vimeo: #1ab7ea; 
$blue-instagram: #517fa4; 
$red-pinterest: #cb2027; 





/*------------------------------------*\
    #UI Colors 
\*------------------------------------*/

$warningColor: #FD7272; 
$translucentBlack:  rgba(14, 14, 14, 0.9);
$white--translucent: rgba(255,255,255, .7); 




$quintenaryColor: #3D817F; 
$quintenaryColor--dark: darken($quintenaryColor, 25%); 
$quintenaryColor--translucent: rgba($quintenaryColor, .9); 

