
/*------------------------------------*\
    #Colors 
\*------------------------------------*/

$primaryColor: #6AC6C5; 
$primaryColor--dark: darken($primaryColor, 15%); 
$primaryColor--translucent: rgba($primaryColor, .9); 

$secondaryColor: #333031; 
$secondaryColor--dark: darken($secondaryColor, 20%); 
$secondaryColor--translucent: rgba($secondaryColor, .9);

$tertiaryColor: #3D817F; 
$tertiaryColor--dark: darken($tertiaryColor, 25%); 
$tertiaryColor--translucent: rgba($tertiaryColor, .9); 

$accentColor: #FBC510; 
$accentColor--dark: darken($accentColor, 45%); 
$accentColor--translucent: rgba($accentColor, 0.9);  





/*------------------------------------*\
    #Greys
\*------------------------------------*/

$grey--light: #F7F7F7;
$grey--med: #757575;
$grey--dark: #333031 ;





/*------------------------------------*\
    #Typography Colors 
\*------------------------------------*/

$body-color: $grey--med; 





/*------------------------------------*\
    #Social Media Colors
\*------------------------------------*/


$blue-twitter: #55ACEE;
$blue-facebook: #3b5998;
$blue-vimeo: #1ab7ea; 
$blue-instagram: #517fa4; 
$red-pinterest: #cb2027; 





/*------------------------------------*\
    #UI Colors 
\*------------------------------------*/

$warningColor: red; 
$translucentBlack:  rgba(14, 14, 14, 0.9);
$white--translucent: rgba(255,255,255, .7); 






$quaternaryColor: #F1F1F1; 
$quaternaryColor--dark: darken($quaternaryColor, 25%); 
$quaternaryColor--translucent: rgba($quaternaryColor, .9); 

$quintenaryColor: #3D817F; 
$quintenaryColor--dark: darken($quintenaryColor, 25%); 
$quintenaryColor--translucent: rgba($quintenaryColor, .9); 

