

<div class="funnel grid--center  grid  grid--justifyCenter" 
     ng-class="{'is-hidden' : funnel.isHidden}">
  
  <div class="funnel-overlay">
    

  </div>

  <div class="row">
    
    <div class="small-12  columns">
  
      <div class="card funnel-card">
  
        <div class="card-content  funnel-inner">
          
          <div class="funnel--illustr  center">
            <img src="assets/images/illustr--funnel.svg" alt="Pickpocket hand going for a pocket">
          </div>
  
          <h1 class="ff2 txtc2 text-center funnel-headline ">Pickpocket
            gets rid of <br class="show-for-large-up">student loans 
            2-4x faster.
          </h1>
  
          <p class="txtc2 text-center">
            Whose student loans would you like to pay down?
          </p>
  
          <div class="row">
            <div class="small-12 columns medium-8  large-7 medium-centered">
              <div class="grid  grid--flexDirectionColumn  grid--full  med-grid--flexDirectionRow  med-grid--center med-grid--1of2 funnel-options">
                  <div class="funnel-option  grid-cell ">
                    <a ui-sref="main.sponsorHome" class="button button--tertiary  button--large  button--expanded" ng-click="funnel.revealPage()">
                      
                      Someone Else's 
                    </a>
                  </div>
                                          
                                          
                  <div class="funnel-option  grid-cell ">
                    <a ui-sref="main.home" class="button button--secondary  button--large  button--expanded" ng-click="funnel.revealPage()">
                      
                      Mine
                    </a>
                  </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  
  </div>

</div>